<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:s="http://jboss.org/schema/seam/taglib"
	xmlns:f="http://java.sun.com/jsf/core">
	<p:dialog header="#{msg.patient_autres_beneficiaires}"
		id="dg_autres_beneficiaires" widgetVar="dg_autres_beneficiaires">
		<p:dataList value="#{patientAction.autresBeneficiares}" var="patient">
			#{patient.id} #{patient.prenom} #{patient.nom}
			
			</p:dataList>
		<f:facet name="footer">
			<h:panelGroup layout="block" styleClass="pull-right">
				<p:commandButton styleClass="btn" value="Fermer"
					onclick="dg_autres_beneficiaires.hide()" />
			</h:panelGroup>
		</f:facet>
	</p:dialog>
</ui:composition>