<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:s="http://jboss.org/schema/seam/taglib"
	xmlns:f="http://java.sun.com/jsf/core">
		<p:dialog header="Fiche consultation"
			id="dg-confirmation-fiche"
			widgetVar="confirmation_fiche">
			<h:outputText value="Aucun rendez-vous n'est prévu pour aujourd'hui"
				style="margin-left:10px" />
		</p:dialog>
</ui:composition>