<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:s="http://jboss.org/schema/seam/taglib"
	xmlns:f="http://java.sun.com/jsf/core">

	<h:form id="form-gynecologie">

	Module #{msg.patient_gynecologie	

	<img style="margin-left:200px;width:300px;height:300px;" class="imgong" src="/medicis/img/gyneco.png" alt="gyneco"></img>

			</h:form>

</ui:composition>