<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:s="http://jboss.org/schema/seam/taglib"
	xmlns:f="http://java.sun.com/jsf/core">

	<p:panel header="#{msg.patient_identite}">
		<div class="row-fluid">
			<div class="span6">
				<h:panelGrid columns="2" cellspacing="1" style="width :100%;"
					rowClasses="ui-widget-content ui-datatable-odd,ui-widget-content ui-datatable-even">
					<h:outputText value="#{msg.patient_num_dossier}"
						style="font-weight:bold" />
					<h:outputLabel
						value="#{patientAction.patientSelectioner.numDossier}" />
					<h:outputText value="#{msg.patient_nom}" style="font-weight:bold" />
					<h:outputLabel value="#{patientAction.patientSelectioner.nom}" />
					<h:outputText value="#{msg.patient_prenom}"
						style="font-weight:bold" />
					<h:outputLabel value="#{patientAction.patientSelectioner.prenom}" />
					<h:outputText value="#{msg.patient_age}" style="font-weight:bold" />
					<h:outputLabel value="#{patientAction.patientSelectioner.age}" />
					<h:outputText value="#{msg.patient_cni}" style="font-weight:bold" />
					<h:outputLabel value="#{patientAction.patientSelectioner.cni}" />
				</h:panelGrid>
			</div>
			<div class="span6">
				<h:panelGrid columns="2" style="width :100%;"
					rowClasses="ui-widget-content ui-datatable-odd,ui-widget-content ui-datatable-even">
					<h:outputText value="#{msg.patient_adresse}"
						style="font-weight:bold" />
					<h:outputLabel value="#{patientAction.patientSelectioner.adresse}" />
					<h:outputText value="#{msg.patient_tel}" style="font-weight:bold" />
					<h:outputLabel
						value="#{patientAction.patientSelectioner.telephonePatient}" />
					<h:outputText value="#{msg.patient_email}" style="font-weight:bold" />
					<h:outputLabel value="#{patientAction.patientSelectioner.email}" />
					<h:outputText value="#{msg.patient_profession}"
						style="font-weight:bold" />
					<h:outputLabel
						value="#{patientAction.patientSelectioner.profession}" />
					<h:outputText value="#{msg.patient_profil}"
						style="font-weight:bold" />
					<h:outputLabel
						value="#{patientAction.patientSelectioner.beneficiaire.id == NULL ? 'Particulier' : 'Assuré'}" />
				</h:panelGrid>
			</div>
		</div>

	</p:panel>

	<p:panel header="#{msg.patient_affiliation}">
		<h:panelGrid columns="3" cellspacing="1" style="width :100%;"
			rowClasses="ui-widget-content ui-datatable-odd,ui-widget-content ui-datatable-even">
			<h:outputText value="#{msg.NOUVEAU_PATIENT_lien}"
				style="font-weight:bold" />
			<h:outputLabel
				value="#{patientAction.patientSelectioner.beneficiaire.statut}" />
			<h:panelGroup layout="block"  rendered="#{patientAction.autresBeneficiares != null and patientAction.autresBeneficiares.size() != 0}">
				<h:form id="form_autres_beneficiaires">
					<h:commandLink onclick="dg_autres_beneficiaires.show()"
						styleClass="btn btn-link" value="Autres ayant droit" />
					<ui:include src="autres_beneficiares.xhtml" />
				</h:form>
			</h:panelGroup>
		</h:panelGrid>
		<div class="row-fluid">
			<div class="span6">
				<p:panel header="#{msg.patient_beneficiaire}">
					<h:panelGrid columns="2" cellspacing="1" style="width :100%;"
						rowClasses="ui-widget-content ui-datatable-odd,ui-widget-content ui-datatable-even">
						<h:outputText value="#{msg.patient_beneficiaire_matricule}"
							style="font-weight:bold" />
						<h:outputLabel
							value="#{patientAction.patientSelectioner.beneficiaire.matricule}" />
					</h:panelGrid>
					<div class="row-fluid">
						<div class="span6">
							<h:panelGrid columns="2" cellspacing="1" style="width :100%;"
								rowClasses="ui-widget-content ui-datatable-odd,ui-widget-content ui-datatable-even">
								<h:outputText value="#{msg.patient_nom}"
									style="font-weight:bold" />
								<h:outputLabel
									value="#{patientAction.patientSelectioner.beneficiaire.nom}" />
								<h:outputText value="#{msg.patient_police}"
									style="font-weight:bold" />
								<h:outputLabel
									value="#{patientAction.patientSelectioner.beneficiaire.police}" />
								<h:outputText value="#{msg.patient_tel}"
									style="font-weight:bold" />
								<h:outputLabel
									value="#{patientAction.patientSelectioner.beneficiaire.telephone}" />
							</h:panelGrid>
						</div>

						<div class="span6">
							<h:panelGrid columns="2" cellspacing="1" style="width :100%;"
								rowClasses="ui-widget-content ui-datatable-odd,ui-widget-content ui-datatable-even">
								<h:outputText value="#{msg.patient_prenom}"
									style="font-weight:bold" />
								<h:outputLabel
									value="#{patientAction.patientSelectioner.beneficiaire.prenom}" />
								<h:outputText value="#{msg.patient_taux}"
									style="font-weight:bold" />
								<h:outputLabel
									value="#{patientAction.patientSelectioner.beneficiaire.clientTaux.taux} %" />
								<h:outputText value="#{msg.patient_email}"
									style="font-weight:bold" />
								<h:outputLabel
									value="#{patientAction.patientSelectioner.beneficiaire.email}" />
							</h:panelGrid>
						</div>
					</div>
				</p:panel>
			</div>
			<div class="span6">
				<p:panel header="#{msg.patient_client}">
					<h:panelGrid columns="2" style="width :100%;"
						rowClasses="ui-widget-content ui-datatable-odd,ui-widget-content ui-datatable-even">
						<h:outputText value="#{msg.patient_type}" style="font-weight:bold" />
						<h:outputLabel
							value="#{patientAction.patientSelectioner.beneficiaire.clientTaux.client.typeClient.libelle}" />
						<h:outputText value="#{msg.patient_nom}" style="font-weight:bold" />
						<h:outputLabel
							value="#{patientAction.patientSelectioner.beneficiaire.clientTaux.client.designation}" />
						<h:outputText value="#{msg.patient_tel}" style="font-weight:bold" />
						<h:outputLabel
							value="#{patientAction.patientSelectioner.beneficiaire.clientTaux.client.telephone}" />
					</h:panelGrid>
				</p:panel>
			</div>
		</div>
	</p:panel>

</ui:composition>
