<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:s="http://jboss.org/schema/seam/taglib"
	xmlns:f="http://java.sun.com/jsf/core">
	<h:form id="form-fiche-irm">
		<h:panelGroup id="form_irm" layout="block"
			rendered="#{diagnosticAction.examenIRM}">
			<p:panel header="#{msg.consultation_contre_indications}">
				<h:panelGrid columns="3">
					<h:panelGroup layout="block">
						<p:selectBooleanCheckbox
							value="#{diagnosticAction.nouveauDiagnostic.infosIrm.claustrophobie}" />
						<h:outputText value="#{msg.consultation_claustrophobie}" />
					</h:panelGroup>
					<h:panelGroup layout="block">
						<p:selectBooleanCheckbox
							value="#{diagnosticAction.nouveauDiagnostic.infosIrm.stimulateurCardiaque}" />
						<h:outputText value="#{msg.consultation_stimulateur_cardiaque}" />
					</h:panelGroup>
					<h:panelGroup layout="block">
						<p:selectBooleanCheckbox
							value="#{diagnosticAction.nouveauDiagnostic.infosIrm.materielVasculaire}" />
						<h:outputText value="#{msg.consultation_materiel_vasculaire}" />
					</h:panelGroup>
					<h:panelGroup layout="block">
						<p:selectBooleanCheckbox
							value="#{diagnosticAction.nouveauDiagnostic.infosIrm.prothese}" />
						<h:outputText value="#{msg.consultation_prothese}" />
					</h:panelGroup>
					<h:panelGroup layout="block">
						<p:selectBooleanCheckbox
							value="#{diagnosticAction.nouveauDiagnostic.infosIrm.eclatMetallique}" />
						<h:outputText value="#{msg.consultation_eclat_metallique}" />
					</h:panelGroup>
					<h:panelGroup layout="block">
						<p:selectBooleanCheckbox
							value="#{diagnosticAction.nouveauDiagnostic.infosIrm.materielChirurgical}" />
						<h:outputText value="#{msg.consultation_materiel_chirurgical}" />
					</h:panelGroup>
					<h:panelGroup layout="block">
						<p:selectBooleanCheckbox
							value="#{diagnosticAction.nouveauDiagnostic.infosIrm.patchCutanee}" />
						<h:outputText value="#{msg.consultation_patch_cutanee}" />
					</h:panelGroup>
					<h:panelGroup layout="block">
						<p:selectBooleanCheckbox
							value="#{diagnosticAction.nouveauDiagnostic.infosIrm.travailleurMetaux}" />
						<h:outputText value="#{msg.consultation_travailleur_metaux}" />
					</h:panelGroup>
					<h:panelGroup layout="block">
						<p:selectBooleanCheckbox
							value="#{diagnosticAction.nouveauDiagnostic.infosIrm.clipNeaochirurgical}" />
						<h:outputText value="#{msg.consultation_clip_neaochirurgical}" />
					</h:panelGroup>
					<h:panelGroup layout="block">
						<p:selectBooleanCheckbox
							value="#{diagnosticAction.nouveauDiagnostic.infosIrm.valveCardiaque}" />
						<h:outputText value="#{msg.consultation_valve_cardiaque}" />
					</h:panelGroup>
					<h:panelGroup layout="block">
						<p:selectBooleanCheckbox
							value="#{diagnosticAction.nouveauDiagnostic.infosIrm.valveIntracranienne}" />
						<h:outputText value="#{msg.consultation_valve_intracranienne}" />
					</h:panelGroup>
					<h:panelGroup layout="block">
						<p:selectBooleanCheckbox
							value="#{diagnosticAction.nouveauDiagnostic.infosIrm.sutureMetalique}" />
						<h:outputText value="#{msg.consultation_suture_metalique}" />
					</h:panelGroup>
				</h:panelGrid>
				<h:panelGrid columns="2">
					<h:panelGroup layout="block">
						<p:selectBooleanCheckbox
							value="#{diagnosticAction.nouveauDiagnostic.infosIrm.grossesse}" />
						<h:outputText value="#{msg.consultation_grossesse}" />
					</h:panelGroup>
					<h:panelGroup layout="block">
						<p:selectBooleanCheckbox
							value="#{diagnosticAction.nouveauDiagnostic.infosIrm.autresContresIndicationsYN}" />
						<h:outputText
							value="#{msg.consultation_autres_contres_indications}" />
						<h:inputText
							value="#{diagnosticAction.nouveauDiagnostic.infosIrm.autresContresIndications}" />
					</h:panelGroup>
				</h:panelGrid>
			</p:panel>

			<p:panel header="#{msg.consultation_explorations_demandees}">
				<h:panelGrid columns="3">
					<h:panelGroup layout="block">
						<p:selectBooleanCheckbox
							value="#{diagnosticAction.nouveauDiagnostic.infosIrm.craneContenu}" />
						<h:outputText value="#{msg.consultation_crane_contenu}" />
					</h:panelGroup>
					<h:panelGroup layout="block">
						<p:selectBooleanCheckbox
							value="#{diagnosticAction.nouveauDiagnostic.infosIrm.rachisCervical}" />
						<h:outputText value="#{msg.consultation_rachis_cervical}" />
					</h:panelGroup>
					<h:panelGroup layout="block">
						<p:selectBooleanCheckbox
							value="#{diagnosticAction.nouveauDiagnostic.infosIrm.rachisLombaire}" />
						<h:outputText value="#{msg.consultation_rachis_lombaire}" />
					</h:panelGroup>
					<h:panelGroup layout="block">
						<p:selectBooleanCheckbox
							value="#{diagnosticAction.nouveauDiagnostic.infosIrm.epauleGauche}" />
						<h:outputText value="#{msg.consultation_epaule_gauche}" />
					</h:panelGroup>
					<h:panelGroup layout="block">
						<p:selectBooleanCheckbox
							value="#{diagnosticAction.nouveauDiagnostic.infosIrm.epauleDroit}" />
						<h:outputText value="#{msg.consultation_epaule_droit}" />
					</h:panelGroup>
					<h:panelGroup layout="block">
						<p:selectBooleanCheckbox
							value="#{diagnosticAction.nouveauDiagnostic.infosIrm.abdomen}" />
						<h:outputText value="#{msg.consultation_abdomen}" />
					</h:panelGroup>
					<h:panelGroup layout="block">
						<p:selectBooleanCheckbox
							value="#{diagnosticAction.nouveauDiagnostic.infosIrm.pelvis}" />
						<h:outputText value="#{msg.consultation_pelvis}" />
					</h:panelGroup>
					<h:panelGroup layout="block">
						<p:selectBooleanCheckbox
							value="#{diagnosticAction.nouveauDiagnostic.infosIrm.orbite}" />
						<h:outputText value="#{msg.consultation_orbite}" />
					</h:panelGroup>
					<h:panelGroup layout="block">
						<p:selectBooleanCheckbox
							value="#{diagnosticAction.nouveauDiagnostic.infosIrm.moelle}" />
						<h:outputText value="#{msg.consultation_moelle}" />
					</h:panelGroup>
					<h:panelGroup layout="block">
						<p:selectBooleanCheckbox
							value="#{diagnosticAction.nouveauDiagnostic.infosIrm.rachisDorsal}" />
						<h:outputText value="#{msg.consultation_rachis_dorsal}" />
					</h:panelGroup>
					<h:panelGroup layout="block">
						<p:selectBooleanCheckbox
							value="#{diagnosticAction.nouveauDiagnostic.infosIrm.hancheGauche}" />
						<h:outputText value="#{msg.consultation_hanche_gauche}" />
					</h:panelGroup>
					<h:panelGroup layout="block">
						<p:selectBooleanCheckbox
							value="#{diagnosticAction.nouveauDiagnostic.infosIrm.hancheDroit}" />
						<h:outputText value="#{msg.consultation_hanche_droit}" />
					</h:panelGroup>
					<h:panelGroup layout="block">
						<p:selectBooleanCheckbox
							value="#{diagnosticAction.nouveauDiagnostic.infosIrm.genouGauche}" />
						<h:outputText value="G#{msg.consultation_genou_gauche}" />
					</h:panelGroup>

					<h:panelGroup layout="block">
						<p:selectBooleanCheckbox
							value="#{diagnosticAction.nouveauDiagnostic.infosIrm.genouDroit}" />
						<h:outputText value="#{msg.consultation_genou_droit}" />
					</h:panelGroup>
					<h:panelGroup layout="block">
						<p:selectBooleanCheckbox
							value="#{diagnosticAction.nouveauDiagnostic.infosIrm.pharynxLarnyx}" />
						<h:outputText value="#{msg.consultation_pharynx_larnyx}" />
					</h:panelGroup>
				</h:panelGrid>
				<h:panelGrid columns="2">
					<h:panelGroup layout="block">
						<p:selectBooleanCheckbox
							value="#{diagnosticAction.nouveauDiagnostic.infosIrm.coeurVaisseaux}" />
						<h:outputText value="#{msg.consultation_coeur_vaisseaux}" />
					</h:panelGroup>
					<h:panelGroup layout="block">
						<p:selectBooleanCheckbox
							value="#{diagnosticAction.nouveauDiagnostic.infosIrm.autresExplorationsYN}" />
						<h:outputText value="#{msg.consultation_autres}" />
						<h:inputText
							value="#{diagnosticAction.nouveauDiagnostic.infosIrm.autresExplorations}" />
					</h:panelGroup>
				</h:panelGrid>
			</p:panel>

			<p:panel header="#{msg.consultation_informations_supplementaires}">
				<h:panelGrid columns="2">
					<h:panelGrid columns="2">
						<h:outputText value="#{msg.consultation_indications_cliniques}" />
						<h:inputText
							value="#{diagnosticAction.nouveauDiagnostic.infosIrm.indicationsCliniques}" />
						<h:outputText value="#{msg.consultation_antecedents}" />
						<h:inputText
							value="#{diagnosticAction.nouveauDiagnostic.infosIrm.antecedents}" />
						<h:outputText value="#{msg.consultation_informations_attendues}" />
						<h:inputText
							value="#{diagnosticAction.nouveauDiagnostic.infosIrm.informationsAttendues}" />
					</h:panelGrid>
					<h:panelGrid columns="2">
						<h:outputText value="#{msg.consultation_cooperer}" />
						<p:selectOneRadio
							value="#{diagnosticAction.nouveauDiagnostic.infosIrm.coopererYN}"
							required="true">
							<f:selectItem itemLabel="Oui" itemValue="true" />
							<f:selectItem itemLabel="Non" itemValue="false" />
						</p:selectOneRadio>
						<h:outputText value="#{msg.consultation_valide}" />
						<p:selectOneRadio
							value="#{diagnosticAction.nouveauDiagnostic.infosIrm.valideYN}"
							required="true">
							<f:selectItem itemLabel="Oui" itemValue="true" />
							<f:selectItem itemLabel="Non" itemValue="false" />
						</p:selectOneRadio>
						<h:outputText value="#{msg.consultation_allergies}" />
						<p:selectOneRadio
							value="#{diagnosticAction.nouveauDiagnostic.infosIrm.allergiesYN}"
							required="true">
							<f:selectItem itemLabel="Oui" itemValue="true" />
							<f:selectItem itemLabel="Non" itemValue="false" />
						</p:selectOneRadio>
					</h:panelGrid>
				</h:panelGrid>
			</p:panel>
		</h:panelGroup>
	</h:form>
</ui:composition>