<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:s="http://jboss.org/schema/seam/taglib"
	xmlns:f="http://java.sun.com/jsf/core">
	<h:form id="form-fiche-odonto">
		<!-- <h:panelGroup id="form_odonto" layout="block">
			<p:panel header="#{msg.patient_identite}">
				<div class="row-fluid">
					<div class="span6">
						<h:panelGrid columns="2" cellspacing="1" style="width :100%;"
							rowClasses="ui-widget-content ui-datatable-odd,ui-widget-content ui-datatable-even">
							<h:outputText value="#{msg.patient_num_dossier}"
								style="font-weight:bold" />
							<h:outputLabel value="" />
							<h:outputText value="#{msg.patient_nom}" style="font-weight:bold" />
							<h:outputLabel value="" />
							<h:outputText value="#{msg.patient_age}" style="font-weight:bold" />
							<h:outputLabel value="" />
						</h:panelGrid>
					</div>
				</div>
			</p:panel>
		</h:panelGroup>
		<h:panelGroup>
			<p:dataTable id="traitement-prev" var="prevu"
				value="#{diagnosticAction.listeDiagnostics}"
				rowKey="#{diagnostic.id}" paginator="true" rows="10"
				paginatorPosition="bottom"
				selection="#{diagnosticAction.diagnosticChoisis}"
				selectionMode="single" paginatorAlwaysVisible="false"
				paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
				rowsPerPageTemplate="5,10,15">
				<f:facet name="header">
            	#{msg.consultation_liste_examens}
       			</f:facet>
				<p:column filterBy="#{prevu.examen.libelle}"
					sortBy="#{prevu.examen.libelle}">
					<f:facet name="header">#{msg.consultation_examen}</f:facet>
		           	#{prevu.examen.libelle}
		        </p:column>
				<p:column filterBy="#{prevu.medecin.utilisateur.prenom}"
					sortBy="#{prevu.medecin.utilisateur.prenom}">
					<f:facet name="header">#{msg.consultation_medecin}</f:facet>
		            #{prevu.medecin.utilisateur.prenom} #{prevu.medecin.utilisateur.prenom}
		        </p:column>
				<p:column filterBy="#{prevu.date}" sortBy="#{prevu.date}">
					<f:facet name="header">#{msg.consultation_date}</f:facet>
					<h:outputText value=" #{prevu.date}">
						<f:convertDateTime pattern="dd/MM/yyyy HH:mm" type="date" />
					</h:outputText>

				</p:column>
			</p:dataTable>
		</h:panelGroup>
				<h:panelGroup>
			<p:dataTable id="traitement-AFaire" var="AFaire"
				value="#{diagnosticAction.listeDiagnostics}"
				rowKey="#{diagnostic.id}" paginator="true" rows="10"
				paginatorPosition="bottom"
				selection="#{diagnosticAction.diagnosticChoisis}"
				selectionMode="single" paginatorAlwaysVisible="false"
				paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
				rowsPerPageTemplate="5,10,15">
				<f:facet name="header">
            	#{msg.consultation_liste_examens}
       			</f:facet>
				<p:column filterBy="#{AFaire.examen.libelle}"
					sortBy="#{AFaire.examen.libelle}">
					<f:facet name="header">#{msg.consultation_examen}</f:facet>
		           	#{AFaire.examen.libelle}
		        </p:column>
				<p:column filterBy="#{AFaire.medecin.utilisateur.prenom}"
					sortBy="#{AFaire.medecin.utilisateur.prenom}">
					<f:facet name="header">#{msg.consultation_medecin}</f:facet>
		            #{AFaire.medecin.utilisateur.prenom} #{AFaire.medecin.utilisateur.prenom}
		        </p:column>
				<p:column filterBy="#{AFaire.date}" sortBy="#{AFaire.date}">
					<f:facet name="header">#{msg.consultation_date}</f:facet>
					<h:outputText value=" #{AFaire.date}">
						<f:convertDateTime pattern="dd/MM/yyyy HH:mm" type="date" />
					</h:outputText>

				</p:column>
			</p:dataTable>
		</h:panelGroup> -->
		<img style="margin-left:200px;width:300px;height:300px;" class="imgong" src="/medicis/img/odonto.png" alt="odonto"></img>
	</h:form>
</ui:composition>