<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:s="http://jboss.org/schema/seam/taglib"
	xmlns:f="http://java.sun.com/jsf/core">

	<h:form id="form-radiologie">
		<p:growl id="growl" showDetail="false" life="10000" />

		<h:panelGroup layout="block" styleClass="form-actions text-right">
			<p:commandButton value="#{msg.consultation_fiche}"
				styleClass="btn btn-primary"
				action="#{diagnosticAction.ficheConsultationRadiologie}">
				<f:setPropertyActionListener
					target="#{diagnosticAction.diagnosticChoisis}" value="#{null}" />
			</p:commandButton>
		</h:panelGroup>
	</h:form>
	<h:form id="form-radiologie-examensProchains">
		<p:contextMenu for="examensProchainsRadiologie">
			<p:menuitem value="#{msg.consultation_fiche}"
				action="#{diagnosticAction.ficheConsultationRadiologie}"
				icon="ui-icon-pencil" />
		</p:contextMenu>
		<p:dataTable id="examensProchainsRadiologie" var="diagnostic"
			value="#{diagnosticAction.diagnosticsProchainsRadiologie}"
			rowKey="#{diagnostic.id}" paginator="true" rows="10"
			selection="#{diagnosticAction.diagnosticChoisis}"
			selectionMode="single" paginatorAlwaysVisible="false"
			paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
			rowsPerPageTemplate="5,10,15" paginatorPosition="bottom">
			<f:facet name="header">
            	#{msg.consultation_examens_afaire}
       			</f:facet>
			<p:column filterBy="#{diagnostic.examen.libelle}"
				sortBy="#{diagnostic.examen.libelle}">
				<f:facet name="header">#{msg.consultation_examen}</f:facet>
		           	#{diagnostic.examen.libelle}
		        </p:column>
			<p:column filterBy="#{diagnostic.date}" sortBy="#{diagnostic.date}">
				<f:facet name="header">#{msg.consultation_date}</f:facet>
				<h:outputText value="#{diagnostic.date}">
					<f:convertDateTime pattern="dd/MM/yyyy 'à' HH:mm" type="both" />
				</h:outputText>
			</p:column>
			<p:column filterBy="#{diagnostic.medecin.utilisateur.prenom}"
				sortBy="#{diagnostic.medecin.utilisateur.prenom}">
				<f:facet name="header">#{msg.consultation_medecin}</f:facet>
		            #{diagnostic.medecin.utilisateur.prenom} #{diagnostic.medecin.utilisateur.prenom}
		        </p:column>
			<p:column filterBy="#{diagnostic.salle.nom}"
				sortBy="#{diagnostic.salle.nom}">
				<f:facet name="header">#{msg.consultation_salle}</f:facet>
		             #{diagnostic.salle.nom}
		        </p:column>
		</p:dataTable>
	</h:form>
	<br />
	<br />
	<h:form id="form-radiologie-examensAnterieurs">
		<p:contextMenu for="examensAnterieursRadiologie">
			<p:menuitem value="#{msg.consultation_details}"
				action="#{diagnosticAction.ficheConsultationRadiologie}"
				icon="ui-icon-pencil" />
		</p:contextMenu>
		<p:dataTable id="examensAnterieursRadiologie" var="diagnostic"
			value="#{diagnosticAction.diagnosticsAnterieursRadiologie}"
			rowKey="#{diagnostic.id}" paginator="true" rows="10"
			selection="#{diagnosticAction.diagnosticChoisis}"
			selectionMode="single" paginatorAlwaysVisible="false"
			paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
			rowsPerPageTemplate="5,10,15" paginatorPosition="bottom">
			<f:facet name="header">
            	#{msg.consultation_examens_deja_faits}
       			</f:facet>
			<p:column filterBy="#{diagnostic.examen.libelle}"
				sortBy="#{diagnostic.examen.libelle}">
				<f:facet name="header">#{msg.consultation_examen}</f:facet>
		           	#{diagnostic.examen.libelle}
		        </p:column>
			<p:column filterBy="#{diagnostic.date}" sortBy="#{diagnostic.date}">
				<f:facet name="header">#{msg.consultation_date}</f:facet>
				<h:outputText value="#{diagnostic.date}">
					<f:convertDateTime pattern="dd/MM/yyyy 'à' HH:mm" type="both" />
				</h:outputText>
			</p:column>
			<p:column filterBy="#{diagnostic.medecin.utilisateur.prenom}"
				sortBy="#{diagnostic.medecin.utilisateur.prenom}">
				<f:facet name="header">#{msg.consultation_medecin}</f:facet>
		            #{diagnostic.medecin.utilisateur.prenom} #{diagnostic.medecin.utilisateur.prenom}
		        </p:column>
			<p:column filterBy="#{diagnostic.salle.nom}"
				sortBy="#{diagnostic.salle.nom}">
				<f:facet name="header">#{msg.consultation_salle}</f:facet>
		             #{diagnostic.salle.nom}
		        </p:column>
		</p:dataTable>

	</h:form>
	<h:form id="form-confirmation-choix-fiche-consultation">
		<p:dialog id="dg-choix-rv" header="Choix du rendez-vous"
			widgetVar="dg_choix_rv" modal="true" maximizable="false"
			minimizable="false" resizable="false">
			<div class="span12">
				<p:messages id="msg-choix-rv" />
				<h3 align="center">Veillez choisir un rendez-vous</h3>
				<div class="form-actions" style="align: center">
					<p:dataTable id="dt-choix-rv" var="rv"
						value="#{diagnosticAction.rendezVousToday}" rowKey="#{rv.id}"
						paginator="true" rows="10"
						selection="#{diagnosticAction.rendezVous}" selectionMode="single"
						paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
						rowsPerPageTemplate="5,10,15">

						<p:column selectionMode="single" style="width:2%" />
						<p:column filterBy="#{rv.motif}" sortBy="#{rv.motif}">
							<f:facet name="header">#{msg.rendez_vous_motif}  </f:facet>
							<h:outputText value="#{rv.motif.libelle}" />
						</p:column>
						<p:column filterBy="#{rv.date}" sortBy="#{rv.date}">
							<f:facet name="header">#{msg.rendez_vous_date} </f:facet>
							<h:outputText value="#{rv.date}">
								<f:convertDateTime type="both" dateStyle="short" />
							</h:outputText>
						</p:column>

					</p:dataTable>

				</div>
			</div>
			<f:facet name="footer">
				<h:panelGroup layout="block" styleClass="text-right"
					id="actions-dg-choix-rv">
					<p:commandButton styleClass="btn btn-primary"
						value="#{msg.NOUVEAU_PATIENT_BT_VALIDER}"
						action="#{diagnosticAction.onTrouveRendezVous}" />
					<p:commandButton styleClass="btn"
						value="#{msg.NOUVEAU_PATIENT_BT_ANNULER}"
						onclick="dg_choix_rv.hide();" />
				</h:panelGroup>
			</f:facet>
		</p:dialog>

		<ui:include src="confirmation_fiche_consultation.xhtml" />
	</h:form>
</ui:composition>