<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:s="http://jboss.org/schema/seam/taglib"
	xmlns:f="http://java.sun.com/jsf/core">
	
	<h:outputStylesheet>
		.inplaceTextarea{
			//color:#00FF00;
			//background-color: #FFEBDA !important;
			//border:1px solid #CCCCCC;			
			//width:100%;
			//height:60px;
		}
		
		.tb-cell {
			margin:0;
			padding: 0 0 10px 0;
		}
		.span6_1 {
			width: 100%;
		}
	</h:outputStylesheet>
	
	<p:panel header="#{msg.patient_antecedents_infos_medicales}">
		<h:form id="caract_frm">
			<div class="row-fluid">
						<div class="span6">
							<h:inputHidden id="caractList_id" value="#{tableauBordAction.allCaracteristiquesPatient}" />
							<fieldset class="ui-fieldset ui-widget ui-widget-content ui-corner-all ui-hidden-container fieldset">
								<legend class="ui-corner-all legend legend">#{msg.patient_caracteristiques}</legend>
								<table width="100%">
									<tr>
										<td align="right">
											<h:commandLink id="caract_taill_lab">
												<b><h:outputText value="Taille"/></b>
												<p:ajax event="click" listener="#{chartAction.createCategoryModel(tableauBordAction.caractTailleList,null,'Taille',0,200, CODE_TYPE_CARACT_TAILLE)}" update="chartModel" />
											</h:commandLink>
											<p:tooltip for="caract_taill_lab" value="Cliquez sur une constante pour avoir sa courbe d'évolution" showEffect="fade" hideEffect="fade" />
										</td>
										<td>
											<p:inplace id="caract_taill_ipl" event="dblclick" editor="true">	
												<p:inputText id="caract_taill" value="#{tableauBordAction.caractTaille.valeur}" required="true"
															 style="margin:0; padding:5px; text-align:left; width:50px; height:15px; border:1px solid #CC99CC;"/>
												<p:ajax event="save" listener="#{tableauBordAction.saveCaracteristique(CODE_TYPE_CARACT_TAILLE)}" update=":tabViewDossier:caract_frm:caract_taill :tabViewDossier:caract_frm:chartModel"/>
											</p:inplace>
											<p:tooltip for="caract_taill_ipl" value="Double-cliquez pour ajouter une nouvelle valeur" showEffect="fade" hideEffect="fade" />
										</td>
										<td align="right">
											<h:commandLink id="caract_tempe_lab">
												<b>Température</b>
												<p:ajax event="click" listener="#{chartAction.createCategoryModel(tableauBordAction.caractTemperatureList,null,'Température',0,150, CODE_TYPE_CARACT_TEMPERATURE)}" update="chartModel" />
											</h:commandLink>
											<p:tooltip for="caract_tempe_lab" value="Cliquez sur une constante pour avoir sa courbe d'évolution" showEffect="fade" hideEffect="fade" />
										</td>
										<td>
											<p:inplace id="caract_tempe_ipl" event="dblclick" editor="true">
												<p:inputText id="caract_tempe" value="#{tableauBordAction.caractTemperature.valeur}" required="true"
															 style="margin:0; padding:5px; text-align:left; width:50px; height:15px; border:1px solid #CC99CC;"/>
												<p:ajax event="save" listener="#{tableauBordAction.saveCaracteristique(CODE_TYPE_CARACT_TEMPERATURE)}" update=":tabViewDossier:caract_frm:caract_tempe :tabViewDossier:caract_frm:chartModel"/>
											</p:inplace>
											<p:tooltip for="caract_tempe_ipl" value="Double-cliquez pour ajouter une nouvelle valeur" showEffect="fade" hideEffect="fade" />
										</td>
									</tr>
									<tr>
										<td align="right">
											<h:commandLink id="caract_poids_lab">
												<b>Poids</b>
												<p:ajax event="click" listener="#{chartAction.createCategoryModel(tableauBordAction.caractPoidsList,null,'Poids',0,150, CODE_TYPE_CARACT_POIDS)}" update="chartModel" />
											</h:commandLink>
											<p:tooltip for="caract_poids_lab" value="Cliquez sur une constante pour avoir sa courbe d'évolution" showEffect="fade" hideEffect="fade" />
										</td>
										<td>
											<p:inplace id="caract_poids_ipl" event="dblclick" editor="true">
												<p:inputText id="caract_poids" value="#{tableauBordAction.caractPoids.valeur}" required="true"
														 style="margin:0; padding:5px; text-align:left; width:70px; border:1px solid #CCCCCC;"/>
												<p:ajax event="save" listener="#{tableauBordAction.saveCaracteristique(CODE_TYPE_CARACT_POIDS)}" update=":tabViewDossier:caract_frm:caract_poids :tabViewDossier:caract_frm:chartModel"/>
											</p:inplace>
											<p:tooltip for="caract_poids_ipl" value="Double-cliquez pour ajouter une nouvelle valeur" showEffect="fade" hideEffect="fade" />
										</td>
										<td align="right">
											<h:commandLink id="caract_pa_lab">
												<b>PA</b>
												<p:ajax event="click" listener="#{chartAction.createCategoryModel(tableauBordAction.caractPaList,null,'PA',0,150, CODE_TYPE_CARACT_PA)}" update="chartModel" />
											</h:commandLink>
											<p:tooltip for="caract_pa_lab" value="Cliquez sur une constante pour avoir sa courbe d'évolution" showEffect="fade" hideEffect="fade" />
										</td>
										<td>	
											<p:inplace id="caract_pa_ipl" event="dblclick" editor="true">
												<p:inputText id="caract_pa" value="#{tableauBordAction.paValues}" required="true"
														 style="margin:0; padding:5px; text-align:left; width:70px; border:1px solid #CCCCCC;">
													<f:validateRegex pattern="[0-9]{1,3}[/]{1}[0-9]{1,3}$" />
												</p:inputText>
												<p:message for="caract_pa"/>
												<p:ajax event="save" listener="#{tableauBordAction.saveCaracteristique(CODE_TYPE_CARACT_PA)}" update=":tabViewDossier:caract_frm:caract_pa :tabViewDossier:caract_frm:chartModel"/>
											</p:inplace>
											<p:tooltip for="caract_pa_ipl" value="Double-cliquez pour ajouter une nouvelle valeur dans le format 120/100" showEffect="fade" hideEffect="fade" />
										</td>
									</tr>
									<tr>
										<td align="right"><b>Groupe sanguin</b></td>
										<td>	
											<h:outputText value="#{tableauBordAction.patient.groupeSanguin.libelle}" style="text-align:left;"/>
										</td>
										<td align="right">
											<h:commandLink id="caract_pouls_lab">
												<b>Pouls</b>
												<p:ajax event="click" listener="#{chartAction.createCategoryModel(tableauBordAction.caractPoulsList,null,'Pouls',0,150, CODE_TYPE_CARACT_POULS)}" update="chartModel" />
											</h:commandLink>
											<p:tooltip for="caract_pouls_lab" value="Cliquez sur une constante pour avoir sa courbe d'évolution" showEffect="fade" hideEffect="fade" />
										</td>
										<td>	
											<p:inplace id="caract_pouls_ipl" event="dblclick" editor="true">
												<p:inputText id="caract_pouls" value="#{tableauBordAction.caractPouls.valeur}" required="true"
														 style="margin:0; padding:5px; text-align:left; width:70px; border:1px solid #CCCCCC;"/>
												<p:ajax event="save" listener="#{tableauBordAction.saveCaracteristique(CODE_TYPE_CARACT_POULS)}" update=":tabViewDossier:caract_frm:caract_pouls :tabViewDossier:caract_frm:chartModel"/>
											</p:inplace>
											<p:tooltip for="caract_pouls_ipl" value="Double-cliquez pour ajouter une nouvelle valeur" showEffect="fade" hideEffect="fade" />
										</td>
									</tr>
								</table>
							</fieldset>
							<br />
						</div>
					
						<div class="span6">
							<fieldset class="ui-fieldset ui-widget ui-widget-content ui-corner-all ui-hidden-container fieldset">
								<legend class="ui-corner-all legend legend">Evolution de la taille</legend>
								<h:panelGrid columns="1" style="width :100%;" id="gridChartModel"
									rowClasses="ui-widget-content ui-datatable-odd,ui-widget-content ui-datatable-even">
									<p:lineChart id="chartModel" value="#{chartAction.categoryModel}" legendPosition="nw"  
									     title="#{chartAction.categoryTitle}" minY="#{chartAction.indiceMin}" maxY="#{chartAction.indiceMax}" zoom="true" style="height:300px; margin-top:20px" widgetVar="chart"/>
									<p:commandButton type="button" value="Restaurer" icon="ui-icon-cancel" onclick="PF('chart').resetZoom()"/>
								</h:panelGrid>
							</fieldset>
						</div>
					
			</div>
		</h:form>
	</p:panel>
	
	<br/>
	
	<p:panel header="#{msg.patient_antecedents}">
		<h:form id="antecedents_frm">
			<table width="100%" border="0">
				<tr>
					<td width="50%" valign="top" class="tb-cell">
						<div class="span6_1">	
							<fieldset class="ui-fieldset ui-widget ui-widget-content ui-corner-all ui-hidden-container fieldset">
								<legend class="ui-corner-all legend legend">#{msg.patient_antecedents_personnels}</legend>
								<p:inplace id="ante_perso_ipl" event="dblclick" editor="true" styleClass="inplaceTextarea" >
									<p:inputTextarea id="ante_perso_ita" value="#{tableauBordAction.patient.antecedentsPersonnels}"
													 rows="5" cols="80" autoResize="false" style="border:none; width:100%; height:60px;"/>
									<p:ajax event="save" listener="#{tableauBordAction.saveAntecdentsPatient}" update="script_panel"/>
									<p:ajax event="cancel" update="script_panel" />
								</p:inplace>
							</fieldset>
						</div>
					</td>
					<td width="50%" valign="top" class="tb-cell">
						<div class="span6_1">	
							<fieldset class="ui-fieldset ui-widget ui-widget-content ui-corner-all ui-hidden-container fieldset">
								<legend class="ui-corner-all legend legend">#{msg.patient_antecedents_familiaux}</legend>
								<p:inplace id="ante_famil_ipl" event="dblclick" editor="true" styleClass="inplaceTextarea">
									<p:inputTextarea id="ante_famil_ita" value="#{tableauBordAction.patient.antecedentsFamiliaux}"
													 rows="5" cols="80" autoResize="false" style="border:none; width:100%; height:60px;"/>
									<p:ajax event="save" listener="#{tableauBordAction.saveAntecdentsPatient}" update="script_panel"/>
									<p:ajax event="cancel" update="script_panel" />
								</p:inplace>
							</fieldset>
						</div>
					</td>
				</tr>
				<tr>
					<td valign="top" class="tb-cell">
						<div class="span6_1">	
							<fieldset class="ui-fieldset ui-widget ui-widget-content ui-corner-all ui-hidden-container fieldset">
								<legend class="ui-corner-all legend legend">#{msg.patient_antecedents_allergie}</legend>
								<p:inplace id="ante_aller_ipl" event="dblclick" editor="true">
									<p:inputTextarea id="ante_aller_ita" value="#{tableauBordAction.patient.allergies}"
													 rows="5" style="border:none; width:100%; height:60px;"/>
									<p:ajax event="save" listener="#{tableauBordAction.saveAntecdentsPatient}" update="script_panel" />
								</p:inplace>
							</fieldset>
						</div>
					</td>
					<td valign="top" class="tb-cell">
						<div class="span6_1">	
							<fieldset class="ui-fieldset ui-widget ui-widget-content ui-corner-all ui-hidden-container fieldset">
								<legend class="ui-corner-all legend legend">#{msg.patient_antecedents_prevention}</legend>
								<p:inplace id="ante_preve_ipl" event="dblclick" editor="true">
									<p:inputTextarea id="ante_preve_ita" value="#{tableauBordAction.patient.preventionsDepistages}"
													 rows="5" style="border:none; width:100%; height:60px;"/>
									<p:ajax event="save" listener="#{tableauBordAction.saveAntecdentsPatient}" update="script_panel" />
								</p:inplace>
							</fieldset>
						</div>
					</td>
				</tr>
				<tr>
					<td valign="top" class="tb-cell">
						<div class="span6_1">	
							<fieldset class="ui-fieldset ui-widget ui-widget-content ui-corner-all ui-hidden-container fieldset">
								<legend class="ui-corner-all legend legend">#{msg.patient_affectionLD}</legend>
								<p:inplace id="ante_affec_ipl" event="dblclick" editor="true">
									<p:inputTextarea id="ante_affec_ita" value="#{tableauBordAction.patient.affectionsLd}"
													 rows="5" style="border:none; width:100%; height:60px;"/>
									<p:ajax event="save" listener="#{tableauBordAction.saveAntecdentsPatient}" update="script_panel" />
								</p:inplace>
							</fieldset>
						</div>
					</td>
					<td valign="top" class="tb-cell">	
						<div class="span6_1">	
							<fieldset class="ui-fieldset ui-widget ui-widget-content ui-corner-all ui-hidden-container fieldset">
								<legend class="ui-corner-all legend legend">#{msg.patient_antecedents_autres}</legend>
								<p:inplace id="ante_autre_ipl" event="dblclick" editor="true">
									<p:inputTextarea id="ante_autre_ita" value="#{tableauBordAction.patient.autresAntecedents}"
													 rows="5" style="border:none; width:100%; height:60px;"/>
									<p:ajax event="save" listener="#{tableauBordAction.saveAntecdentsPatient}" update="script_panel" />
								</p:inplace>
							</fieldset>
						</div>
					</td>
				</tr>
			</table>
			
			<h:panelGroup id="script_panel">
				<script type="text/javascript" language="javascript">
					//Remplacer les sauts de ligne ou retours chariot dsans le texte par des <br/>
					function replaceByBr(elt) {
						var value_elt = document.getElementById('tabViewDossier:antecedents_frm:ante_'+elt+'_ipl_display').innerHTML;
						value_elt = value_elt.replace(/\n/g, '<br/>').replace(/\r/g, '<br/>');
						document.getElementById('tabViewDossier:antecedents_frm:ante_'+elt+'_ipl_display').innerHTML = value_elt;
					}
					
					replaceByBr('perso');
					replaceByBr('famil');
					replaceByBr('aller');
					replaceByBr('preve');
					replaceByBr('affec');
					replaceByBr('autre');
				</script>
			</h:panelGroup>
			
		</h:form>
	</p:panel>
</ui:composition>