<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<m:message xmlns="http://www.w3.org/1999/xhtml"
           xmlns:m="http://jboss.org/schema/seam/mail"
           xmlns:ui="http://java.sun.com/jsf/facelets"
           xmlns:s="http://jboss.org/schema/seam/taglib"
           xmlns:h="http://java.sun.com/jsf/html"
           xmlns:f="http://java.sun.com/jsf/core">
    
          <m:from name="Seysoo Team" address="application@seysoo.com" /> 
          <m:to name="Abda Sidi">abdasidi@gmail.com</m:to>
          <m:subject>Test envoi mail</m:subject>
          <m:attachment value="/img/demo/logo_medicis.png" status="mediciss" disposition="inline" />
          <m:body>
          
             <p align="left"> <h:outputText value="Bonsoir, " escape="false"/>   </p>
            
           
            <p>&nbsp;</p>
           
            <p> si vous voyez cet email sachez que c'est un test</p>
	        <p align="center">La direction technique seysoo</p>
	   </m:body>
</m:message>