<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:s="http://jboss.org/schema/seam/taglib"
	template="../template/template.xhtml">

	<ui:define name="title-liste-patients">
		<title>Liste de tous les patients</title>
	</ui:define>
	<!--  ui:define name="nommodule">
			<h1>Patients</h1>
	</ui:define>-->
	<ui:define name="body">
		<div class="breadcrumbs">
			<ul>
				<li><s:link view="/patient/home.seam">Accueil</s:link><i
					class="icon-angle-right"></i></li>
			</ul>
		</div>

		<div class="container-fluid">	
			<div class="row-fluid">
				<div class="span12">
					<div class="box box-color box-bordered">
						<div class="box-title">
							<h3 style="align: center;">
								<i class="icon-table"></i> Liste des Patients
							</h3>
						</div>
						<div class="box-content nopadding">
							<h:form id="patsel" onsubmit="PF('statusDialog').show();">
								<p:growl id="growl" showDetail="false" life="10000" />
								<p:messages id="msg" />
								<p:contextMenu for="pat">
									<p:menuitem value="#{msg.listepatient_menucontext_1}"
										icon="ui-icon-folder-open"
										action="#{diagnosticAction.dossierPatient}" />
									<p:menuitem value="#{msg.listepatient_menucontext_2}"
										icon="ui-icon-search"
										action="#{patientAction.modifierPatient}" />
									<p:menuitem value="#{msg.listepatient_menucontext_5}"
										icon="ui-icon-folder-open" oncomplete="dlg.show()" />
									<p:menuitem value="#{msg.listepatient_menucontext_3}"
										icon="ui-icon-calendar" oncomplete="dlgrendezvous.show()"
										update=":fnouveauRendezvous:dialogrendezvous"
										action="#{rendezVous.onSelectPatient}" />
									<p:menuitem value="#{msg.listepatient_menucontext_4}"
										icon="ui-icon-trash" />
								</p:contextMenu>

								<p:dataTable id="pat" var="patient" value="#{listepatient}"
									rowKey="#{patient.id}" paginator="true" rows="10"
									selection="#{patientAction.patientSelectioner}"
									filteredValue="#{filtrelistepatient}" selectionMode="single"
									paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
									rowsPerPageTemplate="5,10,15">
									<f:facet name="header">
						            	
       								</f:facet>
									<p:column filterBy="#{patient.numDossier}" sortBy="#{patient.numDossier}">
										<f:facet name="header">#{msg.patient_num_dossier}</f:facet>
		           	 					#{patient.numDossier}
							        </p:column>
									<p:column filterBy="#{patient.nom}" sortBy="#{patient.nom}">
										<f:facet name="header">#{msg.patient_nom}</f:facet>
		             					#{patient.nom}
		        					</p:column>
									<p:column filterBy="#{patient.prenom}"
										sortBy="#{patient.prenom}">
										<f:facet name="header">#{msg.patient_prenom}</f:facet>
		             					#{patient.prenom}
		        					</p:column>
									<p:column filterBy="#{patient.dateNissance}"
										sortBy="#{patient.dateNissance}">
										<f:facet name="header"> #{msg.patient_dateNaissance}</f:facet>
										
										
										<h:outputText
													value="#{patient.dateNissance}">
													<f:convertDateTime pattern="dd/MM/yyyy"
														type="date" />
												</h:outputText>
										
									</p:column>
									<p:column>
										<f:facet name="header">#{msg.listepatient_profil}</f:facet>
		             					#{patient.beneficiaire.id == NULL ? 'Particulier' : 'Assuré'}
		        					</p:column>
									<p:column>
										<f:facet name="header">#{msg.listepatient_client}</f:facet>
		             					#{patient.beneficiaire.id == NULL ? '...' : patient.beneficiaire.clientTaux.client.designation}
		        					</p:column>
								</p:dataTable>
								<p:dialog header="Confirmation" widgetVar="dlg"
									resizable="false" width="auto" showEffect="clip"
									hideEffect="fold" id="dialog">
									<h:outputLabel value="voulez-vous vraiment archiver?"
										style="text-align:center; white-space:nowrap" />
									<f:facet name="footer">
										<p:commandButton id="Confirmation" value="Confirmer"
											styleClass="btn btn-primary"
											action="#{patientAction.archiver}" />
										<p:commandButton id="Annuler" value="Annuler" styleClass="btn"
											onclick="dlg.hide()" />
									</f:facet>
								</p:dialog>
								</h:form>
								<h:form id="fnouveauRendezvous">
								<p:dialog id="dialogrendezvous" header="#{msg.prise_de_rendezvous}" widgetVar="dlgrendezvous" modal="true" maximizable="false" minimizable="false" resizable="false" width="900px" footer="test">
								<p:scrollPanel style="height:550px" mode="native">
									<div style="width :40%;float:left;">
										<fieldset class="ui-fieldset ui-widget ui-widget-content ui-corner-all ui-hidden-container fieldset"> 
											<legend class="ui-corner-all legend legend">#{msg.RENDEZ_VOUS_INFOPATIENT}</legend> 
											    <h:panelGrid columns="2" cellpadding="4" rowClasses="ui-widget-content ui-datatable-odd,ui-widget-content ui-datatable-even" style="width :100%;">  
											       <label for="textfield" class="control-label">#{msg.NOUVEAU_PATIENT_NOM}</label>
											       <h:outputText value="#{patientSelectioner.nom}" />
											       <label for="textfield" class="control-label">#{msg.NOUVEAU_PATIENT_PRENOM}</label>
											       <h:outputText value="#{patientSelectioner.prenom}" />
											       <label for="textfield" class="control-label">#{msg.NOUVEAU_PATIENT_TELEPHONE}</label>
											       <h:outputText value="#{patientSelectioner.telephonePatient}" />
											       <label for="textfield" class="control-label">#{msg.NOUVEAU_PATIENT_EMAIL}</label>
											       <h:outputText value="#{patientSelectioner.email}" />
											       <label class="control-label">#{msg.NOUVEAU_PATIENT_SEXE}</label>
											       <h:outputText value="Masculin" />
											    </h:panelGrid>  
										</fieldset>
										<fieldset class="ui-fieldset ui-widget ui-widget-content ui-corner-all ui-hidden-container fieldset"> 
				<legend class="ui-corner-all legend legend">#{msg.RENDEZ_VOUS_INFOPARTCULIERE}</legend>
				<p:dataList value="#{rendezVous.listeExamensTypeRv.target}" var="infopart" itemType="disc" emptyMessage="Aucune Information particuliére" id="pinfo">  
				    #{infopart.indication} 
				</p:dataList>
				</fieldset>
				<h:panelGrid columns="4">
					<p:selectBooleanCheckbox value="#{rendezVousBean.rappelrendezvous}"  />
					<h:outputText value="Rappel sms RV" />
					<p:selectBooleanCheckbox value="#{rendezVousBean.rappelexamen}" />
					<h:outputText value="Rappel sms résulats" />  
				</h:panelGrid>
				<h6 style="color :red;">(SMS facturé à 100 FCFA)</h6>
			</div>
			<div style="width :60%;float:left;">
				<fieldset class="ui-fieldset ui-widget ui-widget-content ui-corner-all ui-hidden-container fieldset"> 
				<legend class="ui-corner-all legend legend">#{msg.RV_INFO}</legend>
				    <h:panelGrid columns="4">
				    	<h:outputText value="#{msg.RENDEZ_VOUS_DATE} :" />
						<p:calendar  id="dateRv" value="#{rendezVousBean.date}"
								style="#{component.valid ? 'border-color :#CCCCCC;' : 'border-color :#CD0A0A;'};width:100%;font-weight:bold"
								pattern="MM/dd/yyyy HH:mm" styleClass="input-xlarge dateTimeField" required="true"
								validatorMessage="La date n'est pas valide"
								requiredMessage="La date est requise"/>
						<p:message for="dateRv" display="icon"/> 
						<p:watermark value="Date de rendez-vous" for="dateRv" />
				    	<h:outputText value="#{msg.RENDEZ_VOUS_SERVICE} :" />
						<p:selectOneMenu id="idservice" value="#{rendezVousBean.service.id}" required="true" valueChangeListener="#{rendezVous.chargergroupeExam}">
						  					<f:selectItem itemLabel="Selectionnez un service" itemValue=""	noSelectionOption="true" />
											<f:selectItems id="serv" value="#{rendezVous.services}" itemLabel="#{b.key}" itemValue="#{b.value}" var="b" />
											<p:ajax  event="change" update="tabgroupeExam"  /> 
						</p:selectOneMenu> 
			
												<p:message for="idservice" display="icon" />
											</h:panelGrid>
											<br />
											<h:panelGrid columns="8" style="width :100%"
												id="tabgroupeExam"
												styleClass="ui-datalist-content ui-widget-content">
												<c:if test="#{rendezVous.groupeExam == NULL}">
													<h6 style="color: red;">Pas de groupe d'examen
														disponible.</h6>
												</c:if>
												<c:if test="#{rendezVous.groupeExam.size()==0}">
													<h6 style="color: red;">Aucun groupe d'examen
														disponible pour ce service.</h6>
												</c:if>
												<c:forEach var="groupeExams"
													items="#{rendezVous.groupeExam}">
													<p:selectBooleanCheckbox label="#{groupeExams.libelle}"
														id="#{groupeExams.libelle}">
														<p:ajax update="examensPickList"
															listener="#{rendezVous.ongroupeSelectionner}" />
													</p:selectBooleanCheckbox>
													<h:outputText value="#{groupeExams.libelle}" />
												</c:forEach>
											</h:panelGrid>
											<br />
											<p:pickList id="examensPickList"
												value="#{rendezVous.listeExamensTypeRv}" var="examen"
												effect="bounce" itemValue="#{examen}"
												converter="examenConverter" itemLabel="#{examen.libelle}"
												showCheckbox="true" showSourceFilter="true"
												showTargetFilter="true" filterMatchMode="contains">
												<p:ajax event="transfer"
													listener="#{rendezVous.onchoixExamen}"
													update="pinfo,tabexamen" />
												<f:facet name="sourceCaption">
													<h:outputText
														value="#{msg.consultation_examens_disponibles}" />
												</f:facet>
												<f:facet name="targetCaption">
													<h:outputText value="#{msg.consultation_examens_choisis}" />
												</f:facet>
												<p:column>
													<h:outputText
														value="#{examen.libelle}(#{examen.groupeExamen.libelle})" />
												</p:column>
											</p:pickList>
											<br />
											<h:panelGrid columns="4">
												<h:outputText value="#{msg.RENDEZ_VOUS_DATE_RESULTAT}:" />
												<p:calendar id="dateRetrait"
													value="#{rendezVousBean.dateRetraitResultats}"
													style="#{component.valid ? 'border-color :#CCCCCC;' : 'border-color :#CD0A0A;'};width:100%;font-weight:bold"
													pattern="dd/MM/yyyy HH:mm"
													styleClass="input-xlarge dateTimeField" required="true"
													validatorMessage="La date n'est pas valide"
													requiredMessage="La date est requise" />
												<p:message for="dateRetrait" display="icon" />
												<p:watermark value="Date de retrait des résultat"
													for="dateRetrait" />
											</h:panelGrid>
										</fieldset>
									</div>
									<br />
									<h:form id="lpinfo">
										<div class="form-actions text-right">
											<h:commandLink value="Plus d'infos"
												action="#{rendezVous.AfficherPlusInfos}"
												rendered="#{!rendezVous.plusInfos}" style="color :#004B8D;">
												<p:ajax
													update=":fnouveauRendezvous:tabexamen1,:fnouveauRendezvous:lpinfo1,:fnouveauRendezvous:lpinfo"
													listener="#{rendezVous.AfficherPlusInfos}" />
											</h:commandLink>
										</div>
									</h:form>
									<div style="width: 100%; float: left;">
										<h:panelGrid id="tabexamen1" layout="block"
											style="width :100%;align :center;">
											<h:panelGroup id="tabexamen" layout="block"
												style="width :100%;align :center;"
												rendered="#{rendezVous.plusInfos}">
												<p:dataTable value="#{rendezVous.diagnosticsDataModel}"
													var="diagnostic" id="listeExamensSelectionnes"
													styleClass="table-striped"
													emptyMessage="La liste des examens est vide.">
													<p:column headerText="#{msg.consultation_examen}">
														<h:outputText value="#{diagnostic.examen.libelle}" />
													</p:column>
													<p:column headerText="#{msg.consultation_date}">
														<p:calendar value="#{diagnostic.date}"
															pattern="MM/dd/yyyy HH:mm" navigator="true" lang="fr"
															locale="fr" requiredMessage="Le champ Date est requis" />
													</p:column>
													<p:column headerText="#{msg.consultation_medecin}">
														<p:selectOneMenu value="#{diagnostic.medecin.id}"
															required="true"
															id="#{diagnostic.examen.libelle}#{'_med'}">
															<f:selectItem itemLabel="Choisissez" itemValue="0"
																noSelectionOption="true" />
															<f:selectItems
																value="#{diagnosticAction.listeMedecinsRadiologie}"
																var="medecin"
																itemLabel="#{medecin.utilisateur.prenom} #{medecin.utilisateur.nom}"
																itemValue="#{medecin.id}" />
														</p:selectOneMenu>
														<p:spacer width="20" height="10" />
													</p:column>
													<p:column headerText="#{msg.consultation_salle}">
														<p:selectOneMenu value="#{diagnostic.salle.id}"
															required="true">
															<f:selectItem itemLabel="Choisissez" itemValue="0"
																noSelectionOption="true" />
															<f:selectItems
																value="#{diagnosticAction.listeSallesRadiologie}"
																var="salle" itemLabel="#{salle.nom}"
																itemValue="#{salle.id}" />
														</p:selectOneMenu>
														<p:spacer width="20" height="10" />
													</p:column>
												</p:dataTable>
											</h:panelGroup>
										</h:panelGrid>
										<div class="form-actions text-right">
											<h:form id="lpinfo1">
												<h:commandLink value="Moins d'infos"
													action="#{rendezVous.AfficherMoinsInfos}"
													rendered="#{rendezVous.plusInfos}" style="color :#004B8D;">
													<p:ajax
														update=":fnouveauRendezvous:tabexamen1,:fnouveauRendezvous:lpinfo,:fnouveauRendezvous:lpinfo1" />
												</h:commandLink>
											</h:form>
										</div>
									</div>
									</p:scrollPanel>
									<f:facet name="footer">
									<div class="form-actions text-right">
										<p:commandButton styleClass="btn btn-primary"
											value="OK"
											oncomplete="handleLoginRequest(xhr,status,args)"
											action="#{rendezVous.updateFicheRecap}"
											update="fnouveauRendezvous,:fdisp:ipat,:fdisp:irv,:fdisp:exam,:fdisp:ippat" />
										&nbsp;&nbsp;&nbsp;
										<p:commandButton styleClass="btn"
											value="#{msg.NOUVEAU_PATIENT_BT_ANNULER}"
											onclick="dlgrendezvous.hide();" />
									</div>
									</f:facet>
								</p:dialog>
							</h:form>
							<p:dialog modal="true" widgetVar="statusDialog" header="Status"
								draggable="false" closable="false">
								<p:graphicImage value="/img/loading3.gif" />  
							    #{msg.LOADING_MESSAGE}
							</p:dialog>
						</div>
					</div>
				</div>
			</div>
			<div class="form-actions text-right">
				<s:link view="/patient/nouveaupatient.seam" styleClass="btn btn-primary" action="#{patientAction.debutNouveauPatient()}">Nouveau
					Patient</s:link>
			</div>
			<script type="text/javascript">  
				 //<![CDATA[ 
				 function recap(){
					 dlgRendezvousrecap.show();
					 dlgrendezvous.hide();
				 }
				 function annulrecap(){
					 dlgRendezvousrecap.hide();
					 dlgrendezvous.show();
					 }
				    function handleLoginRequest(xhr, status, args) {
				        if(args.validationFailed){   
				        	document.getElementById("fnouveauRendezvous:dateRv_input").className = "ui-inputfield ui-widget ui-state-default ui-corner-all hasDatepicker";
				        	document.getElementsByClassName = function(className, elmt)
						    {
						    	   var selection = new Array();
						    	   var regex = new RegExp("\\b" + className + "\\b");
						    	 
						    	   // le second argument, facultatif
						    	   if(!elmt)
						    	      elmt = document;
						    	   else if(typeof elmt == "string")
						    	      elmt = document.getElementById(elmt);
						    	    
						    	   // on sélectionne les éléments ayant la bonne classe
						    	   var elmts = elmt.getElementsByTagName("*");
						    	   for(var i=0; i<elmts.length; i++)
						    	      if(regex.test(elmts[i].className))
						    	         selection.push(elmts[i]);
						    	   return selection;
						    }
				        	var doc=document.getElementsByClassName('hasDatepicker','fnouveauRendezvous');
					    	for(var i=0; i<doc.length; i++){
					    		$(doc[i]).removeClass('ui-state-error');
					    	}
				        	dlgrendezvous.show();
				        }
				        else{
				        	recap();
					        }
				    }
				  //]]>  
				</script>
				<h:form id="fdisp">
				<p:dialog id="dialogrendezvous" header="Récaputilatif prise de Rendez-vous" widgetVar="dlgRendezvousrecap" modal="true" maximizable="false" minimizable="false" resizable="false" width="70%" footer="testrecap">
			<div style="width :40%;float:left;">
				<fieldset class="ui-fieldset ui-widget ui-widget-content ui-corner-all ui-hidden-container fieldset"> 
					<legend class="ui-corner-all legend legend">#{msg.RENDEZ_VOUS_INFOPATIENT}</legend> 
					    <h:panelGrid id="ipat" columns="2" cellpadding="10" rowClasses="ui-widget-content ui-datatable-odd,ui-widget-content ui-datatable-even" style="width :100%;">  
					       <label for="textfield" class="control-label" style="font-weight:bold">#{msg.NOUVEAU_PATIENT_NOM}</label>
					       <h:outputText value="#{rendezVous.rvSelected.patient.nom}" />
					       <label for="textfield" class="control-label" style="font-weight:bold">#{msg.NOUVEAU_PATIENT_PRENOM}</label>
					       <h:outputText value="#{rendezVous.rvSelected.patient.prenom}" />
					       <label for="textfield" class="control-label" style="font-weight:bold">#{msg.NOUVEAU_PATIENT_TELEPHONE}</label>
					       <h:outputText value="#{rendezVous.rvSelected.patient.telephonePatient}" />
					       <label for="textfield" class="control-label" style="font-weight:bold">#{msg.NOUVEAU_PATIENT_EMAIL}</label>
					       <h:outputText value="#{rendezVous.rvSelected.patient.email}" />
					       <label class="control-label" style="font-weight:bold">#{msg.NOUVEAU_PATIENT_SEXE}</label>
					       <h:outputText value="#{rendezVous.rvSelected.patient.sexe=='M' ? 'Masculin' : 'Feminin'}" />
					    </h:panelGrid>  
				</fieldset>
				<fieldset class="ui-fieldset ui-widget ui-widget-content ui-corner-all ui-hidden-container fieldset"> 
				<legend class="ui-corner-all legend legend">#{msg.RENDEZ_VOUS_INFOPARTCULIERE}</legend>
				     <h:panelGrid columns="1" id="ippat">
				        <!-- <h:outputText value="#{rendezVous.rvSelected.patient.signesParticuliers}" /> -->
				        <p:dataList value="#{rendezVous.listeExamensTypeRv.target}" var="infopart" itemType="disc" emptyMessage="Aucune Information particuliere" id="pinfo">  
						    #{infopart.indication} 
						</p:dataList>
				     </h:panelGrid>
				</fieldset>
				
			</div>
			<div style="width :60%;float:right;">
				<fieldset class="ui-fieldset ui-widget ui-widget-content ui-corner-all ui-hidden-container fieldset"> 
				<legend class="ui-corner-all legend legend">#{msg.RV_INFO}</legend>
				    <h:panelGrid columns="6" id="irv">
				    
				    	<h:outputText value="#{msg.RENDEZ_VOUS_SERVICE} :" style="font-weight:bold"/>
						<h:outputText value="#{rendezVous.rvSelected.service.libelle}             " />
						
						<p:spacer width="5"/><p:spacer width="5"/><p:spacer width="5"/><p:spacer width="5"/>
						
						<h:outputText value="#{msg.rendez_vous_date} :" style="font-weight:bold"/>
						<h:outputText value="#{rendezVousBean.date}">
							<f:convertDateTime pattern="dd/MM/yyyy"/>
						</h:outputText>
						
						<!-- <h:outputText value="    Heure :" style="font-weight:bold" />
						<h:outputText value="#{rendezVous.rvSelected.heure}" />  -->
						
						<!-- <h:outputText value="Type Examen :" style="font-weight:bold" />
						<h:outputText value="#{rendezVous.rvSelected.heure}" />  -->
						
						<!-- <p:spacer width="5"/><p:spacer width="5"/><p:spacer width="5"/><p:spacer width="5"/> -->

						<!-- <h:outputText value="Motif :" style="font-weight:bold" />
						<h:outputText value="#{rendezVous.rvSelected.motif.libelle}" />  -->

						<!-- <p:spacer width="5"/><p:spacer width="5"/><p:spacer width="5"/><p:spacer width="5"/> -->
						
						<!-- <h:outputText value="Date retrait :" style="font-weight:bold" />
						<h:outputText value="#{rendezVous.rvSelected.dateRetraitResultats}" /> --> 
						
				    </h:panelGrid>
				    
				   
				</fieldset>
			</div>
			 <p:spacer height="30" width="-50"/>
			<fieldset class="ui-fieldset ui-widget ui-widget-content ui-corner-all ui-hidden-container fieldset"> 
					<legend class="ui-corner-all legend legend">Infos Examens</legend> 
			
			<h:panelGrid id="exam">
			          <p:dataTable 	 
	                     var="px" 
	       				 value="#{rendezVous.lDiagnostiqueByRv}" 
	       				 paginator="true" 
	       				 emptyMessage="aucun enregistrement trouve .."
	       				 id="clientt"
	       				 paginatorPosition="bottom">  
       
			            <p:column headerText="Examen (s)" style="white-space:nowrap; text-align: center; width:200px" sortBy="#{px.examen.libelle}">  
			              <h:outputText value="#{px.examen.libelle}" /> 
			            </p:column>
		            
			            <p:column headerText="Medecin (s)" style="white-space:nowrap; text-align: center; width:200px" sortBy="#{px.medecin.utilisateur.nom}">  
			              <h:outputText value="#{px.medecin.utilisateur.prenom}  #{px.medecin.utilisateur.nom}" /> 
			            </p:column>
		            
			            
			            <p:column headerText="Salle (s)" style="white-space:nowrap; text-align: center; width:200px" sortBy="#{px.salle.nom}">  
			              <h:outputText value="#{px.salle.nom}" /> 
			            </p:column>
			            
		           </p:dataTable>
			</h:panelGrid>
	  </fieldset>
	  <f:facet name="footer">
			<div class="form-actions text-right">	
				<p:commandButton styleClass="btn btn-primary"
											value="#{msg.NOUVEAU_PATIENT_BT_Enregister}"
											oncomplete="dlgRendezvousrecap.hide();"
											action="#{rendezVous.enregistrerRendeVous}"
											update=":fnouveauRendezvous" />
				<p:commandButton styleClass="btn" value="Retour" onclick="annulrecap();" />
			</div>
	</f:facet>
			</p:dialog>
			</h:form>
		</div>
	</ui:define>
</ui:composition>