<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:s="http://jboss.org/schema/seam/taglib" template="../template/template.xhtml">
	
   <ui:define name="title-liste-patientsArchives"><title>SEYSOO--MEDICIS--Liste des patients archivés</title></ui:define>		
	<ui:define name="body">
		<div class="container-fluid">
		<div class="breadcrumbs">
				<ul>
					<li><s:link view="/patient/home.seam">Accueil</s:link> <i class="icon-angle-right"></i>
					</li>
				</ul>
				<div class="close-bread">
					<a href="#"><i class="icon-remove"></i></a>
				</div>
			</div>
			<div class="row-fluid">
				<div class="span12">
					<div class="box box-color box-bordered">
						<div class="box-title">
							<h3>
								<i class="icon-table"></i> Patients Archivés
							</h3>
						</div>
						<div class="box-content nopadding">

							<h:form id="patselection">
								<p:growl id="growl" showDetail="false" life="10000" />
								<p:messages id="msg" />
								<p:contextMenu for="pat">
									<p:menuitem value="#{msg.listepatient_menucontext_restaurer}"
										icon="ui-icon-folder-open" oncomplete="dlg.show()"/>
								</p:contextMenu>
								<p:dataTable id="pat" var="patients" value="#{listepatientarchive}"
									rowKey="#{patients.id}" paginator="true" rows="10"
									selection="#{patientAction.patientSelectionerArchiver}"
									filteredValue="#{filtrelistepatient}" selectionMode="single"
									paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
									rowsPerPageTemplate="5,10,15">
									<f:facet name="header">
            	Liste patient
       			</f:facet>
									<p:column filterBy="#{patients.id}" sortBy="#{patients.id}">
										<f:facet name="header">#{msg.patient_num_dossier}</f:facet>
		           	 #{patients.id}
		        </p:column>
									<p:column filterBy="#{patients.nom}" sortBy="#{patients.nom}">
										<f:facet name="header">#{msg.patient_nom}</f:facet>
		             #{patients.nom}
		        </p:column>
									<p:column filterBy="#{patients.prenom}"
										sortBy="#{patients.prenom}">
										<f:facet name="header">#{msg.patient_prenom}</f:facet>
		             #{patients.prenom}
		        </p:column>
									<p:column filterBy="#{patients.dateNissance}"
										sortBy="#{patients.dateNissance}">
										<f:facet name="header">#{msg.patient_dateNaissance}</f:facet>
		             #{patients.dateNissance}
		        </p:column>
									<p:column>
										<f:facet name="header">#{msg.listepatient_profil}</f:facet>
		             #{patients.beneficiaire.id == NULL ? 'Particulier' : 'Assuré'}
		        </p:column>
									<p:column>
										<f:facet name="header">#{msg.listepatient_client}</f:facet>
		             #{patients.beneficiaire.id == NULL ? '...' : patients.beneficiaire.clientTaux.client.designation}
		        </p:column>
								</p:dataTable>
								<p:dialog header="Confirmation" widgetVar="dlg"
									resizable="false" width="auto" showEffect="clip"
									hideEffect="fold" id="dialog">
									<h:outputLabel value="voulez-vous vraiment restaurer?"  style="text-align:center; white-space:nowrap"/>
									<f:facet name="footer">
										<p:commandButton id="Confirmation" value="Confirmer"
											styleClass="btn btn-primary"
											actionListener="#{patientAction.restaurer}"/>
										<p:commandButton id="Annuler" value="Annuler"
											styleClass="btn" onclick="dlg.hide()" />
									</f:facet>
								</p:dialog>
							</h:form>

							<div class="table-pagination">
								<a href="#" class='disabled'>Première page</a> <a href="#"
									class='disabled'>Page précédente</a> <span> <a href="#"
									class='active'>1</a> <a href="#">2</a> <a href="#">3</a>
								</span> <a href="#">Page suivante</a> <a href="#">Dernière page</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</ui:define>
</ui:composition>