<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:s="http://jboss.org/schema/seam/taglib"
	xmlns:p="http://primefaces.org/ui"
	template="../template/template.xhtml"
                xmlns:a4j="http://richfaces.org/a4j">
	<ui:define name="title-nouveaupatient">
		<title>#{msg.NOUVEAU_PATIENT_TITRE_PAGE}</title>
	</ui:define>
	<ui:define name="body">
		<div class="breadcrumbs">
			<ul>
				<li><s:link view="/patient/home.seam">Accueil</s:link> <i
					class="icon-angle-right"></i></li>
			</ul>
		</div>
		<div class="row-fluid">
			<h:form id="formNouveauPatient"
				class='form-horizontal form-column form-bordered'>
				<h:inputHidden value="#{patientAction.patientBean.id}" />
				<div class="span12">
					<div class="box box-color box-bordered">

						<div class="row-fluid">
							<div class="span12">
								<div class="box">
									<div class="box-title">
										<h3>
											<i class="icon-edit"></i> #{msg.NOUVEAU_PATIENT_TITRE}
										</h3>
									</div>
									<div class="box-content nopadding">

										<p:messages id="msg" />
										<p:outputPanel id="ident">
											<fieldset
												class="ui-fieldset ui-widget ui-widget-content ui-corner-all ui-hidden-container fieldset"
												style="width :45%;float:left">
												<legend class="ui-corner-all legend legend">#{msg.NOUVEAU_PATIENT_IDENTITE}</legend>
												<h:panelGrid columns="2" cellpadding="6"
													rowClasses="ui-widget-content ui-datatable-odd,ui-widget-content ui-datatable-even"
													style="width :100%;">

													<!-- <h:column>
														<label for="prenom">#{msg.NOUVEAU_PATIENT_PRENOM}</label>
													</h:column> -->
													<h:column>
														<p:inputText name="prenom" id="prenom"
															value="#{patientAction.patientBean.prenom}"
															
															style="#{component.valid ? 'border-color :#CCCCCC;' : 'border-color :#CD0A0A;'}"
															required="true"
															requiredMessage="#{msg.MESS_REQUIS_PRENOM}"
															validatorMessage="#{msg.MESS_VALID_PRENOM}"
															onblur="updateprenommf()" >
														</p:inputText>
														<p:watermark value="#{msg.WATER_MARK_PRENOM}" for="prenom" />
														<p:message for="prenom" />
													</h:column>

													<!-- <h:column>
														<label for="date">#{msg.NOUVEAU_PATIENT_DATENAISSANCE}</label>
													</h:column> -->
													<h:column>
														<p:calendar id="date"
															value="#{patientAction.patientBean.dateNissance}"
															
															style="#{component.valid ? 'border-color :#CCCCCC;' : 'border-color :#CD0A0A;'};font-weight:bold"
															pattern="dd/MM/yyyy" required="true"
															validatorMessage="#{msg.MESS_VALID_DATE_NAISS}"
															requiredMessage="#{msg.MESS_REQUIS_DATE_NAISS}" />
														<p:watermark value="#{msg.WATER_MARK_DATE_NAISS}" for="date" />
														<p:message for="date" />
													</h:column>

													<!-- <h:column>
														<label for="nom">#{msg.NOUVEAU_PATIENT_NOM}</label>
													</h:column> -->
													<h:column>
														<p:inputText
															
															style="#{component.valid ? 'border-color :#CCCCCC;' : 'border-color :#CD0A0A;'}"
															name="nom" id="nom"
															value="#{patientAction.patientBean.nom}" required="true"
															requiredMessage="#{msg.MESS_REQUIS_NOM}"
															validatorMessage="#{msg.MESS_VALID_NOM}"
															onblur="updatenommf()" >
														</p:inputText>
														<p:watermark value="#{msg.WATER_MARK_NOM}" for="nom" />
														<p:message for="nom" />
													</h:column>
													
													<!-- <h:column>
														<label for="cni">#{msg.NOUVEAU_PATIENT_CNI}</label>
													</h:column> -->
													<h:column>
														<p:inputText name="cni" id="cni"
															value="#{patientAction.patientBean.cni}"
															
															style="#{component.valid ? 'border-color :#CCCCCC;' : 'border-color :#CD0A0A;'}"
															validatorMessage="#{msg.MESS_VALID_CNI}">
														</p:inputText>
														<p:watermark value="#{msg.WATER_MARK_CNI}" for="cni" />
														<p:message for="cni" />
													</h:column>

													<!-- <h:column>
														<label>#{msg.NOUVEAU_PATIENT_SEXE}</label>
													</h:column> -->
													<h:column>
														<h:panelGrid columns="5">
															<p:selectOneRadio id="sexe"
																value="#{patientAction.patientBean.sexe}"
																requiredMessage="#{msg.MESS_REQUIS_SEXE}"
																required="true" layout="custom"
																validatorMessage="#{msg.MESS_REQUIS_SEXE}">
																<f:selectItem itemLabel="#{msg.ITEM_FEMININ}" itemValue="1" />
																<f:selectItem itemLabel="#{msg.ITEM_MASCULIN}" itemValue="2" />
															</p:selectOneRadio>
															<p:radioButton id="opt1" for="sexe" itemIndex="0" />
											        		<h:outputLabel for="opt1" value="Feminin" />
											        		<p:radioButton id="opt2" for="sexe" itemIndex="1"/>
											        		<h:outputLabel for="opt2" value="Masculin" />
														</h:panelGrid>
														<p:message for="sexe" />
													</h:column>

													<!-- <h:column>
														<label for="jobss">#{msg.NOUVEAU_PATIENT_PROFESSION}</label>
													</h:column> -->
													<h:column>
														<p:inputText name="jobss" id="jobss"
															value="#{patientAction.patientBean.profession}"
															
															style="#{component.valid ? 'border-color :#CCCCCC;' : 'border-color :#CD0A0A;'}">
														</p:inputText>
														<p:watermark value="#{msg.WATER_MARK_JOB}"
															for="jobss" />
														<p:message for="jobss" />
													</h:column>

													<!-- <h:column>
														<label for="textarea">#{msg.NOUVEAU_PATIENT_ADRESSE}</label>
													</h:column> -->
													<h:column>
														<p:inputTextarea name="adresse" id="adresse"
															
															value="#{patientAction.patientBean.adresse}">
														</p:inputTextarea>
														<p:watermark value="#{msg.NOUVEAU_PATIENT_ADRESSE}" for="adresse" />
														<p:message for="adresse" />
													</h:column>


													<!-- <h:column>
														<h:panelGrid style="width:100%">
															<h:outputLabel for="telephoneFixe">#{msg.LABEL_TEL_FIXE}</h:outputLabel>
															<h:outputLabel for="telephoneMob">#{msg.LABEL_TEL_PORTABLE}</h:outputLabel>
														</h:panelGrid>
													</h:column> -->

													<h:column>
														<h:panelGrid columns="3" style="width:100%">
															<p:inputText name="telephoneFixe" id="telephoneFixe"
																value="#{patientAction.patientBean.telephonePatient}"
																validatorMessage="#{msg.MESS_VALID_TEL}"
																
																style="#{component.valid ? 'border-color :#CCCCCC;' : 'border-color :#CD0A0A;'}"
																onblur="updatetelephonemf()" >
															</p:inputText>
															<p:watermark value="#{msg.WATER_MARK_TEL_FIXE}"
																for="telephoneFixe" />
															<p:message for="telephoneFixe" />

															<p:inputText name="telephoneMob" id="telephoneMob"
																value="#{patientAction.patientBean.telephonePatient}"
																validatorMessage="#{msg.MESS_VALID_TEL}"
																
																style="#{component.valid ? 'border-color :#CCCCCC;' : 'border-color :#CD0A0A;'}">
																<p:clientValidator event="keyup" />
															</p:inputText>
															<p:watermark value="#{msg.WATER_MARK_TEL_PORTABLE}"
																for="telephoneMob" />
															<p:message for="telephoneMob" />
															
															<p:inputText name="mail" id="mail"
																value="#{patientAction.patientBean.email}"
																validatorMessage="#{msg.MESS_VALID_EMAIL}"
																
																style="#{component.valid ? 'border-color :#CCCCCC;' : 'border-color :#CD0A0A;'}"
																onblur="updatemailmf()" >
															</p:inputText>
															<p:watermark value="#{msg.WATER_MARK_EMAIL}"
																for="mail" />
															<p:message for="mail" />
														</h:panelGrid>
													</h:column>

													<!-- <h:column>
														<label for="mail">#{msg.NOUVEAU_PATIENT_EMAIL}</label>
													</h:column> -->

													<!-- <h:column>
														<label for="select">#{msg.NOUVEAU_PATIENT_PROFIL}</label>
													</h:column> -->

													<h:column>
														<p:selectOneMenu value="#{patientAction.assure}"
															id="profil">
															<f:selectItem itemLabel="#{msg.NOUVEAU_PATIENT_ASSURE}" itemValue="true" />
															<f:selectItem itemLabel="#{msg.NOUVEAU_PATIENT_PARTICULIER}" itemValue="false" />
															<p:ajax update="pfAffiliation,lien" event="change" />
														</p:selectOneMenu>
													</h:column>
													
													<h:column >
														<p:selectOneRadio
															value="#{patientAction.patientBean.statut}" disabled="#{!patientAction.assure}"
															id="lien" >
															<f:selectItem itemLabel="#{msg.ITEM_PATIENT_LIEN_1}" itemValue="1" />
															<f:selectItem itemLabel="#{msg.ITEM_PATIENT_LIEN_2}" itemValue="2" />
															<f:selectItem itemLabel="#{msg.ITEM_PATIENT_LIEN_3}" itemValue="3" />
															<p:ajax event="change" listener="#{patientAction.updateBeneficiaire}" /> 
														</p:selectOneRadio>
														<p:message for="lien" />
													</h:column>
												</h:panelGrid>
												<div class="form-actions">
													<p:commandButton styleClass="btn btn-primary" style="float: right;"
														value="#{msg.NOUVEAU_PATIENT_BT_VERIFICATION}"
														oncomplete="handleLoginRequest(xhr,status,args)"
														ajax="true" update="msg,dialogpatient,nom,date,prenom,cni"
														actionListener="#{patientAction.verifierExistancePatient}"
														partialSubmit="true" process="nom,date,prenom,cni">
														<p:ajax
															listener="#{patientAction.verifierExistancePatient}" />
													</p:commandButton>
												</div>
											</fieldset>
										</p:outputPanel>
										<h:panelGroup id="pfAffiliation" layout="block" >
												<fieldset
													class="ui-fieldset ui-widget ui-widget-content ui-corner-all ui-hidden-container fieldset">
													<legend class="ui-corner-all legend legend">#{msg.NOUVEAU_PATIENT_Affiliation}</legend>
													<h:panelGrid columns="2" cellpadding="8" id="zoneBeneficiaire"
														style="width :100%;" 
														rowClasses="ui-widget-content ui-datatable-odd,ui-widget-content ui-datatable-even">
														
														<h:column>
															<!-- <label for="select">#{msg.NOUVEAU_PATIENT_TypeClient}</label> -->
															<p:selectOneMenu id="typeClient" 
																required="true" disabled="#{!patientAction.assure}"
																requiredMessage="#{msg.MESS_REQUIS_TYPE_CLIENT}">
																<f:selectItem itemLabel="#{msg.ITEM_NO_SELECTION_TYPE_CLIENT}"
																	itemValue="" noSelectionOption="true" />
																<f:selectItems id="b1"
																	value="#{rendezVous.typesClient}"
																	itemValue="#{b.value}" itemLabel="#{b.key}" var="b" />
																<p:ajax event="change" listener="#{rendezVous.findClientsByType}" update="client"/>
															</p:selectOneMenu>
															<p:message for="typeClient" />
														</h:column>

														<h:column>
															<!-- <label for="select">#{msg.NOUVEAU_PATIENT_client}</label> -->
															<p:selectOneMenu id="client"
																value="#{patientAction.patientBean.beneficiaire.clientTaux.client.id}"
																required="true" disabled="#{!patientAction.assure}"
																requiredMessage="#{msg.MESS_REQUIS_CLIENT}"
																validatorMessage="#{msg.MESS_REQUIS_CLIENT}"
																>
																<f:selectItem itemLabel="#{msg.ITEM_NO_SELECTION_CLIENT}"
																	itemValue="" noSelectionOption="true" />
																<f:selectItems id="b2"
																	value="#{rendezVous.clientAssureurs}"
																	itemValue="#{b.value}" itemLabel="#{b.key}" var="b" />
															</p:selectOneMenu>
															<p:message for="client" />
														</h:column>

														<h:column>
															<!-- <label for="matricule">#{msg.NOUVEAU_PATIENT_matricule}</label> -->
															<p:inputText name="matricule" id="matricule"
																
																style="#{component.valid ? 'border-color :#CCCCCC;' : 'border-color :#CD0A0A;'}"
																value="#{patientAction.patientBean.beneficiaire.matricule}"
																required="true" disabled="#{!patientAction.assure}"
																requiredMessage="#{msg.MESS_REQUIS_MATRICULE}"
																validatorMessage="#{msg.MESS_VALID_MATRICULE}"
																placeholder="#{msg.WATER_MARK_MATRICULE}">
																<p:ajax event="blur" update="telephonemf,prenommf,nommf,tparticipation,mailmf"
																	listener="#{patientAction.verifierExistanceMatricule}" process="matricule,client" />
															</p:inputText>
															<p:message for="matricule" />
														</h:column>

														<h:column>
															<!-- <label for="select">#{msg.NOUVEAU_PATIENT_tauxparticiation}</label> -->
															<p:selectOneMenu
																value="#{patientAction.patientBean.beneficiaire.clientTaux.id}"
																id="tparticipation" disabled="#{!patientAction.assure}">
																<f:selectItem itemLabel="#{msg.ITEM_NO_SELECTION_TAUX_PART}"
																	itemValue="" noSelectionOption="true" />
																<f:selectItems value="#{rendezVous.tauxAssurances}"
																	itemLabel="#{t.value}" itemValue="#{t.key}" var="t" />
															</p:selectOneMenu>
															<p:message for="tparticipation" />
														</h:column>

														<h:column>
															<!-- <label for="nommf">#{msg.NOUVEAU_PATIENT_NOM}</label> -->
															<p:inputText name="nommf" id="nommf"
																
																style="#{component.valid ? 'border-color :#CCCCCC;' : 'border-color :#CD0A0A;'}"
																value="#{patientAction.patientBean.beneficiaire.nom}"
																required="true" disabled="#{!patientAction.assure || patientAction.identique}"
																requiredMessage="#{msg.MESS_REQUIS_NOM}"
																validatorMessage="#{msg.MESS_VALID_NOM}"
																placeholder="#{msg.WATER_MARK_NOM_MF}">
																<f:validateLength minimum="2" />
															</p:inputText>
															<p:message for="nommf" />
														</h:column>

														<h:column>
															<!-- <label for="prenommf">#{msg.NOUVEAU_PATIENT_PRENOM}</label> -->
															<p:inputText name="prenommf" id="prenommf"
																value="#{patientAction.patientBean.beneficiaire.prenom}" disabled="#{!patientAction.assure || patientAction.identique}"
																
																style="#{component.valid ? 'border-color :#CCCCCC;' : 'border-color :#CD0A0A;'}"
																required="true"
																requiredMessage="#{msg.MESS_REQUIS_PRENOM}"
																validatorMessage="#{msg.MESS_VALID_PRENOM}"
																placeholder="#{msg.WATER_MARK_PRENOM_MF}">
																<f:validateLength minimum="2" />
															</p:inputText>
															<p:message for="prenommf" />
														</h:column>

														<h:column>
															<!-- <label for="mailmf">#{msg.NOUVEAU_PATIENT_EMAIL}</label> -->
															<p:inputText name="mailmf" id="mailmf"
																value="#{patientAction.patientBean.beneficiaire.email}" 
																disabled="#{!patientAction.assure || patientAction.identique}"
																validatorMessage="#{msg.MESS_VALID_EMAIL}"
																
																style="#{component.valid ? 'border-color :#CCCCCC;' : 'border-color :#CD0A0A;'}"
																placeholder="#{msg.WATER_MARK_EMAIL_MF}">
															</p:inputText>
															<p:message for="mailmf" />
														</h:column>
														
														<h:column>
															<!-- <label for="telephonemf">#{msg.NOUVEAU_PATIENT_TELEPHONE}</label> -->
															<p:inputText name="telephonemf" id="telephonemf"
																value="#{patientAction.patientBean.beneficiaire.telephone}" 
																disabled="#{!patientAction.assure || patientAction.identique}"
																validatorMessage="#{msg.MESS_VALID_TEL}"
																
																style="#{component.valid ? 'border-color :#CCCCCC;' : 'border-color :#CD0A0A;'}"
																placeholder="#{msg.WATER_MARK_TEL_MF}">
															</p:inputText>
															<p:message for="telephonemf" />
														</h:column>

													</h:panelGrid>
														
													<div class="form-actions">
														<p:commandButton styleClass="btn btn-primary" style="float: right;"
															value="#{msg.NOUVEAU_PATIENT_BT_AYANTSDROIT}"
															oncomplete="showAyantsDroits(xhr, status, args);"
															ajax="true" update="msg,dialogAyantDroit"
															actionListener="#{patientAction.listeAutresAyantsDroit}"
															partialSubmit="true" process="matricule"
															disabled="#{!patientAction.assure}" >
															<p:ajax
																listener="#{patientAction.listeAutresAyantsDroit}" />
														</p:commandButton>
													</div>
												</fieldset>
										</h:panelGroup>
										<p:dialog id="dialogpatient" header="#{msg.DIALOG_RECH_PATIENT_TITRE}"
											widgetVar="dlgrecherche" modal="true" maximizable="false"
											minimizable="false" resizable="false">
											<div class="span12">
												<h3 align="center">#{msg.NOUVEAU_PATIENT_RESULTAT_RECHERCHE}</h3>
												<div class="form-actions" style="align: center">
													<h:outputText id="inpt" value="#{msg.MESS_NO_RESULT_PATIENT}"
														rendered="#{listeRecherchepatient!=null and listeRecherchepatient.rowCount==0}"
														style="color:red;" />
													<br />
													<br />
													<br />
													<p:dataTable id="pat" var="patient"
														value="#{listeRecherchepatient}" rowKey="#{patient.id}"
														paginator="true" rows="10"
														selection="#{patientAction.patienttrouve}"
														selectionMode="single"
														paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
														rowsPerPageTemplate="5,10,15"
														rendered="#{listeRecherchepatient.rowCount>0}">

														<p:column selectionMode="single" style="width:2%" />
														<p:column sortBy="#{patient.nom}">
															<f:facet name="header">#{msg.patient_nom}</f:facet>
									             #{patient.nom}
									        </p:column>
														<p:column sortBy="#{patient.prenom}">
															<f:facet name="header">#{msg.patient_prenom}</f:facet>
									             #{patient.prenom}
									        </p:column>
														<p:column sortBy="#{patient.dateNissance}">
															<f:facet name="header">#{msg.patient_dateNaissance}</f:facet>
									             #{patient.dateNissance}
									        </p:column>
														<p:column sortBy="#{patient.adresse}">
															<f:facet name="header">#{msg.NOUVEAU_PATIENT_ADRESSE}</f:facet>
									             #{patient.adresse}
									        </p:column>
														<p:column sortBy="#{patient.telephonePatient}">
															<f:facet name="header">#{msg.NOUVEAU_PATIENT_TELEPHONE}</f:facet>
									             #{patient.telephonePatient}
									        </p:column>
													</p:dataTable>
													<p:commandButton styleClass="btn btn-primary"
														value="#{msg.NOUVEAU_PATIENT_BT_VALIDER}"
														oncomplete="dlgrecherche.hide();"
														actionListener="#{patientAction.onTrouvePatient}"
														partialSubmit="true" process="pat"
														disabled="#{listeRecherchepatient.rowCount==0}">
														<p:ajax listener="#{patientAction.onTrouvePatient}"
															update=":formNouveauPatient" />
													</p:commandButton>
													&nbsp;&nbsp;&nbsp;
													<p:commandButton styleClass="btn"
														value="#{msg.NOUVEAU_PATIENT_BT_ANNULER}"
														onclick="dlgrecherche.hide();" />

												</div>
											</div>
										</p:dialog>
										<!-- Liste des autre ayants droits -->
										<p:dialog id="dialogAyantDroit" header="#{msg.DIALOG_RECH_AYANTS_DROIT_TITRE}"
											widgetVar="dlgAyantDroit" modal="true" maximizable="false"
											minimizable="false" resizable="false">
											<div class="span12" style="align: center">
												<h:outputText id="inptNoResult"
													value="#{msg.MESS_NO_RESULT_PATIENT}"
													rendered="#{listeAyantDroits==null || listeAyantDroits.rowCount==0}"
													style="color:red;" />
												<p:dataTable id="aDroit" var="ayantDroit"
													value="#{listeAyantDroits}" rowKey="#{ayantDroit.id}"
													rendered="#{listeAyantDroits.rowCount>0}">

													<p:column sortBy="#{ayantDroit.nom}">
														<f:facet name="header">#{msg.patient_nom}</f:facet>
									             			#{ayantDroit.nom}
									       		 		</p:column>
													<p:column sortBy="#{ayantDroit.prenom}">
														<f:facet name="header">#{msg.patient_prenom}</f:facet>
									             			#{ayantDroit.prenom}
									        			</p:column>
													<p:column sortBy="#{ayantDroit.dateNissance}">
														<f:facet name="header">#{msg.patient_dateNaissance}</f:facet>
									             			#{ayantDroit.dateNissance}
									        			</p:column>
													<p:column sortBy="#{ayantDroit.adresse}">
														<f:facet name="header">#{msg.NOUVEAU_PATIENT_ADRESSE}</f:facet>
									             			#{ayantDroit.adresse}
									        			</p:column>
													<p:column sortBy="#ayantDroit.telephonePatient}">
														<f:facet name="header">#{msg.NOUVEAU_PATIENT_TELEPHONE}</f:facet>
									             			#{ayantDroit.telephonePatient}
									        			</p:column>
												</p:dataTable>
											</div>
										</p:dialog>
									</div>
								</div>
							</div>
						</div>
						<!--caracteristiques-->
					</div>

					<div class="form-actions text-right">
						<p:commandButton styleClass="btn btn-primary"
							value="#{msg.NOUVEAU_PATIENT_BT_Enregister}"
							action="#{patientAction.savepatient}"
							update="msg,:formNouveauPatient" />
						&nbsp;&nbsp;&nbsp;
						<p:commandButton styleClass="btn"
							value="#{msg.NOUVEAU_PATIENT_BT_ANNULER}" />
					</div>
				</div>
			</h:form>
		</div>
		<!--infos admnistratives-->


		<script type="text/javascript">  
		 //<![CDATA[ 
		    function handleLoginRequest(xhr, status, args) {
		        if(!args.validationFailed)   
		        	dlgrecherche.show();
		    }

		    function showAyantsDroits(xhr, status, args) {
		        if(!args.validationFailed)   
		        	dlgAyantDroit.show();
		    }

			function updatenommf(){
				if (document.getElementById('formNouveauPatient:lien:0').checked){
					document.getElementById('formNouveauPatient:nommf').value=document.getElementById('formNouveauPatient:nom').value;
				}
			}

			function updateprenommf(){
				if (document.getElementById('formNouveauPatient:lien:0').checked){
					document.getElementById('formNouveauPatient:prenommf').value=document.getElementById('formNouveauPatient:prenom').value;
				}
			}
			
			function updatemailmf(){
				if (document.getElementById('formNouveauPatient:lien:0').checked){
					document.getElementById('formNouveauPatient:mailmf').value=document.getElementById('formNouveauPatient:mail').value;
				}
			}

			function updatetelephonemf(){
				if (document.getElementById('formNouveauPatient:lien:0').checked){
					document.getElementById('formNouveauPatient:telephonemf').value=document.getElementById('formNouveauPatient:telephoneFixe').value;
				}
			}

		  //]]>  
		</script>
	</ui:define>
</ui:composition>