<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
xmlns:h="http://java.sun.com/jsf/html"
xmlns:ui="http://java.sun.com/jsf/facelets"
xmlns:f="http://java.sun.com/jsf/core"
xmlns:p="http://primefaces.org/ui"
xmlns:s="http://jboss.org/schema/seam/taglib" 
template="../template.xhtml"
>
<ui:define name="body">
        <div class="breadcrumbs">
          <ul>
            <li>
              <a href="more-login.html">Accueil</a>
              <i class="icon-angle-right"></i>
            </li>
            <li>
              <a href="page_facturation.html">Facturation</a>
            </li>
          </ul>
          <div class="close-bread">
            <a href="#"><i class="icon-remove"></i></a>
          </div>
        </div>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">
      <div class="box box-color box-bordered">
        <div class="box-title">
          <h3>
            <i class="icon-table"></i>
            Liste des factures des clients</h3>
          </div>
          <div class="box-content nopadding">
            <h:form>  
            <p:dataTable var="fact" value="#{listFacturesClient}">  
            
            <p:column headerText="Nom">  
            <h:outputText value="#{fact.rendezVous.patient.nom}" />  
          </p:column>  

          <p:column headerText="Prénom(s)">  
            <h:outputText value="#{fact.rendezVous.patient.prenom}" />  
          </p:column>  

          <p:column headerText="Montant (Fcfa)">  
            <h:outputText value="#{fact.facture.montant}">  
            <f:convertNumber type="currency" currencySymbol="FCFA" minFractionDigits="0"/>
            </h:outputText>
          </p:column>  

          <p:column headerText="Date">  
            <h:outputText value="#{fact.rendezVous.patient.nom}" />  
          </p:column> 

          <p:column headerText="Etat facture">  
            <h:outputText value="#{fact.rendezVous.patient.nom}" />  
          </p:column> 
        </p:dataTable>  
      </h:form>  

    </div>
  </div>

</div>
</div>
</div>
</ui:define>
</ui:composition>