<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:s="http://jboss.org/schema/seam/taglib">
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport"
		content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
	<title>SEYSOO--MEDICIS</title>
	<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />
	<link href="css/bootstrap-responsive.min.css" rel="stylesheet"
		type="text/css" />
	<link href="css/plugins/icheck/all.css" rel="stylesheet"
		type="text/css" />
	<link href="css/style.css" rel="stylesheet" type="text/css" />
	<link href="css/themes.css" rel="stylesheet" type="text/css" />
	<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.1/css/font-awesome.css" rel="stylesheet" />
</h:head>
<body>
	<div id="navigation">
		<div class="container-fluid">
			<a href="#" id="brand"><img src="#{applicationPath}/img/demo/logo_medicis.png" alt="" /></a>
			<a href="#" id="brand"></a> <a href="#" class="toggle-nav" rel="tooltip" data-placement="bottom" title="Afficher sous une autre vue"><i class="icon-reorder"></i></a>
			<ul class='main-nav'>
			</ul>
			<div class="user">
				<ul class="icon-nav">
					<li class="dropdown sett"><a href="#" class='dropdown-toggle'
						data-toggle="dropdown"><i class="icon-cog"></i></a>
						<ul class="dropdown-menu pull-right theme-settings">
							<li><span>Largeur de la page</span>
								<div class="version-toggle">
									<a href="#" class='set-fixed'>Fixé</a> <a href="#"
										class="active set-fluid">Par défaut</a>
								</div></li>
							<li><span>Barre supérieure</span>
								<div class="topbar-toggle">
									<a href="#" class='set-topbar-fixed'>Fixé</a> <a href="#" class="active set-topbar-default">Par défaut</a>
								</div></li>
							<li><span>Sidebar</span>
								<div class="sidebar-toggle">
									<a href="#" class='set-sidebar-fixed'>Fixé</a> <a href="#"	class="active set-sidebar-default">Par défaut</a>
								</div></li>
						</ul></li>
				</ul>
				<div class="dropdown">
					<a href="#" class='dropdown-toggle' data-toggle="dropdown">#{userconnecte.prenom} #{userconnecte.nom} </a>
					<ul class="dropdown-menu pull-right">
						<li><a href="#.html">Editer votre profil</a></li>
						<li><s:link view="/home.seam" action="#{identity.logout}">Déconnexion</s:link></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="row-fluid">
		<div class="span12 form-horizontal">
				<br/><br/><br/><br/><br/><br/><br/><br/>
				<h1 align="center">OUPS !!! Erreur Système.</h1>
				<p align="center">
					Erreur systéme. Veuillez contacter le service technique.<br />
					<s:link view="/patient/home.seam">Retour à l'accueil</s:link>
				</p>
			</div>
	</div>
	</body>
</html>
