<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:s="http://jboss.org/schema/seam/taglib">
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport"
		content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
	<title>SEYSOO--MEDICIS</title>
	<link rel="shortcut icon" href="#{applicationPath}/img/demo/favicon.ico" type="image/x-icon" /> 
	<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />
	<link href="css/bootstrap-responsive.min.css" rel="stylesheet"
		type="text/css" />
	<link href="css/plugins/icheck/all.css" rel="stylesheet"
		type="text/css" />
	<link href="css/style.css" rel="stylesheet" type="text/css" />
	<link href="css/themes.css" rel="stylesheet" type="text/css" />
</h:head>
<h:body class="login">
	<div class="wrapper">
	<img src="#{applicationPath}/img/accueil-medicis1.png" alt="" />
		<div class="login-body">
			<h2>CONNEXION</h2>
			<h:form id="login">
			<p:messages id="msg" />
				<div class="control-group">
					<div class="email controls">
						<p:inputText 
						id="Identifiant"
						 name="identifiant" 
						 styleClass="input-block-level" 
						 value="#{identity.username}" 
						 style="#{component.valid ? 'border-color :#CCCCCC;' : 'border-color :#CD0A0A;'};width:100%" 
						 required="true" 
						 requiredMessage="Le login est requis">
							<p:watermark for="Identifiant" value="Identifiant" />
						</p:inputText>
					</div>
				</div>
				<div class="control-group">
					<div class="pw controls">
						<h:inputSecret id="upw" name="upw" styleClass="input-block-level" value="#{identity.password}" style="#{component.valid ? 'border-color :#CCCCCC;' : 'border-color :#CD0A0A;'};width:100%" required="true" requiredMessage="Le mot de passe est requis">
							<p:watermark for="upw" value="Mot de passe" />
						</h:inputSecret>
					</div>
				</div>
				<div class="submit">

					<div class="remember">
					<div class="icheckbox_square-blue" style="position: relative;">
						<h:selectBooleanCheckbox id="remember" styleClass="icheck-me" style="position: absolute; top: -10%; left: -10%; display: block; width: 120%; height: 120%; margin: 0px; padding: 0px; background: none repeat scroll 0% 0% rgb(255, 255, 255); border: 0px none; opacity: 0;"/>						
						</div>
					</div>
					
					<h:commandButton id="valider" value="Connexion" styleClass="btn btn-primary" action="#{identity.quietLogin}"/>
				</div>
			</h:form>
			<div class="forget">
				&nbsp;
			</div>
		</div>
	</div>
</h:body>
</html>
