<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:s="http://jboss.org/schema/seam/taglib">
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport"
		content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

	<ui:insert name="title-liste-rendezvous" />
	<ui:insert name="title-liste-rendezvousannule" />
	<ui:insert name="title-liste-rendezvousconf" />
	<ui:insert name="title-liste-patients" />
	<ui:insert name="title-liste-patientsArchives" />
	<ui:insert name="title-nouveaupatient" />
	<ui:insert name="title-dossierpatient" />
	<ui:insert name="title-factureclient" />
	<ui:insert name="title-facturepatient" />
	<ui:insert name="title-nouvelExamen" />
	<ui:insert name="title-radiologie" />

	<!-- Apple devices fullscreen -->
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<!-- Apple devices fullscreen -->
	<meta name="apple-mobile-web-app-status-bar-style"
		content="black-translucent" />
	<meta name="viewport"
		content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
	<link rel="shortcut icon"
		href="#{applicationPath}/img/demo/favicon.ico" type="image/x-icon" />
	<link href="#{applicationPath}/css/bootstrap.min.css" rel="stylesheet"
		type="text/css" />
	<link href="#{applicationPath}/css/bootstrap-responsive.min.css"
		rel="stylesheet" type="text/css" />
	<link href="#{applicationPath}/css/plugins/icheck/all.css"
		rel="stylesheet" type="text/css" />
	<link href="#{applicationPath}/css/style.css" rel="stylesheet"
		type="text/css" />
	<link href="#{applicationPath}/css/themes.css" rel="stylesheet"
		type="text/css" />
	<link href="#{applicationPath}/css/font-awesome.css" rel="stylesheet" />
	<!-- <link
		href="//netdna.bootstrapcdn.com/font-awesome/4.0.1/css/font-awesome.css"
		rel="stylesheet" /> -->
	<script src="#{applicationPath}/js/application.min.js"></script>
	<script src="#{applicationPath}/js/bootstrap.min.js"></script>
	<script src="#{applicationPath}/js/medicis.js"></script>


	<!--dbut -->
	<link rel="stylesheet"
		href="bibliotheque/ext/jquery-ui/themes/ui-darkness/jquery-ui-1.10.3.min.css" />

	<!-- Third party -->

	<script type="text/javascript"
		src="bibliotheque/ext/jquery/jquery-2.0.3.min.js"></script>
	<script type="text/javascript"
		src="bibliotheque/ext/jquery-ui/jquery-ui-1.10.3.min.js"></script>
	<script type="text/javascript"
		src="bibliotheque/ext/flot/jquery.flot.min.js"></script>
	<script type="text/javascript"
		src="bibliotheque/ext/openjpeg/openjpeg.js"></script>
	<!-- Local -->
	<script type="text/javascript" src="bibliotheque/src/application.js"></script>
	<script type="text/javascript"
		src="bibliotheque/src/dicom/dicomParser.js"></script>
	<script type="text/javascript"
		src="bibliotheque/src/dicom/dictionary.js"></script>
	<script type="text/javascript" src="bibliotheque/src/gui/filter.js"></script>
	<script type="text/javascript" src="bibliotheque/src/gui/generic.js"></script>
	<script type="text/javascript" src="bibliotheque/src/gui/handlers.js"></script>
	<script type="text/javascript" src="bibliotheque/src/gui/help.js"></script>
	<script type="text/javascript" src="bibliotheque/src/gui/html.js"></script>
	<script type="text/javascript" src="bibliotheque/src/gui/layer.js"></script>
	<script type="text/javascript" src="bibliotheque/src/gui/loader.js"></script>
	<script type="text/javascript" src="bibliotheque/src/gui/style.js"></script>
	<script type="text/javascript" src="bibliotheque/src/gui/tools.js"></script>
	<script type="text/javascript" src="bibliotheque/src/gui/undo.js"></script>
	<script type="text/javascript" src="bibliotheque/src/image/filter.js"></script>
	<script type="text/javascript" src="bibliotheque/src/image/image.js"></script>
	<script type="text/javascript" src="bibliotheque/src/image/luts.js"></script>
	<script type="text/javascript" src="bibliotheque/src/image/reader.js"></script>
	<script type="text/javascript" src="bibliotheque/src/image/view.js"></script>
	<script type="text/javascript" src="bibliotheque/src/io/file.js"></script>
	<script type="text/javascript" src="bibliotheque/src/io/url.js"></script>
	<script type="text/javascript"
		src="bibliotheque/src/math/bucketQueue.js"></script>
	<script type="text/javascript" src="bibliotheque/src/math/scissors.js"></script>
	<script type="text/javascript" src="bibliotheque/src/math/shapes.js"></script>
	<script type="text/javascript" src="bibliotheque/src/tools/circle.js"></script>
	<script type="text/javascript" src="bibliotheque/src/tools/draw.js"></script>
	<script type="text/javascript" src="bibliotheque/src/tools/filter.js"></script>
	<script type="text/javascript" src="bibliotheque/src/tools/info.js"></script>
	<script type="text/javascript" src="bibliotheque/src/tools/line.js"></script>
	<script type="text/javascript" src="bibliotheque/src/tools/livewire.js"></script>
	<script type="text/javascript"
		src="bibliotheque/src/tools/rectangle.js"></script>
	<script type="text/javascript" src="bibliotheque/src/tools/roi.js"></script>
	<script type="text/javascript" src="bibliotheque/src/tools/scroll.js"></script>
	<script type="text/javascript" src="bibliotheque/src/tools/toolbox.js"></script>
	<script type="text/javascript" src="bibliotheque/src/tools/undo.js"></script>
	<script type="text/javascript"
		src="bibliotheque/src/tools/windowLevel.js"></script>
	<script type="text/javascript" src="bibliotheque/src/tools/navigate.js"></script>
	<script type="text/javascript" src="bibliotheque/src/utils/string.js"></script>

	<!--  Launch the app -->
	<script type="text/javascript" src="bibliotheque/appgui.js"></script>
	<script type="text/javascript" src="bibliotheque/applauncher.js"></script>
	<!--  fin -->
</h:head>

<h:body>
	<div id="navigation">
		<div class="container-fluid">
			<a href="#" id="brand"><img
				src="#{applicationPath}/img/logo-medicis1.png" alt=""
				style="margin-top: -10px" /></a> <a href="#" id="brand"></a> <a
				href="#" class="toggle-nav" rel="tooltip" data-placement="bottom"
				title="Afficher sous une autre vue"><i class="icon-reorder"></i></a>
			<ul class='main-nav'>
				<li><s:link view="/patient/home.seam">
						<span>Accueil</span>
					</s:link></li>
			</ul>
			<div class="user">
				<ul class="icon-nav">
					<li class="dropdown sett"><a href="#" class='dropdown-toggle'
						data-toggle="dropdown"><i class="icon-cog"></i></a>
						<ul class="dropdown-menu pull-right theme-settings">
							<li><span>Largeur de la page</span>
								<div class="version-toggle">
									<a href="#" class='set-fixed'>Fixé</a> <a href="#"
										class="active set-fluid">Par défaut</a>
								</div></li>
							<li><span>Barre supérieure</span>
								<div class="topbar-toggle">
									<a href="#" class='set-topbar-fixed'>Fixé</a> <a href="#"
										class="active set-topbar-default">Par défaut</a>
								</div></li>
							<li><span>Sidebar</span>
								<div class="sidebar-toggle">
									<a href="#" class='set-sidebar-fixed'>Fixé</a> <a href="#"
										class="active set-sidebar-default">Par défaut</a>
								</div></li>
						</ul></li>
				</ul>
				<div class="dropdown">
					<a href="#" class='dropdown-toggle' data-toggle="dropdown">#{userconnecte.prenom}
						#{userconnecte.nom} </a>
					<ul class="dropdown-menu pull-right">
						<li><a href="#.html">Editer votre profil</a></li>
						<li><s:link view="/home.seam" action="#{identity.logout}">Déconnexion</s:link></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div id="content" style="background-color: #000">

		<!-- /pageHeader -->
		<div id="pageMain">



			<!-- History -->
			<div id="history" title="History"></div>
			<!-- Tags -->
			<div id="tags" title="Tags"></div>
			<!-- Help -->
			<div id="help" title="Help"></div>
			<!-- Layer Container -->
<p:outputLabel value="#{diagnosticAction.diagnosticChoisis.nomMalade}"></p:outputLabel>
			<div id="placement">
				<ul id="toolList"></ul>
			</div>
			<div id="layerContainer">

				<canvas id="imageLayer"></canvas>
				<canvas id="drawLayer"></canvas>
				<canvas id="tempLayer"></canvas>
				<div id="infoLayer">
					<div id="infotl"></div>
					<div id="infotr"></div>
					<div id="infobl"></div>
					<div id="infobr">
						<div id="plot"></div>
					</div>
				</div>
				<!-- /infoLayer -->
			</div>
			<!-- /layerContainer -->
			<!-- /layerDialog -->
		</div>
		<!-- /pageMain -->
	</div>
	<!-- Open file -->
	<div id="loaderlist" style="display: none;"></div>
</h:body>
</html>
