<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<m:message xmlns="http://www.w3.org/1999/xhtml"
           xmlns:m="http://jboss.org/schema/seam/mail"
           xmlns:ui="http://java.sun.com/jsf/facelets"
           xmlns:s="http://jboss.org/schema/seam/taglib"
           xmlns:h="http://java.sun.com/jsf/html"
           xmlns:f="http://java.sun.com/jsf/core">
    
          <m:from name="Seysoo Team" address="application@seysoo.com" /> 
          <m:to name="Dr Mouhamad NDIAYE">#{radiologie.emailMedecin}</m:to>
          <m:subject>#{radiologie.objetMail}</m:subject>
          <m:attachment value="/img/demo/logo_medicis.png" status="mediciss" disposition="inline"  />
		        <ui:repeat value="#{radiologie.checkedImages}"  var="pj" >  
		            <m:attachment value="/images_radio/#{pj.image}"  disposition="inline"  /> 
		       </ui:repeat> 
          <m:body>
          
             <p align="left"> <h:outputText value="Resultat radiologie" escape="false" />   </p>
           
            <p>&nbsp;</p>
           
            <p><h:outputText value="#{radiologie.contenuMail}" escape="false"
																style="margin-left:10px" />  </p>
	         <p align="center">La direction technique seysoo</p>
	   </m:body>
</m:message>