<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:s="http://jboss.org/schema/seam/taglib"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j">
	<h:form id="form-envoi-mail">
		<p:dialog header="Envoi email" id="dg-envoi-mail" width="500"
			height="450" widgetVar="dg_envoi_mail" modal="true">

			<h:panelGroup layout="block" id="actions">
				<h:panelGrid columns="2">
					<h:outputText value="Adresse Email" />
					<h:inputText id="email" value="#{radiologie.emailMedecin}" />
					<h:outputText value="Objet" />
					<h:inputText value="#{radiologie.objetMail}" />
				</h:panelGrid>
				<h:panelGrid id="img" columns="2">
					<h:outputText value="Images" />
					<p:selectManyMenu value="#{radiologie.chekedImages}" var="i"
						style="width:350px;height:200px" showCheckbox="true">
						<f:selectItems value="#{radiologie.imagesMap}" var="image"
							itemLabel="#{image}" itemValue="#{image}" />
						<p:column>
							<p:graphicImage value="/images_radio/#{i}" title="#{i}"
								width="200" height="200" />
						</p:column>
					</p:selectManyMenu>
				</h:panelGrid>
				<p:editor id="editeur" width="400" value="#{radiologie.contenuMail}" />
			</h:panelGroup>
			<f:facet name="footer">
				<h:panelGroup layout="block" styleClass="pull-right">
					<p:commandButton value="Envoyer"
						action="#{radiologie.envoiEmailMedecin}"
						styleClass="btn btn-primary" oncomplete="dg_envoi_mail.hide()" />
					<p:commandButton styleClass="btn btn-primary" value="Fermer"
						onclick="dg_envoi_mail.hide()" />
				</h:panelGroup>
			</f:facet>
		</p:dialog>
	</h:form>
</ui:composition>