<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:s="http://jboss.org/schema/seam/taglib"
	xmlns:f="http://java.sun.com/jsf/core">
	<p:panel header="#{msg.consultation_contre_indications}">
		<h:panelGrid columns="3">
			<h:panelGroup layout="block">
				<p:selectBooleanCheckbox disabled="#{disabled}"
					value="#{infoIrmParam.claustrophobie}" />
				<h:outputText value="#{msg.consultation_claustrophobie}"
					styleClass="#{infoIrmParam.claustrophobie ? 'text-red' : ''}" />
			</h:panelGroup>
			<h:panelGroup layout="block">
				<p:selectBooleanCheckbox disabled="#{disabled}"
					value="#{infoIrmParam.stimulateurCardiaque}" />
				<h:outputText value="#{msg.consultation_stimulateur_cardiaque}"
					styleClass="#{infoIrmParam.stimulateurCardiaque ? 'text-red' : ''}" />
			</h:panelGroup>
			<h:panelGroup layout="block">
				<p:selectBooleanCheckbox disabled="#{disabled}"
					value="#{infoIrmParam.materielVasculaire}" />
				<h:outputText value="#{msg.consultation_materiel_vasculaire}"
					styleClass="#{infoIrmParam.materielVasculaire ? 'text-red' : ''}" />
			</h:panelGroup>
			<h:panelGroup layout="block">
				<p:selectBooleanCheckbox disabled="#{disabled}"
					value="#{infoIrmParam.prothese}" />
				<h:outputText value="#{msg.consultation_prothese}"
					styleClass="#{infoIrmParam.prothese}" />
			</h:panelGroup>
			<h:panelGroup layout="block">
				<p:selectBooleanCheckbox disabled="#{disabled}"
					value="#{infoIrmParam.eclatMetallique}" />
				<h:outputText value="#{msg.consultation_eclat_metallique}"
					styleClass="#{infoIrmParam.eclatMetallique ? 'text-red' : ''}" />
			</h:panelGroup>
			<h:panelGroup layout="block">
				<p:selectBooleanCheckbox disabled="#{disabled}"
					value="#{infoIrmParam.materielChirurgical}" />
				<h:outputText value="#{msg.consultation_materiel_chirurgical}"
					styleClass="#{infoIrmParam.materielChirurgical ? 'text-red' : ''}" />
			</h:panelGroup>
			<h:panelGroup layout="block">
				<p:selectBooleanCheckbox disabled="#{disabled}"
					value="#{infoIrmParam.patchCutanee}" />
				<h:outputText value="#{msg.consultation_patch_cutanee}"
					styleClass="#{infoIrmParam.patchCutanee ? 'text-red' : ''}" />
			</h:panelGroup>
			<h:panelGroup layout="block">
				<p:selectBooleanCheckbox disabled="#{disabled}"
					value="#{infoIrmParam.travailleurMetaux}" />
				<h:outputText value="#{msg.consultation_travailleur_metaux}"
					styleClass="#{infoIrmParam.travailleurMetaux ? 'text-red' : ''}" />
			</h:panelGroup>
			<h:panelGroup layout="block">
				<p:selectBooleanCheckbox disabled="#{disabled}"
					value="#{infoIrmParam.clipNeaochirurgical}" />
				<h:outputText value="#{msg.consultation_clip_neaochirurgical}"
					styleClass="#{infoIrmParam.clipNeaochirurgical ? 'text-red' : ''}" />
			</h:panelGroup>
			<h:panelGroup layout="block">
				<p:selectBooleanCheckbox disabled="#{disabled}"
					value="#{infoIrmParam.valveCardiaque}" />
				<h:outputText value="#{msg.consultation_valve_cardiaque}"
					styleClass="#{infoIrmParam.valveCardiaque ? 'text-red' : ''}" />
			</h:panelGroup>
			<h:panelGroup layout="block">
				<p:selectBooleanCheckbox disabled="#{disabled}"
					value="#{infoIrmParam.valveIntracranienne}" />
				<h:outputText value="#{msg.consultation_valve_intracranienne}"
					styleClass="#{infoIrmParam.valveIntracranienne ? 'text-red' : ''}" />
			</h:panelGroup>
			<h:panelGroup layout="block">
				<p:selectBooleanCheckbox disabled="#{disabled}"
					value="#{infoIrmParam.sutureMetalique}" />
				<h:outputText value="#{msg.consultation_suture_metalique}"
					styleClass="#{infoIrmParam.sutureMetalique ? 'text-red' : ''}" />
			</h:panelGroup>
		</h:panelGrid>
		<h:panelGrid columns="2">
			<h:panelGroup layout="block">
				<p:selectBooleanCheckbox disabled="#{disabled}"
					value="#{infoIrmParam.grossesse}" />
				<h:outputText value="#{msg.consultation_grossesse}"
					styleClass="#{infoIrmParam.grossesse ? 'text-red' : ''}" />
			</h:panelGroup>
			<h:panelGroup layout="block">
				<p:selectBooleanCheckbox disabled="#{disabled}"
					value="#{infoIrmParam.autresContresIndicationsYN}" />
				<h:outputText rendered="#{infoIrmParam.autresContresIndicationsYN}" styleClass="#{infoIrmParam.autresContresIndicationsYN ? 'text-red' : ''}" value="#{msg.consultation_autres_contres_indications}"
					/>
				<h:inputText rendered="#{infoIrmParam.autresContresIndicationsYN}" value="#{infoIrmParam.autresContresIndications}" />
			</h:panelGroup>
		</h:panelGrid>
	</p:panel>

	<p:panel header="#{msg.consultation_explorations_demandees}">
		<h:panelGrid columns="3">
			<h:panelGroup layout="block">
				<p:selectBooleanCheckbox disabled="#{disabled}"
					value="#{infoIrmParam.craneContenu}" />
				<h:outputText value="#{msg.consultation_crane_contenu}"
					styleClass="#{infoIrmParam.craneContenu ? 'text-red' : ''}" />
			</h:panelGroup>
			<h:panelGroup layout="block">
				<p:selectBooleanCheckbox disabled="#{disabled}"
					value="#{infoIrmParam.rachisCervical}" />
				<h:outputText value="#{msg.consultation_rachis_cervical}"
					styleClass="#{infoIrmParam.rachisCervical ? 'text-red' : ''}" />
			</h:panelGroup>
			<h:panelGroup layout="block">
				<p:selectBooleanCheckbox disabled="#{disabled}"
					value="#{infoIrmParam.rachisLombaire}" />
				<h:outputText value="#{msg.consultation_rachis_lombaire}"
					styleClass="#{infoIrmParam.rachisLombaire ? 'text-red' : ''}" />
			</h:panelGroup>
			<h:panelGroup layout="block">
				<p:selectBooleanCheckbox disabled="#{disabled}"
					value="#{infoIrmParam.epauleGauche}" />
				<h:outputText value="#{msg.consultation_epaule_gauche}"
					styleClass="#{infoIrmParam.epauleGauche ? 'text-red' : ''}" />
			</h:panelGroup>
			<h:panelGroup layout="block">
				<p:selectBooleanCheckbox disabled="#{disabled}"
					value="#{infoIrmParam.epauleDroit}" />
				<h:outputText value="#{msg.consultation_epaule_droit}"
					styleClass="#{infoIrmParam.epauleDroit ? 'text-red' : ''}" />
			</h:panelGroup>
			<h:panelGroup layout="block">
				<p:selectBooleanCheckbox disabled="#{disabled}"
					value="#{infoIrmParam.abdomen}" />
				<h:outputText value="#{msg.consultation_abdomen}"
					styleClass="#{infoIrmParam.abdomen ? 'text-red' : ''}" />
			</h:panelGroup>
			<h:panelGroup layout="block">
				<p:selectBooleanCheckbox disabled="#{disabled}"
					value="#{infoIrmParam.pelvis}" />
				<h:outputText value="#{msg.consultation_pelvis}"
					styleClass="#{infoIrmParam.pelvis ? 'text-red' : ''}" />
			</h:panelGroup>
			<h:panelGroup layout="block">
				<p:selectBooleanCheckbox disabled="#{disabled}"
					value="#{infoIrmParam.orbite}" />
				<h:outputText value="#{msg.consultation_orbite}"
					styleClass="#{infoIrmParam.orbite ? 'text-red' : ''}" />
			</h:panelGroup>
			<h:panelGroup layout="block">
				<p:selectBooleanCheckbox disabled="#{disabled}"
					value="#{infoIrmParam.moelle}" />
				<h:outputText value="#{msg.consultation_moelle}"
					styleClass="#{infoIrmParam.moelle ? 'text-red' : ''}" />
			</h:panelGroup>
			<h:panelGroup layout="block">
				<p:selectBooleanCheckbox disabled="#{disabled}"
					value="#{infoIrmParam.rachisDorsal}" />
				<h:outputText value="#{msg.consultation_rachis_dorsal}"
					styleClass="#{infoIrmParam.rachisDorsal ? 'text-red' : ''}" />
			</h:panelGroup>
			<h:panelGroup layout="block">
				<p:selectBooleanCheckbox disabled="#{disabled}"
					value="#{infoIrmParam.hancheGauche}" />
				<h:outputText value="#{msg.consultation_hanche_gauche}"
					styleClass="#{infoIrmParam.hancheGauche ? 'text-red' : ''}" />
			</h:panelGroup>
			<h:panelGroup layout="block">
				<p:selectBooleanCheckbox disabled="#{disabled}"
					value="#{infoIrmParam.hancheDroit}" />
				<h:outputText value="#{msg.consultation_hanche_droit}"
					styleClass="#{infoIrmParam.hancheDroit ? 'text-red' : ''}" />
			</h:panelGroup>
			<h:panelGroup layout="block">
				<p:selectBooleanCheckbox disabled="#{disabled}"
					value="#{infoIrmParam.genouGauche}" />
				<h:outputText value="G#{msg.consultation_genou_gauche}"
					styleClass="#{infoIrmParam.genouGauche ? 'text-red' : ''}" />
			</h:panelGroup>

			<h:panelGroup layout="block">
				<p:selectBooleanCheckbox disabled="#{disabled}"
					value="#{infoIrmParam.genouDroit}" />
				<h:outputText value="#{msg.consultation_genou_droit}"
					styleClass="#{infoIrmParam.genouDroit ? 'text-red' : ''}" />
			</h:panelGroup>
			<h:panelGroup layout="block">
				<p:selectBooleanCheckbox disabled="#{disabled}"
					value="#{infoIrmParam.pharynxLarnyx}" />
				<h:outputText value="#{msg.consultation_pharynx_larnyx}"
					styleClass="#{infoIrmParam.pharynxLarnyx ? 'text-red' : ''}" />
			</h:panelGroup>
		</h:panelGrid>
		<h:panelGrid columns="2">
			<h:panelGroup layout="block">
				<p:selectBooleanCheckbox disabled="#{disabled}"
					value="#{infoIrmParam.coeurVaisseaux}" />
				<h:outputText value="#{msg.consultation_coeur_vaisseaux}"
					styleClass="#{infoIrmParam.coeurVaisseaux ? 'text-red' : ''}" />
			</h:panelGroup>
			<h:panelGroup layout="block">
				<p:selectBooleanCheckbox disabled="#{disabled}"
					value="#{infoIrmParam.autresExplorationsYN}" />
				<h:outputText value="#{msg.consultation_autres}" rendered="#{infoIrmParam.autresExplorationsYN}" styleClass="#{infoIrmParam.autresExplorationsYN ? 'text-red' : ''}" />
				<h:inputText value="#{infoIrmParam.autresExplorations}" rendered="#{infoIrmParam.autresExplorationsYN}"/>
			</h:panelGroup>
		</h:panelGrid>
	</p:panel>

	<p:panel header="#{msg.consultation_informations_supplementaires}">
			<h:panelGrid columns="2">
				<h:outputText value="#{msg.consultation_indications_cliniques}" />
				<p:inputTextarea value="#{infoIrmParam.indicationsCliniques}" cols="90"
					disabled="#{disabled}" />
				<h:outputText value="#{msg.consultation_antecedents}" />
				<p:inputTextarea value="#{infoIrmParam.antecedents}" cols="90"
					disabled="#{disabled}" />
				<h:outputText value="#{msg.consultation_informations_attendues}" />
				<p:inputTextarea value="#{infoIrmParam.informationsAttendues}" cols="90"
					disabled="#{disabled}" />
			</h:panelGrid>
			<h:panelGrid columns="2">
				<h:outputText value="#{msg.consultation_cooperer}" />
				<p:selectOneRadio value="#{infoIrmParam.coopererYN}"
					disabled="#{disabled}" required="true">
					<f:selectItem itemLabel="Oui" itemValue="true" />
					<f:selectItem itemLabel="Non" itemValue="false" />
				</p:selectOneRadio>
				<h:outputText value="#{msg.consultation_valide}" />
				<p:selectOneRadio value="#{infoIrmParam.valideYN}"
					disabled="#{disabled}" required="true">
					<f:selectItem itemLabel="Oui" itemValue="true" />
					<f:selectItem itemLabel="Non" itemValue="false" />
				</p:selectOneRadio>
				<h:outputText value="#{msg.consultation_allergies}" />
				<p:selectOneRadio value="#{infoIrmParam.allergiesYN}"
					disabled="#{disabled}" required="true">
					<f:selectItem itemLabel="Oui" itemValue="true" />
					<f:selectItem itemLabel="Non" itemValue="false" />
				</p:selectOneRadio>
			</h:panelGrid>
	</p:panel>
</ui:composition>