<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:s="http://jboss.org/schema/seam/taglib"
	xmlns:f="http://java.sun.com/jsf/core">
	<p:dialog header="#{msg.listepatient_menucontext_2}"
		id="dg_modifier_interpretation_examen" width="500"
		widgetVar="dg_modifier_interpretation_examen" modal="true">
		 <p:outputPanel id="form_modifier_interpretation"> 
			<p:editor id="editor_modifier_interpretation_examen"
				value="#{diagnosticAction.interpretationSelected.libelle}"
				width="450" />
		</p:outputPanel>
		<f:facet name="footer">
			<h:panelGroup layout="block" styleClass="pull-right">
				<h:panelGrid columns="2">
					<p:commandButton value="Enregistrer"
						action="#{diagnosticAction.modifierInterpretationExamen}"
						update=":tabFicheConsultationRadiologie:consultation-radiologie:interpretation"
						styleClass="btn btn-primary"
						oncomplete="dg_modifier_interpretation_examen.hide()" />
					<p:commandButton styleClass="btn btn-primary" value="Fermer"
						onclick="dg_modifier_interpretation_examen.hide()" />
				</h:panelGrid>
			</h:panelGroup>
		</f:facet>
	</p:dialog>
</ui:composition>