<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:s="http://jboss.org/schema/seam/taglib"
	xmlns:f="http://java.sun.com/jsf/core">
	<h:form id="form-modifier-examen-radiologie">
		<p:dialog header="#{msg.consultation_modifier_examen}"
			id="dg_modifier_examen_radiologie" width="800"
			widgetVar="dg_modifier_examen_radiologie">
			<h:panelGrid columns="2" styleClass="table"
				rendered="#{diagnosticAction.diagnosticChoisis != null}">
				<h:outputText value="#{msg.consultation_type_examen}" />
				<p:selectOneMenu
					value="#{diagnosticAction.diagnosticChoisis.examen.id}"
					rendered="#{diagnosticAction.diagnosticChoisis.infosIrm == null}">
					<f:selectItem itemLabel="Choisissez" itemValue="0"
						noSelectionOption="false" />
					<f:selectItems value="#{listeExamenNonIrm}" var="type"
						itemLabel="#{type.libelle}" itemValue="#{type.id}" />
				</p:selectOneMenu>
				<h:outputText value="#{msg.consultation_irm}"
					rendered="#{diagnosticAction.diagnosticChoisis.infosIrm != null}" />

				<h:outputText value="#{msg.consultation_date}" />
				<p:calendar value="#{diagnosticAction.diagnosticChoisis.date}"
					pattern="MM/dd/yyyy HH:mm" navigator="true" lang="fr" locale="fr"
					requiredMessage="Le champ Date est requis" />
				<h:outputText value="#{msg.consultation_medecin}" />
				<p:selectOneMenu
					value="#{diagnosticAction.diagnosticChoisis.medecin.id}">
					<f:selectItem itemLabel="Choisissez" itemValue="0"
						noSelectionOption="false" />
					<f:selectItems value="#{diagnosticAction.listeMedecinsRadiologie}"
						var="medecin"
						itemLabel="#{medecin.utilisateur.prenom} #{medecin.utilisateur.nom}"
						itemValue="#{medecin.id}" />
				</p:selectOneMenu>
				<h:outputText value="#{msg.consultation_salle}" />
				<p:selectOneMenu
					value="#{diagnosticAction.diagnosticChoisis.salle.id}">
					<f:selectItem itemLabel="Choisissez" itemValue="0"
						noSelectionOption="false" />
					<f:selectItems value="#{diagnosticAction.listeSallesRadiologie}"
						var="salle" itemLabel="#{salle.nom}" itemValue="#{salle.id}" />
				</p:selectOneMenu>
			</h:panelGrid>

			<p:commandButton styleClass="btn"
				rendered="#{diagnosticAction.diagnosticChoisis.infosIrm != null}"
				value="#{msg.consultation_fiche_irm}"
				update=":tabFicheConsultationRadiologie:form-modifier-examen-radiologie:fiche_irm">
				<f:setPropertyActionListener target="#{diagnosticAction.examenIRM}"
					value="#{true}" />
			</p:commandButton>

			<h:panelGroup id="fiche_irm" layout="block">
				<h:panelGroup layout="block"
					rendered="#{diagnosticAction.examenIRM and diagnosticAction.diagnosticChoisis.infosIrm != null}">

					<p:panel header="#{msg.consultation_contre_indications}">
						<h:panelGrid columns="3" styleClass="table">
							<h:panelGroup layout="block">
								<p:selectBooleanCheckbox
									value="#{diagnosticAction.diagnosticChoisis.infosIrm.claustrophobie}" />
								<h:outputText value="#{msg.consultation_claustrophobie}" />
							</h:panelGroup>
							<h:panelGroup layout="block">
								<p:selectBooleanCheckbox
									value="#{diagnosticAction.diagnosticChoisis.infosIrm.stimulateurCardiaque}" />
								<h:outputText value="#{msg.consultation_stimulateur_cardiaque}" />
							</h:panelGroup>
							<h:panelGroup layout="block">
								<p:selectBooleanCheckbox
									value="#{diagnosticAction.diagnosticChoisis.infosIrm.materielVasculaire}" />
								<h:outputText value="#{msg.consultation_materiel_vasculaire}" />
							</h:panelGroup>
							<h:panelGroup layout="block">
								<p:selectBooleanCheckbox
									value="#{diagnosticAction.diagnosticChoisis.infosIrm.prothese}" />
								<h:outputText value="#{msg.consultation_prothese}" />
							</h:panelGroup>
							<h:panelGroup layout="block">
								<p:selectBooleanCheckbox
									value="#{diagnosticAction.diagnosticChoisis.infosIrm.eclatMetallique}" />
								<h:outputText value="#{msg.consultation_eclat_metallique}" />
							</h:panelGroup>
							<h:panelGroup layout="block">
								<p:selectBooleanCheckbox
									value="#{diagnosticAction.diagnosticChoisis.infosIrm.materielChirurgical}" />
								<h:outputText value="#{msg.consultation_materiel_chirurgical}" />
							</h:panelGroup>
							<h:panelGroup layout="block">
								<p:selectBooleanCheckbox
									value="#{diagnosticAction.diagnosticChoisis.infosIrm.patchCutanee}" />
								<h:outputText value="#{msg.consultation_patch_cutanee}" />
							</h:panelGroup>
							<h:panelGroup layout="block">
								<p:selectBooleanCheckbox
									value="#{diagnosticAction.diagnosticChoisis.infosIrm.travailleurMetaux}" />
								<h:outputText value="#{msg.consultation_travailleur_metaux}" />
							</h:panelGroup>
							<h:panelGroup layout="block">
								<p:selectBooleanCheckbox
									value="#{diagnosticAction.diagnosticChoisis.infosIrm.clipNeaochirurgical}" />
								<h:outputText value="#{msg.consultation_clip_neaochirurgical}" />
							</h:panelGroup>
							<h:panelGroup layout="block">
								<p:selectBooleanCheckbox
									value="#{diagnosticAction.diagnosticChoisis.infosIrm.valveCardiaque}" />
								<h:outputText value="#{msg.consultation_valve_cardiaque}" />
							</h:panelGroup>
							<h:panelGroup layout="block">
								<p:selectBooleanCheckbox
									value="#{diagnosticAction.diagnosticChoisis.infosIrm.valveIntracranienne}" />
								<h:outputText value="#{msg.consultation_valve_intracranienne}" />
							</h:panelGroup>
							<h:panelGroup layout="block">
								<p:selectBooleanCheckbox
									value="#{diagnosticAction.diagnosticChoisis.infosIrm.sutureMetalique}" />
								<h:outputText value="#{msg.consultation_suture_metalique}" />
							</h:panelGroup>
						</h:panelGrid>
						<h:panelGrid columns="2" styleClass="table">
							<h:panelGroup layout="block">
								<p:selectBooleanCheckbox
									value="#{diagnosticAction.diagnosticChoisis.infosIrm.grossesse}" />
								<h:outputText value="#{msg.consultation_grossesse}" />
							</h:panelGroup>
						</h:panelGrid>
						<h:panelGroup layout="block">
							<h:outputText
								value="#{msg.consultation_autres_contres_indications}" />
							<h:inputTextarea style="width:90%"
								value="#{diagnosticAction.diagnosticChoisis.infosIrm.autresContresIndications}" />
						</h:panelGroup>
					</p:panel>

					<p:panel header="#{msg.consultation_explorations_demandees}">
						<h:panelGrid columns="3" styleClass="table">
							<h:panelGroup layout="block">
								<p:selectBooleanCheckbox
									value="#{diagnosticAction.diagnosticChoisis.infosIrm.craneContenu}" />
								<h:outputText value="#{msg.consultation_crane_contenu}" />
							</h:panelGroup>
							<h:panelGroup layout="block">
								<p:selectBooleanCheckbox
									value="#{diagnosticAction.diagnosticChoisis.infosIrm.rachisCervical}" />
								<h:outputText value="#{msg.consultation_rachis_cervical}" />
							</h:panelGroup>
							<h:panelGroup layout="block">
								<p:selectBooleanCheckbox
									value="#{diagnosticAction.diagnosticChoisis.infosIrm.rachisLombaire}" />
								<h:outputText value="#{msg.consultation_rachis_lombaire}" />
							</h:panelGroup>
							<h:panelGroup layout="block">
								<p:selectBooleanCheckbox
									value="#{diagnosticAction.diagnosticChoisis.infosIrm.epauleGauche}" />
								<h:outputText value="#{msg.consultation_epaule_gauche}" />
							</h:panelGroup>
							<h:panelGroup layout="block">
								<p:selectBooleanCheckbox
									value="#{diagnosticAction.diagnosticChoisis.infosIrm.epauleDroit}" />
								<h:outputText value="#{msg.consultation_epaule_droit}" />
							</h:panelGroup>
							<h:panelGroup layout="block">
								<p:selectBooleanCheckbox
									value="#{diagnosticAction.diagnosticChoisis.infosIrm.abdomen}" />
								<h:outputText value="#{msg.consultation_abdomen}" />
							</h:panelGroup>
							<h:panelGroup layout="block">
								<p:selectBooleanCheckbox
									value="#{diagnosticAction.diagnosticChoisis.infosIrm.pelvis}" />
								<h:outputText value="#{msg.consultation_pelvis}" />
							</h:panelGroup>
							<h:panelGroup layout="block">
								<p:selectBooleanCheckbox
									value="#{diagnosticAction.diagnosticChoisis.infosIrm.orbite}" />
								<h:outputText value="#{msg.consultation_orbite}" />
							</h:panelGroup>
							<h:panelGroup layout="block">
								<p:selectBooleanCheckbox
									value="#{diagnosticAction.diagnosticChoisis.infosIrm.moelle}" />
								<h:outputText value="#{msg.consultation_moelle}" />
							</h:panelGroup>
							<h:panelGroup layout="block">
								<p:selectBooleanCheckbox
									value="#{diagnosticAction.diagnosticChoisis.infosIrm.rachisDorsal}" />
								<h:outputText value="#{msg.consultation_rachis_dorsal}" />
							</h:panelGroup>
							<h:panelGroup layout="block">
								<p:selectBooleanCheckbox
									value="#{diagnosticAction.diagnosticChoisis.infosIrm.hancheGauche}" />
								<h:outputText value="#{msg.consultation_hanche_gauche}" />
							</h:panelGroup>
							<h:panelGroup layout="block">
								<p:selectBooleanCheckbox
									value="#{diagnosticAction.diagnosticChoisis.infosIrm.hancheDroit}" />
								<h:outputText value="#{msg.consultation_hanche_droit}" />
							</h:panelGroup>
							<h:panelGroup layout="block">
								<p:selectBooleanCheckbox
									value="#{diagnosticAction.diagnosticChoisis.infosIrm.genouGauche}" />
								<h:outputText value="G#{msg.consultation_genou_gauche}" />
							</h:panelGroup>

							<h:panelGroup layout="block">
								<p:selectBooleanCheckbox
									value="#{diagnosticAction.diagnosticChoisis.infosIrm.genouDroit}" />
								<h:outputText value="#{msg.consultation_genou_droit}" />
							</h:panelGroup>
							<h:panelGroup layout="block">
								<p:selectBooleanCheckbox
									value="#{diagnosticAction.diagnosticChoisis.infosIrm.pharynxLarnyx}" />
								<h:outputText value="#{msg.consultation_pharynx_larnyx}" />
							</h:panelGroup>
						</h:panelGrid>
						<h:panelGrid columns="2" styleClass="table">
							<h:panelGroup layout="block">
								<p:selectBooleanCheckbox
									value="#{diagnosticAction.diagnosticChoisis.infosIrm.coeurVaisseaux}" />
								<h:outputText value="#{msg.consultation_coeur_vaisseaux}" />
							</h:panelGroup>
						</h:panelGrid>
						<h:panelGroup layout="block">
							<h:outputText value="#{msg.consultation_autres_explorations}" />
							<h:inputTextarea style="width:90%"
								value="#{diagnosticAction.diagnosticChoisis.infosIrm.autresExplorations}" />
						</h:panelGroup>
					</p:panel>

					<p:panel header="#{msg.consultation_informations_supplementaires}">
						<h:panelGrid columns="2" styleClass="table">
							<h:outputText value="#{msg.consultation_indications_cliniques}" />
							<h:inputTextarea
								style="#{component.valid ? 'border-color :#CCCCCC;' : 'border-color :#CD0A0A;'}width:90%;"
								value="#{diagnosticAction.diagnosticChoisis.infosIrm.indicationsCliniques}"
								required="true" requiredMessage="" />
							<h:outputText value="#{msg.consultation_antecedents}" />
							<h:inputTextarea
								style="#{component.valid ? 'border-color :#CCCCCC;' : 'border-color :#CD0A0A;'}width:90%;"
								value="#{diagnosticAction.diagnosticChoisis.infosIrm.antecedents}"
								required="true" requiredMessage="" />
							<h:outputText value="#{msg.consultation_informations_attendues}" />
							<h:inputTextarea
								style="#{component.valid ? 'border-color :#CCCCCC;' : 'border-color :#CD0A0A;'}width:90%;"
								value="#{diagnosticAction.diagnosticChoisis.infosIrm.informationsAttendues}"
								required="true" requiredMessage="" />

							<h:outputText value="#{msg.consultation_cooperer}" />
							<p:selectOneRadio
								value="#{diagnosticAction.diagnosticChoisis.infosIrm.coopererYN}"
								required="true" requiredMessage="">
								<f:selectItem itemLabel="Oui" itemValue="true" />
								<f:selectItem itemLabel="Non" itemValue="false" />
							</p:selectOneRadio>
							<h:outputText value="#{msg.consultation_valide}" />
							<p:selectOneRadio
								value="#{diagnosticAction.diagnosticChoisis.infosIrm.valideYN}"
								required="true" requiredMessage="">
								<f:selectItem itemLabel="Oui" itemValue="true" />
								<f:selectItem itemLabel="Non" itemValue="false" />
							</p:selectOneRadio>
							<h:outputText value="#{msg.consultation_allergies}" />
							<p:selectOneRadio
								value="#{diagnosticAction.diagnosticChoisis.infosIrm.allergiesYN}"
								required="true" requiredMessage="">
								<f:selectItem itemLabel="Oui" itemValue="true" />
								<f:selectItem itemLabel="Non" itemValue="false" />
							</p:selectOneRadio>
						</h:panelGrid>
					</p:panel>

				</h:panelGroup>
			</h:panelGroup>

			<f:facet name="footer">
				<h:panelGroup layout="block" styleClass="pull-right" id="actions">
					<p:commandButton styleClass="btn btn-primary"
						value="#{msg.consultation_enregistrer}"
						action="#{diagnosticAction.modifierDiagnosticRadiologie}"
						update=":tabFicheConsultationRadiologie:consultation-radiologie:diagnostics-tab"
						oncomplete="PF('dg_modifier_examen_radiologie').hide()" />
					<p:commandButton styleClass="btn" value="Fermer"
						onclick="dg_modifier_examen_radiologie.hide()" />
				</h:panelGroup>
			</f:facet>
		</p:dialog>
	</h:form>
</ui:composition>