<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:s="http://jboss.org/schema/seam/taglib"
	template="../../../template/template.xhtml">
	<ui:define name="title-nouvelExamen">
		<title>SEYSOO--MEDICIS--Nouvel Examen</title>
	</ui:define>
	<ui:define name="body">
		<h:form id="form-nouvel-examen-radiologie"
			rendered="#{diagnosticAction.rendezVous != null}"
			styleClass="form-horizontal">
			<f:event
				listener="#{diagnosticAction.validationNouvelExamenRadiologie}"
				type="preRenderView" />
			<div class="breadcrumbs">
				<ul>
					<li><s:link view="/patient/home.seam">Accueil</s:link> <i
						class="icon-angle-right"></i></li>
				</ul>
			</div>
			<div class="container-fluid">
				<div class="row-fluid">
					<div class="span12">
						<div class="box box-color box-bordered">
							<div class="box-title">
								<h3 style="align: center;">
									<i class="icon-edit"></i>
									<h:outputText value="#{msg.consultation_nouvel_examen}" />
								</h3>
							</div>
							<div class="box-content nopadding">
								<h:panelGroup id="nouvel_examen_radiologie" layout="block">
									<h:panelGroup id="etape1" layout="block"
										rendered="#{diagnosticAction.etapeSaisie == 1}">
										<h:panelGrid columns="2" styleClass="table">
											<h:outputText value="#{msg.consultation_type_examen}" />
											<p:selectOneRadio id="type"
												value="#{diagnosticAction.examenIRM}" required="true"
												requiredMessage="">
												<f:selectItem itemLabel="#{msg.consultation_irm}"
													itemValue="true" />
												<f:selectItem itemLabel="#{msg.consultation_autres}"
													itemValue="false" />
												<p:ajax
													update=":form-nouvel-examen-radiologie:form_detail_examen"
													event="change" />
											</p:selectOneRadio>
										</h:panelGrid>

										<h:panelGroup id="form_detail_examen" layout="block">
											<h:panelGroup id="form_irm" layout="block"
												rendered="#{diagnosticAction.examenIRM}">
												<p:panel header="#{msg.consultation_contre_indications}">
													<h:panelGrid columns="3" styleClass="table">
														<h:panelGroup layout="block">
															<p:selectBooleanCheckbox
																value="#{diagnosticAction.nouveauDiagnostic.infosIrm.claustrophobie}" />
															<h:outputText value="#{msg.consultation_claustrophobie}" />
														</h:panelGroup>
														<h:panelGroup layout="block">
															<p:selectBooleanCheckbox
																value="#{diagnosticAction.nouveauDiagnostic.infosIrm.stimulateurCardiaque}" />
															<h:outputText
																value="#{msg.consultation_stimulateur_cardiaque}" />
														</h:panelGroup>
														<h:panelGroup layout="block">
															<p:selectBooleanCheckbox
																value="#{diagnosticAction.nouveauDiagnostic.infosIrm.materielVasculaire}" />
															<h:outputText
																value="#{msg.consultation_materiel_vasculaire}" />
														</h:panelGroup>
														<h:panelGroup layout="block">
															<p:selectBooleanCheckbox
																value="#{diagnosticAction.nouveauDiagnostic.infosIrm.prothese}" />
															<h:outputText value="#{msg.consultation_prothese}" />
														</h:panelGroup>
														<h:panelGroup layout="block">
															<p:selectBooleanCheckbox
																value="#{diagnosticAction.nouveauDiagnostic.infosIrm.eclatMetallique}" />
															<h:outputText
																value="#{msg.consultation_eclat_metallique}" />
														</h:panelGroup>
														<h:panelGroup layout="block">
															<p:selectBooleanCheckbox
																value="#{diagnosticAction.nouveauDiagnostic.infosIrm.materielChirurgical}" />
															<h:outputText
																value="#{msg.consultation_materiel_chirurgical}" />
														</h:panelGroup>
														<h:panelGroup layout="block">
															<p:selectBooleanCheckbox
																value="#{diagnosticAction.nouveauDiagnostic.infosIrm.patchCutanee}" />
															<h:outputText value="#{msg.consultation_patch_cutanee}" />
														</h:panelGroup>
														<h:panelGroup layout="block">
															<p:selectBooleanCheckbox
																value="#{diagnosticAction.nouveauDiagnostic.infosIrm.travailleurMetaux}" />
															<h:outputText
																value="#{msg.consultation_travailleur_metaux}" />
														</h:panelGroup>
														<h:panelGroup layout="block">
															<p:selectBooleanCheckbox
																value="#{diagnosticAction.nouveauDiagnostic.infosIrm.clipNeaochirurgical}" />
															<h:outputText
																value="#{msg.consultation_clip_neaochirurgical}" />
														</h:panelGroup>
														<h:panelGroup layout="block">
															<p:selectBooleanCheckbox
																value="#{diagnosticAction.nouveauDiagnostic.infosIrm.valveCardiaque}" />
															<h:outputText value="#{msg.consultation_valve_cardiaque}" />
														</h:panelGroup>
														<h:panelGroup layout="block">
															<p:selectBooleanCheckbox
																value="#{diagnosticAction.nouveauDiagnostic.infosIrm.valveIntracranienne}" />
															<h:outputText
																value="#{msg.consultation_valve_intracranienne}" />
														</h:panelGroup>
														<h:panelGroup layout="block">
															<p:selectBooleanCheckbox
																value="#{diagnosticAction.nouveauDiagnostic.infosIrm.sutureMetalique}" />
															<h:outputText
																value="#{msg.consultation_suture_metalique}" />
														</h:panelGroup>
													</h:panelGrid>
													<h:panelGrid columns="2" styleClass="table">
														<h:panelGroup layout="block">
															<p:selectBooleanCheckbox
																value="#{diagnosticAction.nouveauDiagnostic.infosIrm.grossesse}" />
															<h:outputText value="#{msg.consultation_grossesse}" />
														</h:panelGroup>
													</h:panelGrid>
													<h:panelGroup layout="block">
														<h:outputText
															value="#{msg.consultation_autres_contres_indications}" />
														<h:inputTextarea style="width:90%"
															value="#{diagnosticAction.nouveauDiagnostic.infosIrm.autresContresIndications}" />
													</h:panelGroup>
												</p:panel>

												<p:panel header="#{msg.consultation_explorations_demandees}">
													<h:panelGrid columns="3" styleClass="table">
														<h:panelGroup layout="block">
															<p:selectBooleanCheckbox
																value="#{diagnosticAction.nouveauDiagnostic.infosIrm.craneContenu}" />
															<h:outputText value="#{msg.consultation_crane_contenu}" />
														</h:panelGroup>
														<h:panelGroup layout="block">
															<p:selectBooleanCheckbox
																value="#{diagnosticAction.nouveauDiagnostic.infosIrm.rachisCervical}" />
															<h:outputText value="#{msg.consultation_rachis_cervical}" />
														</h:panelGroup>
														<h:panelGroup layout="block">
															<p:selectBooleanCheckbox
																value="#{diagnosticAction.nouveauDiagnostic.infosIrm.rachisLombaire}" />
															<h:outputText value="#{msg.consultation_rachis_lombaire}" />
														</h:panelGroup>
														<h:panelGroup layout="block">
															<p:selectBooleanCheckbox
																value="#{diagnosticAction.nouveauDiagnostic.infosIrm.epauleGauche}" />
															<h:outputText value="#{msg.consultation_epaule_gauche}" />
														</h:panelGroup>
														<h:panelGroup layout="block">
															<p:selectBooleanCheckbox
																value="#{diagnosticAction.nouveauDiagnostic.infosIrm.epauleDroit}" />
															<h:outputText value="#{msg.consultation_epaule_droit}" />
														</h:panelGroup>
														<h:panelGroup layout="block">
															<p:selectBooleanCheckbox
																value="#{diagnosticAction.nouveauDiagnostic.infosIrm.abdomen}" />
															<h:outputText value="#{msg.consultation_abdomen}" />
														</h:panelGroup>
														<h:panelGroup layout="block">
															<p:selectBooleanCheckbox
																value="#{diagnosticAction.nouveauDiagnostic.infosIrm.pelvis}" />
															<h:outputText value="#{msg.consultation_pelvis}" />
														</h:panelGroup>
														<h:panelGroup layout="block">
															<p:selectBooleanCheckbox
																value="#{diagnosticAction.nouveauDiagnostic.infosIrm.orbite}" />
															<h:outputText value="#{msg.consultation_orbite}" />
														</h:panelGroup>
														<h:panelGroup layout="block">
															<p:selectBooleanCheckbox
																value="#{diagnosticAction.nouveauDiagnostic.infosIrm.moelle}" />
															<h:outputText value="#{msg.consultation_moelle}" />
														</h:panelGroup>
														<h:panelGroup layout="block">
															<p:selectBooleanCheckbox
																value="#{diagnosticAction.nouveauDiagnostic.infosIrm.rachisDorsal}" />
															<h:outputText value="#{msg.consultation_rachis_dorsal}" />
														</h:panelGroup>
														<h:panelGroup layout="block">
															<p:selectBooleanCheckbox
																value="#{diagnosticAction.nouveauDiagnostic.infosIrm.hancheGauche}" />
															<h:outputText value="#{msg.consultation_hanche_gauche}" />
														</h:panelGroup>
														<h:panelGroup layout="block">
															<p:selectBooleanCheckbox
																value="#{diagnosticAction.nouveauDiagnostic.infosIrm.hancheDroit}" />
															<h:outputText value="#{msg.consultation_hanche_droit}" />
														</h:panelGroup>
														<h:panelGroup layout="block">
															<p:selectBooleanCheckbox
																value="#{diagnosticAction.nouveauDiagnostic.infosIrm.genouGauche}" />
															<h:outputText value="G#{msg.consultation_genou_gauche}" />
														</h:panelGroup>

														<h:panelGroup layout="block">
															<p:selectBooleanCheckbox
																value="#{diagnosticAction.nouveauDiagnostic.infosIrm.genouDroit}" />
															<h:outputText value="#{msg.consultation_genou_droit}" />
														</h:panelGroup>
														<h:panelGroup layout="block">
															<p:selectBooleanCheckbox
																value="#{diagnosticAction.nouveauDiagnostic.infosIrm.pharynxLarnyx}" />
															<h:outputText value="#{msg.consultation_pharynx_larnyx}" />
														</h:panelGroup>
													</h:panelGrid>
													<h:panelGrid columns="2" styleClass="table">
														<h:panelGroup layout="block">
															<p:selectBooleanCheckbox
																value="#{diagnosticAction.nouveauDiagnostic.infosIrm.coeurVaisseaux}" />
															<h:outputText value="#{msg.consultation_coeur_vaisseaux}" />
														</h:panelGroup>
													</h:panelGrid>
													<h:panelGroup layout="block">
														<h:outputText
															value="#{msg.consultation_autres_explorations}" />
														<h:inputTextarea style="width:90%"
															value="#{diagnosticAction.nouveauDiagnostic.infosIrm.autresExplorations}" />
													</h:panelGroup>
												</p:panel>

												<p:panel
													header="#{msg.consultation_informations_supplementaires}">
													<h:panelGrid columns="2" styleClass="table">
														<h:outputText
															value="#{msg.consultation_indications_cliniques}" />
														<h:inputTextarea
															style="#{component.valid ? 'border-color :#CCCCCC;' : 'border-color :#CD0A0A;'}width:90%;"
															value="#{diagnosticAction.nouveauDiagnostic.infosIrm.indicationsCliniques}"
															required="true" requiredMessage="" />
														<h:outputText value="#{msg.consultation_antecedents}" />
														<h:inputTextarea
															style="#{component.valid ? 'border-color :#CCCCCC;' : 'border-color :#CD0A0A;'}width:90%;"
															value="#{diagnosticAction.nouveauDiagnostic.infosIrm.antecedents}"
															required="true" requiredMessage="" />
														<h:outputText
															value="#{msg.consultation_informations_attendues}" />
														<h:inputTextarea
															style="#{component.valid ? 'border-color :#CCCCCC;' : 'border-color :#CD0A0A;'}width:90%;"
															value="#{diagnosticAction.nouveauDiagnostic.infosIrm.informationsAttendues}"
															required="true" requiredMessage="" />

														<h:outputText value="#{msg.consultation_cooperer}" />
														<p:selectOneRadio
															value="#{diagnosticAction.nouveauDiagnostic.infosIrm.coopererYN}"
															required="true" requiredMessage="">
															<f:selectItem itemLabel="Oui" itemValue="true" />
															<f:selectItem itemLabel="Non" itemValue="false" />
														</p:selectOneRadio>
														<h:outputText value="#{msg.consultation_valide}" />
														<p:selectOneRadio
															value="#{diagnosticAction.nouveauDiagnostic.infosIrm.valideYN}"
															required="true" requiredMessage="">
															<f:selectItem itemLabel="Oui" itemValue="true" />
															<f:selectItem itemLabel="Non" itemValue="false" />
														</p:selectOneRadio>
														<h:outputText value="#{msg.consultation_allergies}" />
														<p:selectOneRadio
															value="#{diagnosticAction.nouveauDiagnostic.infosIrm.allergiesYN}"
															required="true" requiredMessage="">
															<f:selectItem itemLabel="Oui" itemValue="true" />
															<f:selectItem itemLabel="Non" itemValue="false" />
														</p:selectOneRadio>
													</h:panelGrid>
												</p:panel>
											</h:panelGroup>
											<h:panelGroup id="form_autres" layout="block"
												rendered="#{!diagnosticAction.examenIRM}">
												<p:selectOneMenu value="#{diagnosticAction.groupeExamen}">
													<f:selectItem itemLabel="Choisissez" itemValue="0"
														noSelectionOption="false" />
													<f:selectItems value="#{listeTypesNonIrm}" var="type"
														itemLabel="#{type.libelle}" itemValue="#{type.id}" />
													<p:ajax
														update=":form-nouvel-examen-radiologie:examensPickList"
														event="change" />
												</p:selectOneMenu>
												<p:pickList id="examensPickList"
													value="#{diagnosticAction.listeExamensType}" var="examen"
													effect="bounce" itemValue="#{examen}"
													converter="examenConverter" itemLabel="#{examen.libelle}"
													showCheckbox="true" showSourceFilter="true"
													showTargetFilter="true" filterMatchMode="contains">
													<f:facet name="sourceCaption">
														<h:outputText
															value="#{msg.consultation_examens_disponibles}" />
													</f:facet>
													<f:facet name="targetCaption">
														<h:outputText value="#{msg.consultation_examens_choisis}" />
													</f:facet>
													<p:column>
														<h:outputText
															value="#{examen.libelle}(#{examen.groupeExamen.libelle})" />
													</p:column>
												</p:pickList>

											</h:panelGroup>
										</h:panelGroup>
									</h:panelGroup>
									<h:panelGroup id="etape2" layout="block"
										rendered="#{diagnosticAction.etapeSaisie == 2}">
										<p:dataTable value="#{diagnosticAction.diagnosticsDataModel}"
											var="diagnostic" id="listeExamensSelectionnes"
											styleClass="table-striped">
											<p:column headerText="#{msg.consultation_examen}">
												<h:outputText
													value="#{diagnostic.examen.libelle} #{diagnosticAction.examenIRM ? '' : ('('.concat(diagnostic.examen.groupeExamen.libelle).concat(')'))}" />
											</p:column>
											<p:column headerText="#{msg.consultation_date}">
												<p:calendar value="#{diagnostic.date}"
													pattern="MM/dd/yyyy HH:mm" navigator="true" lang="fr"
													locale="fr" requiredMessage="Le champ Date est requis" />
											</p:column>
											<p:column headerText="#{msg.consultation_medecin}">
												<p:selectOneMenu value="#{diagnostic.medecin.id}">
													<f:selectItem itemLabel="Choisissez" itemValue="0"
														noSelectionOption="false" />
													<f:selectItems
														value="#{diagnosticAction.listeMedecinsRadiologie}"
														var="medecin"
														itemLabel="#{medecin.utilisateur.prenom} #{medecin.utilisateur.nom}"
														itemValue="#{medecin.id}" />
												</p:selectOneMenu>
												<p:spacer width="20" height="10" />
											</p:column>
											<p:column headerText="#{msg.consultation_salle}">
												<p:selectOneMenu value="#{diagnostic.salle.id}">
													<f:selectItem itemLabel="Choisissez" itemValue="0"
														noSelectionOption="false" />
													<f:selectItems
														value="#{diagnosticAction.listeSallesRadiologie}"
														var="salle" itemLabel="#{salle.nom}"
														itemValue="#{salle.id}" />
												</p:selectOneMenu>
												<p:spacer width="20" height="10" />
											</p:column>
										</p:dataTable>
									</h:panelGroup>
								</h:panelGroup>

							</div>
						</div>
					</div>
				</div>
				<h:panelGroup layout="block" styleClass="form-actions text-right"
					id="actions">
					<p:commandButton styleClass="btn"
						value="#{msg.consultation_suivant}"
						action="#{diagnosticAction.etapeSuivant}"
						rendered="#{diagnosticAction.etapeSaisie == 1}"
						update=":form-nouvel-examen-radiologie:nouvel_examen_radiologie form-nouvel-examen-radiologie:actions" />
					<p:commandButton styleClass="btn"
						value="#{msg.consultation_precedent}"
						action="#{diagnosticAction.etapePrecedente}"
						rendered="#{diagnosticAction.etapeSaisie == 2}" process="actions"
						update=":form-nouvel-examen-radiologie:nouvel_examen_radiologie form-nouvel-examen-radiologie:actions" />
					<p:commandButton styleClass="btn btn-primary"
						value="#{msg.consultation_enregistrer}"
						action="#{diagnosticAction.saveDiagnosticRadiologie}"
						rendered="#{diagnosticAction.etapeSaisie == 2}"
						update=":form-nouvel-examen-radiologie:nouvel_examen_radiologie form-nouvel-examen-radiologie:actions" />
				</h:panelGroup>
			</div>
		</h:form>
		<h:outputText value="Aucun rendez-vous trouvé"
			rendered="#{diagnosticAction.rendezVous == null}"
			style="margin-left:10px" />
	</ui:define>
</ui:composition>