<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:s="http://jboss.org/schema/seam/taglib"
	xmlns:f="http://java.sun.com/jsf/core">
	<h:form id="form_nouvelle_interpretation">
		<p:dialog header="#{msg.consultation_nouvelle_interpretation}"
			id="dg_nouvelle_interpretation_examen" width="500"
			widgetVar="dg_nouvelle_interpretation_examen" modal="true">
			<h:panelGrid columns="2">
				<h:outputText value="#{msg.consultation_techniques}" />
				<p:selectOneMenu id="techniques"
					value="#{diagnosticAction.nouvelleInterpretation.techniqueUtilise.id}">
					<f:selectItem itemLabel="----Séléctionner---" itemValue="0"
						noSelectionOption="true" />
						<f:selectItems
														value="#{diagnosticAction.listeTechniquesRadiologie}"
														var="tech"
														itemLabel="#{tech.libelle}"
														itemValue="#{tech.id}" />
				</p:selectOneMenu>
				
				<h:outputText value="#{msg.consultation_interpretation_type}" />
				<p:selectOneMenu id="interpretation_type"
					value="#{diagnosticAction.interpretationType.id}">
					<f:selectItem itemLabel="----Séléctionner---" itemValue="0"
						noSelectionOption="false" />
						<f:selectItems
														value="#{diagnosticAction.listeInterpretationsTypeRadiologie}"
														var="interType"
														itemLabel="#{interType.libelle}"
														itemValue="#{interType.id}" />
						
						<p:ajax listener="#{diagnosticAction.changeInterpretationType}"
											event="change" />
				</p:selectOneMenu>
			</h:panelGrid>
			<p:editor id="editor_nouvelle_interpretation_examen"
				value="#{diagnosticAction.nouvelleInterpretation.libelle}"
				width="450" />
	
			<f:facet name="footer">
				<h:panelGroup layout="block" styleClass="pull-right">
					<h:panelGrid columns="2">
						<p:commandButton value="Enregistrer"
							action="#{diagnosticAction.saveInterpretation}"
							update=":tabFicheConsultationRadiologie:consultation-radiologie:interpretation"
							styleClass="btn btn-primary"
							oncomplete="dg_nouvelle_interpretation_examen.hide()" />
						<p:commandButton styleClass="btn btn-primary" value="Fermer"
							onclick="dg_nouvelle_interpretation_examen.hide()" />
					</h:panelGrid>
				</h:panelGroup>
			</f:facet>

		</p:dialog>
	</h:form>
</ui:composition>