<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:s="http://jboss.org/schema/seam/taglib" template="../../template.xhtml">
	<ui:define name="body">
		<h:panelGrid id="info-generales" columns="2" cellpadding="4">
			<ui:include src="/rendezvous/infos_patient.xhtml" />
			<br />
			<ui:include src="/rendezvous/infos_rendez_vous.xhtml" />
		</h:panelGrid>
		
		
		<p:dataTable id="diagnostics-tab" var="diagnostic" value="#{listeDiagnostics}"
									rowKey="#{diagnostic.id}" paginator="true" rows="10"
									selection="#{diagnosticAction.diagnosticSelected}"
									selectionMode="single"
									paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
									rowsPerPageTemplate="5,10,15">
									<f:facet name="header">
            	#{msg.consultation_liste_examens}
       			</f:facet>
									<p:column filterBy="#{diagnostic.examen.libelle}" sortBy="#{diagnostic.examen.libelle}">
										<f:facet name="header">#{msg.consultation_examen}</f:facet>
		           	#{diagnostic.examen.libelle}
		        </p:column>
									<p:column filterBy="#{diagnostic.medecin.utilisateur.prenom}" sortBy="#{diagnostic.medecin.utilisateur.prenom}">
										<f:facet name="header">#{msg.consultation_medecin}</f:facet>
		            #{diagnostic.medecin.utilisateur.prenom} #{diagnostic.medecin.utilisateur.prenom}
		        </p:column>
									<p:column filterBy="#{diagnostic.date}"
										sortBy="#{diagnostic.date}">
										<f:facet name="header">#{msg.consultation_date}</f:facet>
		            #{diagnostic.date}
		        </p:column>
									<p:column filterBy="#{diagnostic.salle.nom}"
										sortBy="#{diagnostic.salle.nom}">
										<f:facet name="header">#{msg.consultation_salle}</f:facet>
		             #{diagnostic.salle.nom}
		        </p:column>
								</p:dataTable>
		
	</ui:define>
</ui:composition>