
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:s="http://jboss.org/schema/seam/taglib"
	template="../../../template/template.xhtml">

	<ui:define name="title-radiologie">
		<title>SEYSOO--MEDICIS--Radiologie</title>
	</ui:define>
	<ui:define name="body">

		<div class="breadcrumbs">
			<ul>
				<li><s:link view="/patient/home.seam">Accueil</s:link> <i
					class="icon-angle-right"></i></li>
			</ul>
		</div>
		<div class="container-fluid">
			<div class="row-fluid">
				<div class="span12">
					<div class="box box-color box-bordered">
						<div class="box-title">
							<h3 style="align: center;">
								<i class="icon-edit"></i>
								<h:outputText value="#{msg.consultation_fiche}" />
							</h3>
						</div>
						<div class="box-content nopadding">

							<p:tabView id="tabFicheConsultationRadiologie" dynamic="true" cache="true"
								widgetVar="widgetTabFicheConsultationRadiologie"
								rendered="#{diagnosticAction.rendezVous != null}">
								<p:tab id="tabFicheRadiologie" title="#{msg.consultation_fiche}">
									<h:form id="consultation-radiologie">
										<p:growl id="growl" showDetail="false" life="10000"
											autoUpdate="true" />
										<h:panelGroup layout="block"
											styleClass="form-actions text-right">
											<h:commandLink onclick="dg_fiche_irm.show()"
												styleClass="btn btn-link"
												rendered="#{diagnosticAction.infoIrmDejaPresente}">
								Fiche IRM MAJ
								<h:outputText
													value="#{diagnosticAction.dernierDiagnosticIrm.date}">
													<f:convertDateTime pattern="dd/MM/yyyy 'à' HH:mm"
														type="both" />
												</h:outputText>

											</h:commandLink>
										</h:panelGroup>
										<p:contextMenu for="diagnostics-tab">
											<p:menuitem value="#{msg.consultation_modifier}"
												icon="ui-icon-search"
												oncomplete="dg_modifier_examen_radiologie.show()"
												update=":tabFicheConsultationRadiologie:form-modifier-examen-radiologie">
												<f:setPropertyActionListener
													target="#{diagnosticAction.examenIRM}" value="#{false}" />
											</p:menuitem>
											<p:menuitem value="#{msg.consultation_supprimer}"
												icon="ui-icon-search"
												oncomplete="confirmDialogDiagnostic.show()" />
										</p:contextMenu>
										<p:dataTable id="diagnostics-tab" var="diagnostic"
											value="#{diagnosticAction.listeDiagnostics}"
											rowKey="#{diagnostic.id}" paginator="true" rows="10"
											paginatorPosition="bottom"
											selection="#{diagnosticAction.diagnosticChoisis}"
											selectionMode="single" paginatorAlwaysVisible="false"
											paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
											rowsPerPageTemplate="5,10,15">
											<p:ajax event="rowSelect"
												update=":tabFicheConsultationRadiologie:consultation-radiologie:interpretation" />
											<f:facet name="header">
	            	#{msg.consultation_liste_examens}
	       			</f:facet>
											<p:column filterBy="#{diagnostic.examen.libelle}"
												sortBy="#{diagnostic.examen.libelle}">
												<f:facet name="header">#{msg.consultation_examen}</f:facet>
			           	#{diagnostic.examen.libelle}
			        </p:column>
											<p:column filterBy="#{diagnostic.date}"
												sortBy="#{diagnostic.date}">
												<f:facet name="header">#{msg.consultation_date}</f:facet>
												<h:outputText value="#{diagnostic.date}">
													<f:convertDateTime pattern="dd/MM/yyyy 'à' HH:mm"
														type="both" />
												</h:outputText>
											</p:column>
											<p:column filterBy="#{diagnostic.medecin.utilisateur.prenom}"
												sortBy="#{diagnostic.medecin.utilisateur.prenom}">
												<f:facet name="header">#{msg.consultation_medecin}</f:facet>
			            #{diagnostic.medecin.utilisateur.prenom} #{diagnostic.medecin.utilisateur.nom}
			        </p:column>
											<p:column filterBy="#{diagnostic.salle.nom}"
												sortBy="#{diagnostic.salle.nom}">
												<f:facet name="header">#{msg.consultation_salle}</f:facet>
			             #{diagnostic.salle.nom}
			        </p:column>
										</p:dataTable>

										<h:panelGroup layout="block"
											styleClass="form-actions text-right" >
											<p:commandButton id="btn-nouvel-examen-radiologie"
												styleClass="btn btn-primary"
												value="#{msg.consultation_nouvel_examen}"
												action="#{diagnosticAction.nouveauDiagnosticRadiologie}" />
										</h:panelGroup>

										<p:confirmDialog global="true" showEffect="fade"
											hideEffect="explode" widgetVar="confirmDialogDiagnostic"
											header="#{msg.confirmation_header}"
											message="#{msg.confirmation_suppression_msg}">
												<h:panelGroup layout="block" styleClass="pull-right">
													<p:commandButton value="#{msg.confirmation_yes}"
														oncomplete="PF('confirmDialogDiagnostic').hide()"
														styleClass="ui-confirmdialog-yes" icon="ui-icon-check"
														update=":tabFicheConsultationRadiologie:consultation-radiologie:diagnostics-tab"
														partialSubmit="true" process="@this">
														<p:ajax listener="#{diagnosticAction.supprimerDiagnostic}" />
													</p:commandButton>
													<p:commandButton value="#{msg.confirmation_no}"
														type="button"
														onclick="PF('confirmDialogDiagnostic').hide();"
														styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
												</h:panelGroup>
										</p:confirmDialog>
										<h:panelGroup layout="block" id="interpretation">
											<p:panel
												header="Fiche examen #{diagnosticAction.diagnosticChoisis.examen.libelle}"
												rendered="#{diagnosticAction.diagnosticChoisis !=  null}">
												<h:panelGrid columns="1">
													<p:panel header="Images">
														<p:galleria value="#{listeImages}" var="image"
															autoPlay="false" panelWidth="600" panelHeight="313"
															showCaption="true">
															<p:graphicImage value="/images_radio/#{image.image}"
																title="image #{image.id}" />
														</p:galleria>
														<h:panelGroup layout="block"
															styleClass="form-actions text-right">
															<p:commandButton action="#{testManager.testConve}" styleClass="btn btn-link"
																value="#{msg.consultation_nouvelle_image}" />																
																<a href="http://localhost:8080/medicis/viewers.seam?a=ct.10.dcm" onclick="this.target='_blank';">lien</a>
																<a href="http://localhost:8080/medicis/viewers.seam?ct.100.dcm" onclick="this.target='_blank';">lien 1</a>
														</h:panelGroup>
													</p:panel>
													<p:panel header="#{msg.consultation_interpretation_examen}">

														<h:panelGroup layout="block"
															styleClass="form-actions text-right">
															<h:commandLink
																onclick="dg_nouvelle_interpretation_examen.show()"
																styleClass="btn btn-link"
																update=":tabFicheConsultationRadiologie:form_nouvelle_interpretation"
																value="#{msg.consultation_nouvelle_interpretation}" />
														</h:panelGroup>
														<p:dataGrid
															value="#{diagnosticAction.listeInterpretation}"
															var="inter" id="interp" paginatorPosition="bottom"
															columns="1" paginator="true"
															paginatorAlwaysVisible="false" rows="5"
															paginatorTemplate="{PreviousPageLink} {CurrentPageReport} {NextPageLink} {RowsPerPageDropdown}"
															rowsPerPageTemplate="5,10,15">
															<f:facet name="header">
																<h:outputText value="Interpretations" />
															</f:facet>
															<h:outputText value="#{inter.libelle}" escape="false"
																style="margin-left:10px" />
															<br />
															<h:panelGroup layout="block" styleClass="text-right">
																<h:outputText
																	value="#{inter.utilisateur.prenom} #{inter.utilisateur.nom}, "
																	styleClass="strong" />
																<h:outputText value="#{inter.date}" styleClass="strong">
																	<f:convertDateTime pattern="dd/MM/yyyy 'à' HH:mm"
																		type="both" />
																</h:outputText>

																<!-- <p:commandButton icon="ui-icon-disk"
																	title="#{msg.listepatient_menucontext_2}">

																	<f:setPropertyActionListener
																		target="#{diagnosticAction.interpretationSelected}"
																		value="#{inter}" />
																</p:commandButton> -->
															</h:panelGroup>
															<p:separator />
														</p:dataGrid>

													</p:panel>
												</h:panelGrid>
											</p:panel>
											<p:panel header="Fiche examen"
												rendered="#{diagnosticAction.diagnosticChoisis == null}">
												<h:outputText value="Veuillez séléctionner un examen"
													style="margin-left:10px" />
											</p:panel>
										</h:panelGroup>
									</h:form>
									<h:form id="form-fiche-irm"
										rendered="#{diagnosticAction.infoIrmDejaPresente}">
										<p:dialog header="Fiche IRM" width="800" height="500"
											id="dg-fiche-irm" widgetVar="dg_fiche_irm">
											<ui:include src="fiche_irm.xhtml">
												<ui:param name="infoIrmParam"
													value="#{diagnosticAction.dernierDiagnosticIrm.infosIrm}" />
												<ui:param name="disabled" value="#{true}" />
											</ui:include>
											<f:facet name="footer">
												<h:panelGroup layout="block" styleClass="pull-right"
													>
													<p:commandButton styleClass="btn" value="Fermer"
														onclick="dg_fiche_irm.hide()" />
												</h:panelGroup>
											</f:facet>
										</p:dialog>
									</h:form>
									<ui:include src="nouvelle_interpretation.xhtml" />
									<ui:include src="modifier_interpretation.xhtml" />
									<ui:include src="modifier_examen_radiologie.xhtml" />
								</p:tab>
								<p:tab id="tabResultatsRadiologie"
									title="#{msg.consultation_resultats_diagnostic}">
									<h:form id="consultation-resultats-radiologie">
										<p:panel header="Images">
											<p:galleria value="#{listeImages}" var="image"
												autoPlay="false" panelWidth="600" panelHeight="313"
												showCaption="true">
												<p:graphicImage value="/images_radio/#{image.image}"
													title="image #{image.id}" />
											</p:galleria>
										</p:panel>
										<p:panel header="#{msg.consultation_resultats_diagnostic}"
											id="resultats" style="min-w">
											<h:panelGroup layout="block"
												rendered="#{diagnosticAction.rendezVous.resultat == ''}">
												<p:editor value="#{diagnosticAction.rendezVous.resultat}"
													width="600" />
												<h:panelGroup layout="block"
													styleClass="form-actions text-right">
													<p:commandButton value="Enregistrer"
														action="#{diagnosticAction.saveInterpretationRv}"
														update=":tabFicheConsultationRadiologie:consultation-resultats-radiologie:resultats"
														styleClass="btn btn-primary" />
												</h:panelGroup>
											</h:panelGroup>
											<h:panelGroup layout="block"
												rendered="#{diagnosticAction.rendezVous.resultat != ''}">
												<h:outputText
													value="#{diagnosticAction.rendezVous.resultat}"
													escape="false" style="margin-left:10px" />
												<h:panelGroup layout="block"
													styleClass="form-actions text-right">
													<h:commandLink onclick="dg_modifier_diagnostic.show()"
														styleClass="btn btn-link"
														value="#{msg.consultation_modifier_diagnostic}" />
												</h:panelGroup>
												<p:dialog header="#{msg.consultation_modifier_diagnostic}"
													id="dg_modifier_diagnostic" width="500"
													widgetVar="dg_modifier_diagnostic" modal="true">
													<p:editor id="editor"
														value="#{diagnosticAction.rendezVous.resultat}"
														width="450" />
													<f:facet name="footer">
														<h:panelGroup layout="block" styleClass="pull-right">
															<h:panelGrid columns="2">
																<p:commandButton value="Enregistrer"
																	action="#{diagnosticAction.saveInterpretationRv}"
																	update=":tabFicheConsultationRadiologie:consultation-resultats-radiologie:resultats"
																	styleClass="btn btn-primary"
																	oncomplete="dg_modifier_diagnostic.hide()" />
																<p:commandButton styleClass="btn btn-primary"
																	value="Fermer" onclick="dg_modifier_diagnostic.hide()" />
															</h:panelGrid>
														</h:panelGroup>
													</f:facet>
												</p:dialog>
											</h:panelGroup>
										</p:panel>
										<h:panelGroup layout="block"
											styleClass="form-actions text-right" id="actions-mail">
											<h:commandLink onclick="dg_envoi_mail.show()"
												styleClass="btn btn-link"
												value="Envoyer les images par mail" />
										</h:panelGroup>
									</h:form>
									<ui:include src="envoi_mail.xhtml" />
								</p:tab>
							</p:tabView>
							<h:outputText value="Aucun rendez-vous trouvé"
								rendered="#{diagnosticAction.rendezVous == null}"
								style="margin-left:10px" />
						</div>
					</div>
				</div>
			</div>
		</div>
	</ui:define>
</ui:composition>