<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:s="http://jboss.org/schema/seam/taglib"
	template="../../template/template.xhtml">

	<ui:define name="title-facturepatient">
		<title>SEYSOO--MEDICIS--Liste des factures des patients</title>
	</ui:define>
	<ui:define name="body">
		<div class="breadcrumbs">
			<ul>
				<li><s:link view="/patient/home.seam">Accueil</s:link> <i
					class="icon-angle-right"></i></li>
				<li><s:link view="/patient/facture/list.seam">Facturation</s:link>
				</li>
			</ul>
			<div class="close-bread">
				<a href="#"><i class="icon-remove"></i></a>
			</div>
		</div>
		<div class="container-fluid">
			<div class="row-fluid">
				<div class="span12">
					<div class="box box-color box-bordered">
						<div class="box-title">
							<h3>
								<i class="icon-table"></i> Liste des factures des patients
							</h3>
						</div>
						<div class="box-content nopadding">
							<h:form id="ffactP" onsubmit="PF('status').show();">
								<p:messages id="messages" showDetail="true" autoUpdate="true"
									closable="true" />
								<p:contextMenu for="facureId">

									<p:menuitem value="Facturer" icon="ui-icon-calculator"
										oncomplete="dlgFact1.show()" update=":ecranFact1:displayF1"
										actionListener="#{factureAction.listDiagnostic}" />

									<p:menuitem value="Payer Facture" icon="ui-icon-calculator"
										oncomplete="dlgFact2.show()" update=":ecranFact2:displayF2"
										actionListener="#{factureAction.listDiagnostic}" />

								</p:contextMenu>
								<p:dataTable var="fact" value="#{listFacturesPatient}"
									paginator="true"
									selection="#{factureAction.facturePatientSelected}"
									selectionMode="single"
									emptyMessage="aucun enregistrement trouvé .." id="facureId"
									rowKey="#{fact.id}" paginatorPosition="bottom" rows="10">
									
									<p:column headerText="Numéro"
										filterBy="#{fact.id}"
										style="white-space:nowrap; text-align: center"
										>
										<h:outputText value="#{fact.id}" />
									</p:column>
									
									<p:column headerText="Montant (Fcfa)"
										filterBy="#{fact.facture.montant}"
										style="white-space:nowrap; text-align: center">
										<h:outputText value="#{fact.facture.montant}">
											<f:convertNumber type="currency" currencySymbol="FCFA"
												minFractionDigits="0" />
										</h:outputText>
									</p:column>
									
									<p:column headerText="Prenom(s) et Nom"
										filterBy="#{fact.rendezVous.patient.prenom}"
										style="white-space:nowrap; text-align: center"
										filterValue="prenom">
										<h:outputText value="#{fact.rendezVous.patient.prenom} #{fact.rendezVous.patient.nom}" />
									</p:column>

									<p:column headerText="Date" filterBy="#{fact.facture.date}"
										style="white-space:nowrap; text-align: center">
										<h:outputText value="#{fact.facture.date}" />
									</p:column>

									<p:column headerText="Etat facture"
										filterBy="#{fact.facture.etatFacture}"
										style="white-space:nowrap; text-align: center">
										<h:outputText
											value="#{fact.facture.etatFacture == 0 ? 'Non Regle' : 'Regle'}" />
									</p:column>
									<p:column style="width:20px;">
										<p:commandButton id="bfacture" icon="ui-icon-folder-open"
											title="Facture">
											<f:setPropertyActionListener value="#{fact}"
												target="#{factureAction.facturePatientSelected}" />
										</p:commandButton>
										<p:commandButton id="bpayer" icon="ui-icon-calculator"
											title="Payer">
											<f:setPropertyActionListener value="#{fact}"
												target="#{factureAction.facturePatientSelected}" />
										</p:commandButton>
										<p:commandButton id="bannuler" icon="ui-icon-circle-close"
											title="Annuler">
											<f:setPropertyActionListener value="#{fact}"
												target="#{factureAction.facturePatientSelected}" />
										</p:commandButton>
									</p:column>

								</p:dataTable>
							</h:form>

							<h:form id="ecranFact1">

								<p:dialog header="Facture patient" widgetVar="dlgFact1"
									resizable="false" width="650" showEffect="clip"
									hideEffect="fold" id="dialogF1" modal="true">

									<h:panelGrid id="displayF1" columns="1" cellpadding="4">

										<p:panel header="Patient" toggleOrientation="horizontal"
											toggleSpeed="550" id="pan2">
											<h:panelGrid id="displayFC2" columns="5" cellpadding="4">

												<h:outputText value="Nom : " />
												<h:outputText
													value="#{factureAction.facturePatientSelected.rendezVous.patient.nom}"
													style="font-weight:bold" />

												<p:spacer width="60" height="0" />

												<h:outputText value="Prenom : " />
												<h:outputText
													value="#{factureAction.facturePatientSelected.rendezVous.patient.prenom}"
													style="font-weight:bold" />


												<h:outputText value="Periode : " />
												<h:outputText
													value="#{factureAction.facturePatientSelected.facture.date}"
													style="font-weight:bold" />

												<p:spacer width="60" height="0" />

												<h:outputLabel value="Matricule : " />
												<h:outputText
													value="#{factureAction.facturePatientSelected.rendezVous.patient.beneficiaire.matricule}"
													style="font-weight:bold" />

											</h:panelGrid>

										</p:panel>
										<br />

										<p:dataTable id="exam" var="ex" value="#{listDiagnostic}"
											paginator="true" paginatorPosition="bottom">
											<p:column headerText="Examen (s) "
												style="white-space:nowrap; text-align: center">
												<h:outputText value="#{ex.examen.libelle}" />
											</p:column>

											<p:column headerText="Date"
												style="white-space:nowrap; text-align: center">
												<h:outputText value="#{ex.date}" />
											</p:column>

											<p:column headerText="Montant"
												style="white-space:nowrap; text-align: center">
												<h:outputText value="#{ex.examen.prix}">
													<f:convertNumber type="currency" currencySymbol="FCFA"
														minFractionDigits="0" />
												</h:outputText>
											</p:column>


										</p:dataTable>


										<h:panelGrid id="tot" columns="2" cellpadding="4" border="2">
											<h:outputText value="Total" />
											<h:outputText value="#{factureAction.total}">
												<f:convertNumber type="currency" currencySymbol="FCFA"
													minFractionDigits="0" />
											</h:outputText>

											<h:outputText value="Remise" />
											<h:outputText value="0" />

											<h:outputText value="Net a payer" />
											<h:outputText value="#{factureAction.total}">
												<f:convertNumber type="currency" currencySymbol="FCFA"
													minFractionDigits="0" />
											</h:outputText>
										</h:panelGrid>
										<h:panelGrid columns="2">
											<h:outputText
												value="Cette facture est arrete a la somme de :  " />
											<h:outputText value="#{factureAction.chiffreEnLettre}"
												style="font-weight:bold">
												<f:convertNumber type="currency" currencySymbol="FCFA"
													minFractionDigits="0" />
											</h:outputText>
										</h:panelGrid>
										<h:panelGrid id="modif1" columns="2">

											<h:commandButton value="Imprimer"
												styleClass="btn btn-primary"
												action="#{factureAction.imprimerPDFPatient}" />
											<h:commandButton value="Fermer" styleClass="btn btn-primary"
												type="button" onclick="dlgFact1.hide()" />

										</h:panelGrid>


									</h:panelGrid>

								</p:dialog>

							</h:form>

							<h:form id="ecranFact2">
								<p:dialog header="Paiement Facture patient" widgetVar="dlgFact2"
									resizable="false" width="710" showEffect="clip"
									hideEffect="fold" id="dialogF2" modal="true">

									<h:panelGrid id="displayF2" columns="2" cellpadding="4">

										<p:panel header="Detail Facture"
											toggleOrientation="horizontal" toggleSpeed="550" id="pan3">
											<h:panelGrid id="displayFC3" columns="2" cellpadding="4">



												<h:outputText value="Montant Total : " />
												<h:outputText value="#{factureAction.total}"
													style="font-weight:bold" id="mt">
													<f:convertNumber type="currency" currencySymbol="FCFA"
														minFractionDigits="0" />
												</h:outputText>


												<h:outputText value="Taux de participation : " />
												<h:outputText value="#{factureAction.tauxp} %"
													style="font-weight:bold" id="tp" />


												<h:outputText value="Acompte : " />
												<h:outputText value="0" style="font-weight:bold" id="ac" />

												<h:outputText value="Remise : " />
												<h:outputText value="0" style="font-weight:bold" id="rm" />

												<h:outputText value="Montant dû : " />
												<h:outputText value="#{factureAction.montantDu}"
													style="font-weight:bold" id="du">
													<f:convertNumber type="currency" currencySymbol="FCFA"
														minFractionDigits="0" />
												</h:outputText>

											</h:panelGrid>
										</p:panel>
										<br />

										<p:panel header="Details Facture"
											toggleOrientation="horizontal" toggleSpeed="650" id="pan4">
											<h:panelGrid id="displayFC4" columns="3" cellpadding="4"
												rendered="#{factureAction.facturePatientSelected.facture.etatFacture==0}">


												<p:outputPanel id="customPanel">

													<p:selectOneRadio id="customRadio" layout="custom"
														value="#{factureAction.choixRegelement}">
														<f:selectItem itemLabel="Espece" itemValue="1" />
														<f:selectItem itemLabel="Cheque" itemValue="2" />
													</p:selectOneRadio>


													<h:panelGrid columns="6">

														<p:radioButton id="opt1" for="customRadio" itemIndex="0" />
														<h:outputLabel for="opt1" value="Espece" />
														<h:outputText value="" />

														<h:inputText id="mt1"
															style="height:12px; width:100px; font-size:11px;"
															size="10" value="#{factureAction.montantEscpece}" />
														<!-- <p:watermark value="montant" for="mt1"/>  -->



														<h:selectOneMenu id="devis"
															value="#{factureAction.devise}">
															<f:selectItem id="d0" itemLabel="-----------"
																itemValue="0" />
															<f:selectItem id="d1" itemLabel="CFA" itemValue="CFA" />
														</h:selectOneMenu>

														<h:outputText value="" />

														<!--  p1 -->


														<p:radioButton id="dopt2" for="customRadio" itemIndex="1" />
														<h:outputLabel for="dopt2" value="Cheque" />
														<h:inputText value="#{factureAction.numeroCheque}"
															style="height:12px; width:100px; font-size:11px;"
															id="esp" size="10" />
														<!--  <p:watermark value="N° cheque" for="esp"/> -->

														<h:inputText value="#{factureAction.montantCheque}"
															style="height:12px; width:100px; font-size:11px;"
															size="10" id="nchq" />
														<!-- <p:watermark value="montant" for="nchq"/> -->


														<h:selectOneMenu id="bank" value="#{factureAction.banque}">
															<f:selectItem itemLabel="-------------------"
																itemValue="" noSelectionOption="true" />
															<f:selectItems id="b1" value="#{banqueAction.banques}"
																itemLabel="#{b.key}" itemValue="#{b.value}" var="b" />
														</h:selectOneMenu>


													</h:panelGrid>

												</p:outputPanel>

											</h:panelGrid>

											<h:panelGrid
												rendered="#{factureAction.facturePatientSelected.facture.etatFacture==1}">
												<h:outputLabel value="Facture deja reglee .." />
											</h:panelGrid>
										</p:panel>


									</h:panelGrid>

									<h:panelGrid id="enreg11" columns="2">

										<p:commandButton value="valider" styleClass="btn btn-primary"
											action="#{factureAction.saveFactureP}"
											update=":ffactP:facureId, :ffactP:messages, :ecranFact2:displayF2"
											oncomplete="dlgFact2.hide()" />
										<p:commandButton value="Fermer" styleClass="btn btn-primary"
											type="button" onclick="dlgFact2.hide()" />

									</h:panelGrid>


								</p:dialog>



							</h:form>

							<h:form id="formConf">
								<p:dialog header="Confirmation de paiement" widgetVar="dlg3"
									resizable="false" width="400" showEffect="clip"
									hideEffect="fold" id="dialog_">

									<h:panelGrid id="dconf" columns="2">

										<h:outputLabel value="Etes vous sur de confirmer ?"
											style="text-align:center; white-space:nowrap" />

										<br />
										<h:panelGrid id="btn2" columns="2"
											style="text-align:center; white-space:nowrap">
											<p:commandButton value="Oui"
												styleClass="ui-confirmdialog-yes" ajax="true"
												oncomplete="dlg3.hide(), dlgFact2.hide()"
												update=":ffactP:facureId, :ffactP:messages"
												icon="ui-icon-check"
												actionListener="#{factureAction.saveFactureP}" />
											<p:commandButton value="Non" type="button"
												styleClass="ui-confirmdialog-no" icon="ui-icon-close"
												onclick="dlg3.hide()" />
										</h:panelGrid>

									</h:panelGrid>

								</p:dialog>
							</h:form>


						</div>
					</div>

				</div>
			</div>
		</div>
	</ui:define>
</ui:composition>