<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
xmlns:h="http://java.sun.com/jsf/html"
xmlns:ui="http://java.sun.com/jsf/facelets"
xmlns:f="http://java.sun.com/jsf/core"
xmlns:p="http://primefaces.org/ui"
xmlns:s="http://jboss.org/schema/seam/taglib" 
template="../../template/template.xhtml"
>

<ui:define name="title-factureclient"><title>SEYSOO--MEDICIS--Liste des factures des clients</title></ui:define>	
<ui:define name="body">
	<div class="breadcrumbs">
          <ul>
            <li>
            <s:link view="/patient/home.seam">Accueil</s:link> <i	class="icon-angle-right"></i>
            </li>
            <li>
              <s:link view="/patient/facture/listFactureClient.seam">Facturation</s:link>
            </li>
          </ul>
          <div class="close-bread">
            <a href="#"><i class="icon-remove"></i></a>
          </div>
   </div>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">
      <div class="box box-color box-bordered">
        <div class="box-title">
          <h3>
            <i class="icon-table"></i>
            Liste des factures clients</h3>
          </div>
          <div class="box-content nopadding">
            <h:form>  
        <p:contextMenu for="facId">
            
       		<p:menuitem value="Afficher Facturer globale" icon="ui-icon-folder-open" oncomplete="dlgFact.show()" actionListener="#{factureAction.infoClients}" update=":ecranFact:displayF"  />
					
			<p:menuitem value="Afficher Facturer  détaillée" icon="ui-icon-folder-open" oncomplete="dlgFact2.show()" actionListener="#{factureAction.infoClients}" update=":ecranFact2:displayF2"/>
            
        </p:contextMenu>
            <p:dataTable 	 var="fact" 
            				 value="#{listFacturesClient}" 
            				 paginator="true" 
            				 selection="#{factureAction.factureClientSelected}"
            				 selectionMode="single"
            				 emptyMessage="aucun enregistrement trouvé .."
            				 id="facId"
            				 rowKey="#{fact.id}"
            				 paginatorPosition="bottom"
            				 rows="10"
            				 
            				>  
            
            <p:column headerText="Numéro" filterBy="#{fact.id}" style="white-space:nowrap; text-align: center"  sortBy="#{fact.id}" >  
            <h:outputText value="#{fact.id}" />  
          </p:column>  

          <p:column headerText="Client" filterBy="#{fact.client.designation}" style="white-space:nowrap; text-align: center" sortBy="#{fact.client.designation}">  
            <h:outputText value="#{fact.client.designation}" />  
          </p:column>  

          <p:column headerText="Montant (Fcfa)" filterBy="#{fact.facture.montant}" style="white-space:nowrap; text-align: center" sortBy="#{fact.facture.montant}">  
            <h:outputText value="#{fact.facture.montant}">  
            <f:convertNumber type="currency" currencySymbol="FCFA" minFractionDigits="0"/>
            </h:outputText>
          </p:column>  
          <p:column headerText="Periode" filterBy="#{fact.dateDebut}" style="white-space:nowrap; text-align: center" sortBy="#{fact.dateDebut}">  
            <h:outputText value="Du #{fact.dateDebut} au #{fact.dateFin}" >
             <f:convertDateTime pattern="dd/MM/yyyy" type="date" />
            </h:outputText>  
          </p:column>  

          <p:column headerText="Etat Facture client" filterBy="#{fact.facture.etatFacture}" style="white-space:nowrap; text-align: center">  
            <h:outputText value="#{fact.facture.etatFacture == 0 ? 'Non Regle' : 'Regle'}"  />  
          </p:column>  

          
        </p:dataTable>  
      </h:form>  
      
       <h:form id="ecranFact">
        
       <p:dialog header="Génération Facture CLient" widgetVar="dlgFact" resizable="false" width="650" showEffect="clip" hideEffect="fold" id="dialogF1"   modal="true">

				<h:panelGrid id="displayF" columns="2" cellpadding="4" >
		  		   	
		   	  <h:panelGrid id="displayFC" columns="2" cellpadding="4"> 
		   	  <h:panelGrid columns="5">
		   	    
		   	     <h:outputText value="Facture N° : " />
		   	     <h:outputText value="#{factureAction.factureClientSelected.facture.numero}" style="font-weight:bold"/>
		   	     <h:outputText value="           " />
		   	     <h:outputText value="Client :  " />
		   	     <h:outputText value="#{factureAction.factureClientSelected.client.designation}" style="font-weight:bold" />
		   	     <br/><br/>
		   	     <h:outputText value="Periode du  "   />
		   	     <h:outputText value="#{factureAction.factureClientSelected.dateDebut}"  style="font-weight:bold"  />
		   	     <h:outputText value="au  "   />
		   	     <h:outputText value="#{factureAction.factureClientSelected.dateFin}"   style="font-weight:bold" />
		   	    
		   	  </h:panelGrid>
								
                 <br/><br/><br/><br/>
                  
                     <p:dataTable 	 
	                     var="px" 
	       				 value="#{listDiagnostiq}" 
	       				 paginator="true" 
	       				 emptyMessage="aucun enregistrement trouvé .."
	       				 id="clientt"
	       				 paginatorPosition="bottom">  
       				
       
			            <p:column headerText="Patient" style="white-space:nowrap; text-align: center" sortBy="#{px.rendezVous.patient.nom}">  
			              <h:outputText value="#{px.rendezVous.patient.prenom}  #{px.rendezVous.patient.nom}" /> 
			            </p:column>
		            
			            <p:column headerText="Beneficiaire" style="white-space:nowrap; text-align: center" sortBy="#{px.rendezVous.patient.beneficiaire.nom}">  
			              <h:outputText value="#{px.rendezVous.patient.beneficiaire.prenom}  #{px.rendezVous.patient.beneficiaire.nom}" /> 
			            </p:column>
		            
			            <p:column headerText="Date" style="white-space:nowrap; text-align: center" sortBy="#{factureAction.factureClientSelected.facture.date}">  
			              <h:outputText value="#{factureAction.factureClientSelected.facture.date}" /> 
			            </p:column>
			            
			            <p:column headerText="Montant" style="white-space:nowrap; text-align: center" sortBy="#{px.examen.prix}">  
			              <h:outputText value="#{px.examen.prix}" >
			                          <f:convertNumber type="currency" currencySymbol="FCFA" minFractionDigits="0"/>
			              </h:outputText>
				        </p:column>
		            
		           </p:dataTable>
		                  
		             <br/><br/><br/>
		             
		             
		          
		          <h:panelGrid id="totaux" columns="2" cellpadding="4" border="2" >
		          
		   	       <h:outputText value="Total" style="white-space:nowrap"/>
		   	       <h:outputText value="#{factureAction.totalFC}"  style="white-space:nowrap">
		   	         <f:convertNumber type="currency" currencySymbol="FCFA" minFractionDigits="0"/>
		   	       </h:outputText>
		   	       
		   	       <h:outputText value="Remise" />
		   	       <h:outputText value="#{factureAction.factureClientSelected.facture.remise}"  style="white-space:nowrap">
		   	        <f:convertNumber type="currency" currencySymbol="FCFA" minFractionDigits="0"/>
		   	       </h:outputText>
		   	       
		   	       <h:outputText value="Net a payer" style="white-space:nowrap"/>
		   	       <h:outputText value="#{factureAction.netApayer}" style="white-space:nowrap;font-weight:bold" >
		   	         <f:convertNumber type="currency" currencySymbol="FCFA" minFractionDigits="0"/>
		   	        </h:outputText>
		   	   </h:panelGrid>
		   	  </h:panelGrid>
		   	 <br/>
        </h:panelGrid>
        		<h:panelGrid id="enreg12" columns="2">
				
						<h:commandButton value="Imprimer" styleClass="btn btn-primary"  />
						<h:commandButton value="Fermer" styleClass="btn btn-primary" type="button" onclick="dlgFact.hide()" />
				</h:panelGrid>
        
      </p:dialog>
         
      </h:form>
      
      <!--  -->
      
            <h:form id="ecranFact2">
              <p:dialog header="Paiement Facture patient" widgetVar="dlgFact2" resizable="false" width="650" showEffect="clip" hideEffect="fold" id="dialogF2"   modal="true">

		<h:panelGrid id="displayF2" columns="2" cellpadding="4" >
		  		   	
		   	  <h:panelGrid id="displayFC3" columns="2" cellpadding="4"> 
		   	  <h:panelGrid columns="5">
		   	    
		   	     <h:outputText value="Facture N° : " />
		   	     <h:outputText value="#{factureAction.factureClientSelected.facture.numero}" style="font-weight:bold"/>
		   	     <h:outputText value="           " />
		   	     <h:outputText value="Client :  " />
		   	     <h:outputText value="#{factureAction.factureClientSelected.client.designation}" style="font-weight:bold" />
		   	     <br/><br/>
		   	     <h:outputText value="Periode du  "   />
		   	     <h:outputText value="#{factureAction.factureClientSelected.dateDebut}"  style="font-weight:bold"  />
		   	     <h:outputText value="au  "   />
		   	     <h:outputText value="#{factureAction.factureClientSelected.dateFin}"   style="font-weight:bold" />
		   	    
		   	  </h:panelGrid>
								
                 <br/><br/><br/><br/>
                  
                     <p:dataTable 	 
	                     var="px" 
	       				 value="#{listDiagnostiq}" 
	       				 paginator="true" 
	       				 emptyMessage="aucun enregistrement trouvé .."
	       				 id="clientt"
	       				 paginatorPosition="bottom">  
       				
       
			            <p:column headerText="Patient" style="white-space:nowrap; text-align: center" sortBy="#{px.rendezVous.patient.nom}">  
			              <h:outputText value="#{px.rendezVous.patient.prenom}  #{px.rendezVous.patient.nom}" /> 
			            </p:column>
		            
			            <p:column headerText="Beneficiaire" style="white-space:nowrap; text-align: center" sortBy="#{px.rendezVous.patient.beneficiaire.nom}">  
			              <h:outputText value="#{px.rendezVous.patient.beneficiaire.prenom}  #{px.rendezVous.patient.beneficiaire.nom}" /> 
			            </p:column>
		            
			            <p:column headerText="Date" style="white-space:nowrap; text-align: center" sortBy="#{factureAction.factureClientSelected.facture.date}">  
			              <h:outputText value="#{factureAction.factureClientSelected.facture.date}" /> 
			            </p:column>
			            
			            <p:column headerText="Motif" style="white-space:nowrap; text-align: center" sortBy="#{px.rendezVous.motif.libelle}">  
			              <h:outputText value="#{px.rendezVous.motif.libelle}" /> 
			            </p:column>
			            
			            
			            <p:column headerText="Montant" style="white-space:nowrap; text-align: center" sortBy="#{px.examen.prix}">  
			              <h:outputText value="#{px.examen.prix}" >
			                          <f:convertNumber type="currency" currencySymbol="FCFA" minFractionDigits="0"/>
			              </h:outputText>
				        </p:column>
		            
		           </p:dataTable>
		                  
		             <br/><br/><br/>
		             
		             
		          
		          <h:panelGrid id="totaux" columns="2" cellpadding="4" border="2" >
		          
		   	       <h:outputText value="Total" style="white-space:nowrap"/>
		   	       <h:outputText value="#{factureAction.totalFC}"  style="white-space:nowrap">
		   	         <f:convertNumber type="currency" currencySymbol="FCFA" minFractionDigits="0"/>
		   	       </h:outputText>
		   	       
		   	       <h:outputText value="Remise" />
		   	       <h:outputText value="#{factureAction.factureClientSelected.facture.remise}"  style="white-space:nowrap">
		   	        <f:convertNumber type="currency" currencySymbol="FCFA" minFractionDigits="0"/>
		   	       </h:outputText>
		   	       
		   	       <h:outputText value="Net a payer" style="white-space:nowrap"/>
		   	       <h:outputText value="#{factureAction.netApayer}" style="white-space:nowrap;font-weight:bold" >
		   	         <f:convertNumber type="currency" currencySymbol="FCFA" minFractionDigits="0"/>
		   	        </h:outputText>
		   	   </h:panelGrid>
		   	  </h:panelGrid>
		   	 <br/>
        </h:panelGrid>
        		<h:panelGrid id="enreg12" columns="2">
				
						<h:commandButton value="Imprimer" styleClass="btn btn-primary"  />
						<h:commandButton value="Fermer" styleClass="btn btn-primary" type="button" onclick="dlgFact2.hide()" />
				</h:panelGrid>
      </p:dialog>
      </h:form>
    </div>
  </div>
</div>
</div>
<h:form id="fnewFactureCleint">
		<p:dialog header="Facture Client" widgetVar="dlgGenererFacture">
			<div class="row-fluid">
					<div class="span12 form-horizontal">
						<div class="box">
							
							<div class="box-content">
			<h:panelGrid columns="4" id="contenu">
													<f:facet name="header">
											            <div class="box-title">
															<h3><i class="icon-edit"></i> Génération Facture Client</h3>
														</div>
											        </f:facet>
											        <label for="select" class="control-label">#{msg.dateDeb}</label>
													<p:calendar  id="datedeb" value="#{factureAction.dateDebutFactureClient}" 
													style="#{component.valid ? 'border-color :#CCCCCC;' : 'border-color :#CD0A0A;'};width:100%;font-weight:bold"
													pattern="dd/MM/yyyy" styleClass="input-xlarge" required="true" 
													validatorMessage="La date de début n'est pas valide"
													requiredMessage="La date de début est requise"/>
													<p:watermark value="Date de début" for="datedeb" />
													<p:message for="datedeb" />
													<label for="select" class="control-label">#{msg.dateFin}</label>
													<p:calendar  id="datefin" value="#{factureAction.dateFinFactureClient}" 
													style="#{component.valid ? 'border-color :#CCCCCC;' : 'border-color :#CD0A0A;'};width:100%;font-weight:bold"
													pattern="dd/MM/yyyy" styleClass="input-xlarge" required="true" 
													validatorMessage="La date de fin n'est pas valide"
													requiredMessage="La date de fin est requise"/>
													<p:watermark value="Date de fin" for="datefin" />
													<p:message for="datefin" />
													<label for="select" class="control-label">#{msg.NOUVEAU_PATIENT_client}</label>
											     	<p:selectOneMenu id="client" value="#{factureAction.idclient}" required="true" requiredMessage="Vous devez Choisir un client" >
														<f:selectItem itemLabel="----Selectionner---" itemValue=""	noSelectionOption="true" />
														<f:selectItems id="b1" value="#{rendezVous.clientAssureurs}" itemValue="#{b.value}" itemLabel="#{b.key}" var="b" />
													</p:selectOneMenu>
											     	<div>&nbsp;</div>
											     	<p:message for="client" />
											</h:panelGrid>
											
											<p:commandButton 
													styleClass="btn btn-primary" 
													value="#{msg.NOUVEAU_PATIENT_BT_VALIDER}" 
													oncomplete="handleLoginRequest(xhr,status,args)"
													update="fnewFactureCleint"
													action="#{factureAction.genereFactureClient}"
													ajax="false"
													>
													</p:commandButton>
												&nbsp;&nbsp;&nbsp;
												<p:commandButton styleClass="btn" value="#{msg.NOUVEAU_PATIENT_BT_ANNULER}" onclick="dlgrecherche.hide();"/>
												</div></div></div></div>
		</p:dialog>
		<br />
			<div class="form-actions">
			<p:commandButton id="bgenererfacture" onclick="dlgGenererFacture.show()" styleClass="btn btn-primary" value="#{msg.GENERER_FACTURE}" ajax="true"/>
			</div>
			</h:form>
</div>
				<script type="text/javascript">  
				 //<![CDATA[ 
				    function handleLoginRequest(xhr, status, args) {
				        if(args.validationFailed)   
				        	dlgGenererFacture.show();
				    }
				  //]]>  
				</script>
</ui:define>
</ui:composition>