<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:s="http://jboss.org/schema/seam/taglib"
	xmlns:f="http://java.sun.com/jsf/core">

    <p:growl id="messages" showDetail="true" /> 
    
<p:dialog         header="Confirmation Rendez-vous" 
					   widgetVar="dlg6" 
					   resizable="false" 
					   width="400" 
					   showEffect="clip" 
					   hideEffect="fold" 
					   id="dialogConf" 
					   >
		
<h:panelGrid id="displayC" columns="2">
	   
	   <h:outputLabel value="Etes vous sur de confirmer le rendez-vous?"  style="text-align:center; white-space:nowrap"/>
    
       <br />
             <h:panelGrid id="btn2" columns="2"  style="text-align:center; white-space:nowrap">
                <p:commandButton value="Oui"  
                				 styleClass="ui-confirmdialog-yes" 
                				 ajax="true"
                				 actionListener="#{rendezVous.confirmeRendezvous()}"
                				 oncomplete="dlg6.hide()" 
	                			update=":form1:rdv, :form-conf:displayC,:form1:msg"
	                			 icon="ui-icon-check"
                				 />
		     <p:commandButton value="Non" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" onclick="dlg6.hide()"/>       
			  </h:panelGrid>
  
 	</h:panelGrid>
	
 </p:dialog>
</ui:composition>