<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:s="http://jboss.org/schema/seam/taglib">
	<p:dialog header="#{msg.RV_CONSULTER_RDV}" resizable="false"
		width="800" showEffect="clip" hideEffect="fold" id="dialog" widgetVar="dlg">
		<h:panelGrid id="display1" columns="2" cellpadding="4">
			<ui:include src="infos_patient.xhtml" />
			<br />
			<ui:include src="infos_rendez_vous.xhtml" />
		</h:panelGrid>
		<h:form id="form-actions">
			<s:link rendered="#{rendezVous.rvSelected.motif.service.qualificatif == 'odontologie'}" view="/patient/dossier_patient/fiche_consultation/odontologie.xhtml">Ouvrir fiche consultation</s:link>
			<s:link rendered="#{rendezVous.rvSelected.motif.service.qualificatif == 'radiologie'}" view="/patient/dossier_patient/fiche_consultation/radiologie.xhtml">Ouvrir fiche consultation</s:link>
			<s:link rendered="#{rendezVous.rvSelected.motif.service.qualificatif == 'gynecologie'}" view="/patient/dossier_patient/fiche_consultation/gynecologie.xhtml">Ouvrir fiche consultation</s:link>
		</h:form>
	</p:dialog>
</ui:composition>