  <ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:s="http://jboss.org/schema/seam/taglib"
	xmlns:f="http://java.sun.com/jsf/core">
  <p:dialog id="dialogrendezvous2" header="Fiche Rendez-vous" widgetVar="dlgRendezvous" modal="true" maximizable="false" minimizable="false" resizable="false" width="70%" >
			<div style="width :40%;float:left;">
				<fieldset class="ui-fieldset ui-widget ui-widget-content ui-corner-all ui-hidden-container fieldset"> 
					<legend class="ui-corner-all legend legend">#{msg.RENDEZ_VOUS_INFOPATIENT}</legend> 
					    <h:panelGrid columns="4" cellpadding="10" rowClasses="ui-widget-content ui-datatable-odd,ui-widget-content ui-datatable-even" style="width :100%;">  
					       <label for="textfield" class="control-label" style="font-weight:bold">#{msg.NOUVEAU_PATIENT_NOM}</label>
					       <h:outputText value="#{rendezVous.selectedRvConfirme.patient.nom}" />
					       <label for="textfield" class="control-label" style="font-weight:bold">#{msg.NOUVEAU_PATIENT_TELEPHONE}</label>
					       <h:outputText value="#{rendezVous.selectedRvConfirme.patient.telephonePatient}" />
					       <label for="textfield" class="control-label" style="font-weight:bold">#{msg.NOUVEAU_PATIENT_PRENOM}</label>
					       <h:outputText value="#{rendezVous.selectedRvConfirme.patient.prenom}" />
					       <label for="textfield" class="control-label" style="font-weight:bold">#{msg.NOUVEAU_PATIENT_EMAIL}</label>
					       <h:outputText value="#{rendezVous.selectedRvConfirme.patient.email}" />
					       <label class="control-label" style="font-weight:bold">#{msg.NOUVEAU_PATIENT_SEXE}</label>
					       <h:outputText value="#{rendezVous.selectedRvConfirme.patient.sexe=='M' ? 'Masculin' : 'Feminin'}" />
					    </h:panelGrid>  
				</fieldset>
				<fieldset class="ui-fieldset ui-widget ui-widget-content ui-corner-all ui-hidden-container fieldset"> 
				<legend class="ui-corner-all legend legend">#{msg.RENDEZ_VOUS_INFOPARTCULIERE}</legend>
				     <h:panelGrid columns="1">
				        <h:outputText value="#{rendezVous.selectedRvConfirme.patient.signesParticuliers}" />
				     </h:panelGrid>
				</fieldset>
				
			</div>
			<div style="width :60%;float:right;">
				<fieldset class="ui-fieldset ui-widget ui-widget-content ui-corner-all ui-hidden-container fieldset"> 
				<legend class="ui-corner-all legend legend">#{msg.RV_INFO}</legend>
				    <h:panelGrid columns="6">
				    
				    	<h:outputText value="#{msg.RENDEZ_VOUS_SERVICE} :" style="font-weight:bold"/>
						<h:outputText value="#{rendezVous.selectedRvConfirme.service.libelle}             " />
						
						<h:outputText value="#{msg.rendez_vous_date} :" style="font-weight:bold"/>
						<h:outputText value="#{rendezVous.selectedRvConfirme.date}              " />
						
						<h:outputText value="    Heure :" style="font-weight:bold" />
						<h:outputText value="#{rendezVous.selectedRvConfirme.heure}" /> 
						
						<h:outputText value="Type Examen :" style="font-weight:bold" />
						<h:outputText value="#{rendezVous.selectedRvConfirme.heure}" /> 
						
						<p:spacer width="5"/><p:spacer width="5"/><p:spacer width="5"/><p:spacer width="5"/>

						<h:outputText value="Motif :" style="font-weight:bold" />
						<h:outputText value="#{rendezVous.selectedRvConfirme.motif.libelle}" /> 

						<p:spacer width="5"/><p:spacer width="5"/><p:spacer width="5"/><p:spacer width="5"/>
						
						<h:outputText value="Date retrait :" style="font-weight:bold" />
						<h:outputText value="" /> 
						
				    </h:panelGrid>
				    
				   
				</fieldset>
			</div>
			 <p:spacer height="30" width="-50"/>
			<fieldset class="ui-fieldset ui-widget ui-widget-content ui-corner-all ui-hidden-container fieldset"> 
					<legend class="ui-corner-all legend legend">Infos Examens</legend> 
			
			<h:panelGrid id="exam">
			          <p:dataTable 	 
	                     var="px" 
	       				 value="#{rendezVous.lDiagnostiqueByRvCo}" 
	       				 paginator="true" 
	       				 emptyMessage="aucun enregistrement trouve .."
	       				 id="clientt"
	       				 paginatorPosition="bottom">  
       
			            <p:column headerText="Examen (s)" style="white-space:nowrap; text-align: center; width:200px" sortBy="#{px.examen.libelle}">  
			              <h:outputText value="#{px.examen.libelle}" /> 
			            </p:column>
		            
			            <p:column headerText="Medecin (s)" style="white-space:nowrap; text-align: center; width:200px" sortBy="#{px.medecin.utilisateur.nom}">  
			              <h:outputText value="#{px.medecin.utilisateur.prenom}  #{px.medecin.utilisateur.nom}" /> 
			            </p:column>
		            
			            
			            <p:column headerText="Salle (s)" style="white-space:nowrap; text-align: center; width:200px" sortBy="#{px.salle.nom}">  
			              <h:outputText value="#{px.salle.nom}" /> 
			            </p:column>
			            
			            		            
		           </p:dataTable>
			   
			</h:panelGrid>
	  </fieldset>
			<div class="form-actions text-right">		
				<p:commandButton styleClass="btn" value="Fermer" onclick="dlgRendezvous.hide();" />
			</div>
			</p:dialog>
	</ui:composition>