<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:s="http://jboss.org/schema/seam/taglib">

	<p:panel header="Informations patient" toggleable="true" rendered="#{rendezVous.rvSelected != null}"
				toggleSpeed="375">

		<h:panelGrid id="display2" columns="5" cellpadding="4">

			<h:outputText value="Nom:" />
			<h:outputText value="#{rendezVous.rvSelected.patient.nom}"
				style="font-weight:bold" />
													            
													            &#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;
													            &#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;
													             
													            <h:outputText value="Sexe :" />
			<h:outputText value="#{rendezVous.rvSelected.patient.sexe}"
				style="font-weight:bold" />


			<h:outputText value="Prénom:" />
			<h:outputText value="#{rendezVous.rvSelected.patient.prenom}"
				style="font-weight:bold" />
													            
													            &#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;
													            &#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;
													             
													            <h:outputText value="Tel :" />
			<h:outputText
				value="#{rendezVous.rvSelected.patient.telephonePatient}"
				style="font-weight:bold" />


			<h:outputText value="Date naissance :" />
			<h:outputText value="#{rendezVous.rvSelected.patient.dateNissance}"
				style="font-weight:bold" />  
													            
													            &#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;
													            &#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;
													             
													            <h:outputText value="E-mail:" />
			<h:outputText value="#{rendezVous.rvSelected.patient.email}"
				style="font-weight:bold" />



		</h:panelGrid>

	</p:panel>
</ui:composition>