<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:s="http://jboss.org/schema/seam/taglib">


	<p:panel header="Rendez-vous" toggleable="true"
		rendered="#{rendezVous.rvSelected != null}"
		toggleSpeed="275">
		<h:panelGrid id="display3" columns="5" cellpadding="4">

			<h:outputText value="#{msg.rendez_vous_date} :" />
			<h:outputText value="#{rendezVous.rvSelected.date}"
				style="font-weight:bold" />
													            
													            &#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;
													            &#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;
													             
			<h:outputText value="#{msg.RENDEZ_VOUS_HEUREDEB} :" />
			<h:outputText value="#{rendezVous.rvSelected.heure}"
				style="font-weight:bold" />


			<h:outputText value="#{msg.RV_MOTIF} :" />
			<h:outputText value="#{rendezVous.rvSelected.motif.libelle}"
				style="font-weight:bold" />
													            
													            &#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;
													            &#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;
													             
			<h:outputText value="#{msg.RENDEZ_VOUS_SERVICE} :" />
			<h:outputText value="#{rendezVous.rvSelected.motif.service.libelle}"
				style="font-weight:bold" />


		</h:panelGrid>
	</p:panel>

</ui:composition>