
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:s="http://jboss.org/schema/seam/taglib"
	template="../template/template.xhtml">
	
    <ui:define name="title-liste-rendezvous"><title>SEYSOO::MEDICIS::Liste des rendez-vous</title></ui:define>	
	<ui:define name="body">
		<div class="breadcrumbs">
			<ul>
				<li><s:link view="/patient/home.seam">Accueil</s:link> <i
					class="icon-angle-right"></i></li>
			</ul>
			<div class="close-bread">
				<a href="#"><i class="icon-remove"></i></a>
			</div>
		</div>

		<div class="container-fluid">
			<h:form id="formPeriodrv">
			    <p:messages id="mess" showDetail="true" closable="true"/>
			    <div align="right">
					<h:panelGrid id="period" columns="9">
					
							   <h:outputText value="Date debut " />
							   <p:calendar  id="datedeb" value="#{rendezVous.dateDebRv}" 
													style="#{component.valid ? 'border-color :#CCCCCC;' : 'border-color :#CD0A0A;'};width:100%;font-weight:bold"
													pattern="dd/MM/yyyy" styleClass="input-xlarge" required="true" 
													validatorMessage="La date de debut n'est pas valide"
													requiredMessage="La date de debut est requise"/>
													<p:watermark value="Date de debut" for="datedeb" />
							   						<p:spacer width="60" height="0" />  
							   
							   
							   <h:outputText value="Date fin " />
							   <p:calendar  id="datefin" value="#{rendezVous.dateFinRv}" 
													style="#{component.valid ? 'border-color :#CCCCCC;' : 'border-color :#CD0A0A;'};width:100%;font-weight:bold"
													pattern="dd/MM/yyyy" styleClass="input-xlarge" required="true" 
													validatorMessage="La date de fin n'est pas valide"
													requiredMessage="La date de fin est requise"/>
													<p:watermark value="Date fin" for="datefin" />							   
													<p:spacer width="10" height="0" /> 
							   <p:commandButton value="Afficher" action="#{rendezVous.getAllRendezvous}" update=":form1:rdv,mess" styleClass="btn btn-primary"/>
					</h:panelGrid>
			  </div>
		   </h:form>
			
			<div class="row-fluid">
				<div class="span12">
					<div class="box box-color box-bordered">
						<div class="box-title">
							<h3>
								<i class="icon-table"></i> #{msg.RV_TITRE}
							</h3>
						</div>
						
						<div class="box-content nopadding">
							<h:form id="form1">
								<p:messages id="msg" />
								<p:contextMenu for="rdv">

									<p:menuitem value="#{msg.LISTERDV_MENUCONTEXT_OUVRIR}"
										icon="ui-icon-folder-open" oncomplete="dlgRendezvous.show()"
										update=":form-details:dialogrendezvous"
										actionListener="#{rendezVous.onSelectRV}" 
										action="#{rendezVous.listDiagnosticByRv}"/>


									<p:menuitem value="#{msg.LISTERDV_MENUCONTEXT_MODIFIER}"
										icon="ui-icon-pencil" oncomplete="dlg2.show()"
										update=":form-mod:display4"
										actionListener="#{rendezVous.onSelectRV}" />


									<p:menuitem value="#{msg.LISTERDV_MENUCONTEXT_ANNULER}"
										icon="ui-icon-cancel" oncomplete="dlg3.show()"
										update=":form-ann:display_"
										actionListener="#{rendezVous.onSelectRV}" />

									<p:menuitem value="Confirmer"
										icon="ui-icon-check" oncomplete="dlg6.show()"
										update=":form-conf:displayC" actionListener="#{rendezVous.onSelectRV}"
								    />

									

									<!-- <p:menuitem value="#{msg.LISTERDV_MENUCONTEXT_GENFACTURE}"
										icon="ui-icon-print" action="#{factureAction.genegerePDFPatient}" ajax="false"
										 />  -->

								</p:contextMenu>

								<p:dataTable id="rdv" value="#{lRendezvous}" var="rv" rows="10"
									rowKey="#{rv.id}" resizableColumns="true"
									emptyMessage="#{msg.RV_LISTE_VIDE}"
									selection="#{rendezVous.rvSelected}" selectionMode="single"
									paginator="true" paginatorPosition="bottom">


									<p:column id="num_rv"
										style="width:80px; white-space:nowrap; text-align: center"
										sortBy="#{rv.id}">
										<f:facet name="header">
											<h:outputText value="Numero RV" />
										</f:facet>
										<h:outputText id="output_NumRV" value="#{rv.id}"
											styleClass="datarow" />
									</p:column>
									<p:column id="num_doss"
										style="width:100px; white-space:nowrap; text-align: center"
										sortBy="#{rv.patient.numDossier}">
										<f:facet name="header">
											<h:outputText value="#{msg.patient_num_dossier}" />
										</f:facet>
										<h:outputText id="output_NumDoss"
											value="#{rv.patient.numDossier}" styleClass="datarow" />
									</p:column>
									
									<p:column id="prenom"
										style="text-align:center; width:300px; white-space:nowrap"
										sortBy="#{rv.patient.nom}">
										<f:facet name="header">
											<h:outputText value="#{msg.RV_PATIENT_NOM}" />
										</f:facet>
										<h:outputText id="output_Prenom" value="#{rv.patient.prenom} #{rv.patient.nom}"
											styleClass="datarow" />
									</p:column>

									<p:column id="dateRV"
										style="width:150px; white-space:nowrap; text-align: center"
										sortBy="#{rv.date}">
										<f:facet name="header">
											<h:outputText value="#{msg.RV_DATE_RDV}" />
										</f:facet>
										<h:outputText id="output_DRV" value="#{rv.date}"
											styleClass="datarow">
											<f:convertDateTime pattern="dd/MM/yyyy HH:mm" type="date" />
										</h:outputText>
									</p:column>


									<p:column id="motif"
										style="width:300px; white-space:nowrap; text-align: center"
										sortBy="#{rv.motif.libelle}">
										<f:facet name="header">
											<h:outputText value="#{msg.RV_MOTIF}" />
										</f:facet>
										<h:outputText id="output_Motif" value="#{rv.motif.libelle}"
											styleClass="datarow" />
									</p:column>

								</p:dataTable>

							</h:form>


							<h:form id="form-details">
								<!-- Fiche RV -->
								<ui:include src="ficheRendezvous.xhtml" />
							</h:form>

							<h:form id="form-details2">
								<!-- Fiche RV confirme-->
								<ui:include src="ficheRendezvousConf.xhtml" />
							</h:form>

							<h:form id="form-details3">
								<!-- Fiche RV annules-->
								<ui:include src="ficheRendezvousAnn.xhtml" />
							</h:form>

							<h:form id="form-mod">
								<!-- Modifier RV -->
								<ui:include src="modifier_rendez_vous.xhtml" />
							</h:form>

							<h:form id="form-nveau">
								<!-- Prise de RV -->
								<ui:include src="priseDeRendezvous.xhtml" />
							</h:form>

							<h:form id="idNveaurv">
								<ui:include src="nouveauRendezvous.xhtml" />
							</h:form>
							<!--  annuler rv -->
							<h:form id="form-ann">
								<ui:include src="deleteRendezvous.xhtml" />
							</h:form>

							<!--  confirmer rv -->
							<h:form id="form-conf">
								<ui:include src="confirmerRendezvous.xhtml" />
							</h:form>
						</div>
					</div>
				</div>
			</div>
			<br />
			<div class="form-actions">

				<h:form id="addRendezvous">

					<p:commandButton value="#{msg.RV_FIXER_RDV}" styleClass="btn btn-primary" oncomplete="dlgrendezvous.show()" update=":fnouveauRendezvous:dialogrendezvous" action="#{rendezVous.onSelectPatient}" />
				</h:form>
			</div>
			<h:form id="fnouveauRendezvous">
		<p:dialog id="dialogrendezvous" header="#{msg.prise_de_rendezvous}" widgetVar="dlgrendezvous" modal="true" maximizable="false" minimizable="false" resizable="false" footer="test" width="70%">
		<p:scrollPanel style="height:550px" mode="native"> 
			<div style="width :40%;float:left;">
				<fieldset class="ui-fieldset ui-widget ui-widget-content ui-corner-all ui-hidden-container fieldset"> 
					<legend class="ui-corner-all legend legend">#{msg.RENDEZ_VOUS_INFOPATIENT}</legend> 
						<div style="width :60%;float:left;">
						<h:panelGrid columns="6">
							<h:selectOneRadio id="noupat" value="#{rendezVous.newpat}" >  
					            <f:selectItem itemLabel="Nouveau" itemValue="1" />  
					            <f:selectItem itemLabel="Patient" itemValue="2" />  
					            <p:ajax process="@this" event="change" listener="#{rendezVous.newPatientSelected}" update=":fnouveauRendezvous:pinfopatient"/>
				        	</h:selectOneRadio>
			        	</h:panelGrid> 
					    </div>
						 <div style="width :40%;float:left;">
						    <div class="text-right">
								<h:commandLink value="Recherher" style="color :#004B8D;">
									<p:ajax oncomplete="dlgpatient.show()" update=":patsel:dialogpatient"/>
								</h:commandLink>
							</div>
						 </div>
					    <h:panelGrid columns="4" cellpadding="7" rowClasses="ui-widget-content ui-datatable-odd,ui-widget-content ui-datatable-even" style="width :100%;" id="pinfopatient">  
					       <label for="textfield" class="control-label">#{msg.NOUVEAU_PATIENT_NOM}</label>
					       <h:outputText value="#{rendezVous.patientSelectioner.nom}" rendered="#{rendezVous.patientSelectioner.nom != NULL}"/>
					       <h:inputText id ="nompa" value="#{rendezVous.patientSelectioner.nom}" rendered="#{rendezVous.patientSelectioner.nom == NULL}" required="true" style="#{component.valid ? 'border-color :#CCCCCC;' : 'border-color :#CD0A0A;'};width:100%"/>
					       <p:message for="nompa" display="icon" /> 
						   <p:watermark value="Nom du patient" for="nompa" />
					       <label for="textfield" class="control-label">#{msg.NOUVEAU_PATIENT_PRENOM}</label>
					       <h:outputText value="#{rendezVous.patientSelectioner.prenom}" rendered="#{rendezVous.patientSelectioner.prenom != NULL}"/>
					       <h:inputText id="prenompa" required="true" value="#{rendezVous.patientSelectioner.prenom}" rendered="#{rendezVous.patientSelectioner.prenom == NULL}" style="#{component.valid ? 'border-color :#CCCCCC;' : 'border-color :#CD0A0A;'};width:100%"/>
					       <p:message for="prenompa" display="icon" /> 
						   <p:watermark value="Prenom du patient" for="prenompa" />
					       <label for="textfield" class="control-label">#{msg.NOUVEAU_PATIENT_TELEPHONE}</label>
					       <h:outputText value="#{rendezVous.patientSelectioner.telephonePatient}" rendered="#{rendezVous.patientSelectioner.telephonePatient != NULL}"/>
					       <h:inputText id="telpa" required="true" value="#{rendezVous.patientSelectioner.telephonePatient}" rendered="#{rendezVous.patientSelectioner.telephonePatient == NULL}" style="#{component.valid ? 'border-color :#CCCCCC;' : 'border-color :#CD0A0A;'};width:100%" />
					       <p:message for="telpa" display="icon" /> 
						   <p:watermark value="Telephone du patient" for="telpa" />
					       <label for="textfield" class="control-label">#{msg.NOUVEAU_PATIENT_EMAIL}</label>
					       <h:outputText value="#{rendezVous.patientSelectioner.email}" rendered="#{rendezVous.patientSelectioner.email != NULL}" />
					       <h:inputText id="emailpa" required="true" value="#{rendezVous.patientSelectioner.email}" rendered="#{rendezVous.patientSelectioner.email == NULL}" style="#{component.valid ? 'border-color :#CCCCCC;' : 'border-color :#CD0A0A;'};width:100%"/>
					       <p:message for="emailpa" display="icon" /> 
						   <p:watermark value="Email du patient" for="emailpa" />
					       <label class="control-label">#{msg.NOUVEAU_PATIENT_SEXE}</label>
					       <h:panelGrid columns="5">
					       <h:outputText value="#{(rendezVous.patientSelectioner.sexe!=NULL and rendezVous.patientSelectioner.sexe == 1) ? 'Feminin' : 'Masculin' }" rendered="#{rendezVous.patientSelectioner.sexe != NULL}"/>
					       <h:selectOneRadio id="sexe"  value="#{rendezVous.patientSelectioner.sexe}" rendered="#{rendezVous.patientSelectioner.sexe == NULL}"
														requiredMessage="Le champs sexe est requis" required="true" validatorMessage="Le champs sexe est requis">  
											            <f:selectItem itemLabel="Feminin" itemValue="1" />  
											            <f:selectItem itemLabel="Masculin" itemValue="2" />  
											        	</h:selectOneRadio>
							<p:message for="sexe" display="icon" /> 
											        	
							</h:panelGrid>
					    </h:panelGrid>  
				</fieldset>
				<fieldset class="ui-fieldset ui-widget ui-widget-content ui-corner-all ui-hidden-container fieldset"> 
				<legend class="ui-corner-all legend legend">#{msg.RENDEZ_VOUS_INFOPARTCULIERE}</legend>
				<p:dataList value="#{rendezVous.listeExamensTypeRv.target}" var="infopart" itemType="disc" emptyMessage="Aucune Information particuliere" id="pinfo">  
				    #{infopart.indication} 
				</p:dataList>
				</fieldset>
				<h:panelGrid columns="4">
					<p:selectBooleanCheckbox value="#{rendezVousBean.rappelrendezvous}"  />
					<h:outputText value="Rappel sms RV" />
					<p:selectBooleanCheckbox value="#{rendezVousBean.rappelexamen}" />
					<h:outputText value="Rappel sms resulats" />  
				</h:panelGrid>
				<h6 style="color :red;">(SMS facture a 100 FCFA)</h6>
			</div>
			<div style="width :60%;float:left;">
				<fieldset class="ui-fieldset ui-widget ui-widget-content ui-corner-all ui-hidden-container fieldset"> 
				<legend class="ui-corner-all legend legend">#{msg.RV_INFO}</legend>
				    <h:panelGrid columns="4">
				    	<h:outputText value="#{msg.RENDEZ_VOUS_DATE} :" />
						<p:calendar  id="dateRv" value="#{rendezVousBean.date}"
								style="#{component.valid ? 'border-color :#CCCCCC;' : 'border-color :#CD0A0A;'};width:100%;font-weight:bold"
								pattern="MM/dd/yyyy HH:mm" styleClass="input-xlarge dateTimeField" required="true"
								validatorMessage="La date n'est pas valide"
								requiredMessage="La date est requise"/>
						<p:message for="dateRv" display="icon"/> 
						<p:watermark value="Date de rendez-vous" for="dateRv" />
				    	<h:outputText value="#{msg.RENDEZ_VOUS_SERVICE} :" />
						<p:selectOneMenu id="idservice" value="#{rendezVousBean.service.id}" required="true" valueChangeListener="#{rendezVous.chargergroupeExam}">
						  					<f:selectItem itemLabel="Selectionnez un service" itemValue=""	noSelectionOption="true" />
											<f:selectItems id="serv" value="#{rendezVous.services}" itemLabel="#{b.key}" itemValue="#{b.value}" var="b" />
											<p:ajax  event="change" update="tabgroupeExam"  /> 
						</p:selectOneMenu> 
						<p:message for="idservice" display="icon"/>
				    </h:panelGrid>
				    <br />
				    <h:panelGrid columns="8" style="width :100%" id="tabgroupeExam" styleClass="ui-datalist-content ui-widget-content">
				    <c:if test="#{rendezVous.groupeExam == NULL}">
				    	<h6 style="color :red;">Pas de groupe d'examen disponible.</h6>
				    </c:if>
				    <c:if test="#{rendezVous.groupeExam.size()==0}">
				    	<h6 style="color :red;">Aucun groupe d'examen disponible pour ce service.</h6>
				    </c:if>
				     	<c:forEach var="groupeExams" items="#{rendezVous.groupeExam}">
				     		<p:selectBooleanCheckbox label="#{groupeExams.libelle}"  id="#{groupeExams.libelle}">
				     			<p:ajax update="examensPickList" listener="#{rendezVous.ongroupeSelectionner}"/>
				     		</p:selectBooleanCheckbox>
				     		<h:outputText value="#{groupeExams.libelle}" />
				     	</c:forEach>
				    </h:panelGrid>
				    <br />
				    <p:pickList id="examensPickList"
							value="#{rendezVous.listeExamensTypeRv}" var="examen"
							effect="bounce" itemValue="#{examen}"
							converter="examenConverter" itemLabel="#{examen.libelle}"
							showCheckbox="true" showSourceFilter="true"
							showTargetFilter="true" filterMatchMode="contains" >
							<p:ajax event="transfer" listener="#{rendezVous.onchoixExamen}" update="pinfo,tabexamen" />
							<f:facet name="sourceCaption">
								<h:outputText
									value="#{msg.consultation_examens_disponibles}" />
							</f:facet>
							<f:facet name="targetCaption">
								<h:outputText value="#{msg.consultation_examens_choisis}" />
							</f:facet>
							<p:column>
								<h:outputText
									value="#{examen.libelle}(#{examen.groupeExamen.libelle})" />
							</p:column>
						</p:pickList>  
				</fieldset>
			</div>
			<br/><h:form id="lpinfo">
			<div class="form-actions text-right">
			<h:commandLink value="Plus d'infos" action="#{rendezVous.AfficherPlusInfos}" rendered="#{!rendezVous.plusInfos}" style="color :#004B8D;">
				<p:ajax update=":fnouveauRendezvous:tabexamen1,:fnouveauRendezvous:lpinfo1,:fnouveauRendezvous:lpinfo" listener="#{rendezVous.AfficherPlusInfos}"/>
			</h:commandLink>
			</div>
			</h:form>
			<div style="width :100%;float:left;">
			<h:panelGrid id="tabexamen1" layout="block" style="width :100%;align :center;">
				<h:panelGroup id="tabexamen" layout="block" style="width :100%;align :center;" rendered="#{rendezVous.plusInfos}">
										<p:dataTable value="#{rendezVous.diagnosticsDataModel}"
											var="diagnostic" id="listeExamensSelectionnes"
											styleClass="table-striped" emptyMessage="La liste des examens est vide.">
											<p:column headerText="#{msg.consultation_examen}">
												<h:outputText
													value="#{diagnostic.examen.libelle}" />
											</p:column>
											<p:column headerText="#{msg.consultation_date}">
												<p:calendar value="#{diagnostic.date}"
													pattern="MM/dd/yyyy HH:mm" navigator="true" lang="fr"
													locale="fr" requiredMessage="Le champ Date est requis" />
											</p:column>
											<p:column headerText="#{msg.consultation_medecin}">
												<p:selectOneMenu value="#{diagnostic.medecin.id}" required="true" id="#{diagnostic.examen.libelle}#{'_med'}">
													<f:selectItem itemLabel="Choisissez" itemValue="0"
														noSelectionOption="true" />
													<f:selectItems
														value="#{diagnosticAction.listeMedecinsRadiologie}"
														var="medecin"
														itemLabel="#{medecin.utilisateur.prenom} #{medecin.utilisateur.nom}"
														itemValue="#{medecin.id}" />
												</p:selectOneMenu>
												<p:spacer width="20" height="10" />
											</p:column>
											<p:column headerText="#{msg.consultation_salle}">
												<p:selectOneMenu value="#{diagnostic.salle.id}" required="true">
													<f:selectItem itemLabel="Choisissez" itemValue="0"
														noSelectionOption="true" />
													<f:selectItems
														value="#{diagnosticAction.listeSallesRadiologie}"
														var="salle" itemLabel="#{salle.nom}"
														itemValue="#{salle.id}" />
												</p:selectOneMenu>
												<p:spacer width="20" height="10" />
											</p:column>
										</p:dataTable>
									</h:panelGroup>
				</h:panelGrid>
				<div class="form-actions text-right">
				<h:form id="lpinfo1">
					<h:commandLink value="Moins d'infos" action="#{rendezVous.AfficherMoinsInfos}" rendered="#{rendezVous.plusInfos}" style="color :#004B8D;">
						<p:ajax update=":fnouveauRendezvous:tabexamen1,:fnouveauRendezvous:lpinfo,:fnouveauRendezvous:lpinfo1"/>
					</h:commandLink>
				</h:form>
				</div>
			</div>
			</p:scrollPanel>
			<f:facet name="footer"> 
				<div class="form-actions text-right">
					<p:commandButton styleClass="btn btn-primary" 
					value="#{msg.NOUVEAU_PATIENT_BT_Enregister}"
					oncomplete="handleLoginRequest(xhr,status,args)" 
					action="#{rendezVous.enregistrerRendeVous}"
					update=":fnouveauRendezvous"/>
						&nbsp;&nbsp;&nbsp;
					<p:commandButton styleClass="btn" value="#{msg.NOUVEAU_PATIENT_BT_ANNULER}" onclick="dlgrendezvous.hide();" />
				</div>
			</f:facet>
			</p:dialog>
			</h:form>
			<h:form id="patsel">
								<p:growl id="growl" showDetail="false" life="10000" />
								<p:messages id="msg" />
								<p:dialog id="dialogpatient" header="Liste des Patients" widgetVar="dlgpatient" modal="true" maximizable="false" minimizable="false" resizable="false" width="55%">
									<p:dataTable id="pat" var="patient" value="#{listepatient}"
										rowKey="#{patient.id}" paginator="true" rows="10"
										selection="#{patientAction.patientSelectioner}"
										filteredValue="#{filtrelistepatient}" selectionMode="single"
										paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
										rowsPerPageTemplate="5,10,15" paginatorPosition="bottom">
										<p:ajax event="rowDblselect" update=":fnouveauRendezvous:pinfopatient" oncomplete="dlgpatient.hide()"/>
										<f:facet name="header">
            	Liste patient
       			</f:facet>
										<p:column filterBy="#{patient.id}" sortBy="#{patient.id}">
											<f:facet name="header">#{msg.patient_num_dossier}</f:facet>
		           	 #{patient.id}
		        </p:column>
										<p:column filterBy="#{patient.nom}" sortBy="#{patient.nom}">
											<f:facet name="header">#{msg.patient_nom}</f:facet>
		             #{patient.nom}
		        </p:column>
										<p:column filterBy="#{patient.prenom}"
											sortBy="#{patient.prenom}">
											<f:facet name="header">#{msg.patient_prenom}</f:facet>
		             #{patient.prenom}
		        </p:column>
										<p:column filterBy="#{patient.dateNissance}"
											sortBy="#{patient.dateNissance}">
											<f:facet name="header"> #{msg.patient_dateNaissance}</f:facet>
											<h:outputText value=" #{patient.dateNissance}">
												<f:convertDateTime pattern="dd/MM/yyyy HH:mm" type="date" />
											</h:outputText>
										</p:column>
										<p:column>
											<f:facet name="header">#{msg.listepatient_profil}</f:facet>
		             #{patient.beneficiaire.id == NULL ? 'Particulier' : 'Assure'}
		        </p:column>
										<p:column>
											<f:facet name="header">#{msg.listepatient_client}</f:facet>
		             #{patient.beneficiaire.id == NULL ? '...' : patient.beneficiaire.clientTaux.client.designation}
		        </p:column>
									</p:dataTable>
								</p:dialog>
								</h:form>
								<script type="text/javascript">  
				 //<![CDATA[ 
				    function handleLoginRequest(xhr, status, args) {
				        if(args.validationFailed){   
				        	document.getElementById("fnouveauRendezvous:dateRv_input").className = "ui-inputfield ui-widget ui-state-default ui-corner-all hasDatepicker";
				        	document.getElementsByClassName = function(className, elmt)
						    {
						    	   var selection = new Array();
						    	   var regex = new RegExp("\\b" + className + "\\b");
						    	 
						    	   // le second argument, facultatif
						    	   if(!elmt)
						    	      elmt = document;
						    	   else if(typeof elmt == "string")
						    	      elmt = document.getElementById(elmt);
						    	    
						    	   // on sélectionne les éléments ayant la bonne classe
						    	   var elmts = elmt.getElementsByTagName("*");
						    	   for(var i=0; i<elmts.length; i++)
						    	      if(regex.test(elmts[i].className))
						    	         selection.push(elmts[i]);
						    	   return selection;
						    }
				        	var doc=document.getElementsByClassName('hasDatepicker','fnouveauRendezvous');
					    	for(var i=0; i<doc.length; i++){
					    		$(doc[i]).removeClass('ui-state-error');
					    	}
				        	dlgrendezvous.show();
				        }
				    }
				  //]]>  
				</script>
		</div>
	</ui:define>
</ui:composition>
