<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:s="http://jboss.org/schema/seam/taglib"
	template="../template/template.xhtml">
	
    <ui:define name="title-liste-rendezvousannule"><title>SEYSOO--MEDICIS--Rendez-vous annulés</title></ui:define>	
	<ui:define name="body">
		<div class="breadcrumbs">
			<ul>
				<li><s:link view="/patient/home.seam">Accueil</s:link> <i
					class="icon-angle-right"></i></li>
			</ul>
			<div class="close-bread">
				<a href="#"><i class="icon-remove"></i></a>
			</div>
		</div>

		<div class="container-fluid">
			<h:form id="formPeriodrvc">
			    <div align="right">
					<h:panelGrid id="period" columns="9">
					
							   <h:outputText value="Date début " />
							   <p:calendar  id="datedeb" value="#{rendezVous.dateDebRva}" 
													style="#{component.valid ? 'border-color :#CCCCCC;' : 'border-color :#CD0A0A;'};width:100%;font-weight:bold"
													pattern="dd/MM/yyyy" styleClass="input-xlarge" required="true" 
													validatorMessage="La date de debut n'est pas valide"
													requiredMessage="La date de debut est requise"/>
													<p:watermark value="Date de debut" for="datedeb" />
							   						<p:spacer width="60" height="0" /> 
							   
							   
							   <h:outputText value="Date fin " />
							   <p:calendar  id="datefin" value="#{rendezVous.dateFinRva}" 
													style="#{component.valid ? 'border-color :#CCCCCC;' : 'border-color :#CD0A0A;'};width:100%;font-weight:bold"
													pattern="dd/MM/yyyy" styleClass="input-xlarge" required="true" 
													validatorMessage="La date de fin n'est pas valide"
													requiredMessage="La date de fin est requise"/>
													<p:watermark value="Date fin" for="datefin" />							   
													<p:spacer width="10" height="0" /> 
							   <p:commandButton value="Afficher" action="#{rendezVous.getRendezvousAnnules}" update=":form3:rdvann" styleClass="btn btn-primary"/>
					</h:panelGrid>
			  </div>
		   </h:form>
			
			
			<div class="row-fluid">
				<div class="span12">
					<div class="box box-color box-bordered">
						<div class="box-title">
							<h3>
								<i class="icon-table"></i> Rendez-vous annulé(s)
							</h3>
						</div>
						<div class="box-content nopadding">

							<h:form id="form3">
								<p:messages id="msg" />
								<p:contextMenu for="rdvann">


								 <p:menuitem value="Voir fiche RV" icon="ui-icon-folder-open" oncomplete="dlgRendezvous3.show()"
										update=":form-details3:dialogrendezvous3"
										actionListener="#{rendezVous.onSelectRVannule()}" 
										action="#{rendezVous.listDiagnosticByRv}" /> 
								  
								 <p:menuitem 
								       value="Reprogrammer" 
								       icon="ui-icon-folder-open" 
								       update=":form-reprogrammerrv:dialogRe" 
								       oncomplete="dlgRepro.show()"  
								       actionListener="#{rendezVous.onSelectRVannule}" 
								       />  
								 
								 <!-- <p:menuitem value="#{msg.LISTERDV_MENUCONTEXT_ANNULER}"
										icon="ui-icon-cancel" oncomplete="dlg3.show()"
										update=":form-ann:display_"
										actionListener="#{rendezVous.onSelectRV}" /> -->
								</p:contextMenu>

								<p:dataTable id="rdvann" value="#{lRendezvousAnnule}" var="rv" rows="10"
									rowKey="#{rv.id}" resizableColumns="true"
									emptyMessage="#{msg.RV_LISTE_VIDE}"
									selection="#{rendezVous.selectedRvannule}" selectionMode="single"
									paginator="true" paginatorPosition="bottom">


									<p:column id="num_rv"
										style="width:80px; white-space:nowrap; text-align: center"
										sortBy="#{rv.id}">
										<f:facet name="header">
											<h:outputText value="N° RV" />
										</f:facet>
										<h:outputText id="output_NumRV" value="#{rv.id}"
											styleClass="datarow" />
									</p:column>
									<p:column id="num_doss"
										style="width:100px; white-space:nowrap; text-align: center"
										sortBy="#{rv.patient.numDossier}">
										<f:facet name="header">
											<h:outputText value="#{msg.patient_num_dossier}" />
										</f:facet>
										<h:outputText id="output_NumDoss"
											value="#{rv.patient.numDossier}" styleClass="datarow" />
									</p:column>
									<!-- <p:column id="prenom"
										style="text-align:center; width:300px; white-space:nowrap"
										sortBy="#{rv.patient.prenom}">
										<f:facet name="header">
											<h:outputText value="#{msg.RV_PATIENT_PRENOM}" />
										</f:facet>
										<h:outputText id="output_Prenom" value="#{rv.patient.prenom}"
											styleClass="datarow" />
									</p:column> -->
									<p:column id="nom"
										style="width:200px; white-space:nowrap; text-align: center"
										sortBy="#{rv.patient.nom}">
										<f:facet name="header">
											<h:outputText value="#{msg.RV_PATIENT_NOM}" />
										</f:facet>
										<h:outputText id="output_Nom" value="#{rv.patient.prenom} #{rv.patient.nom}"
											styleClass="datarow" />
									</p:column>

									<p:column id="dateRV"
										style="width:150px; white-space:nowrap; text-align: center"
										sortBy="#{rv.date}">
										<f:facet name="header">
											<h:outputText value="#{msg.RV_DATE_RDV}" />
										</f:facet>
										<h:outputText id="output_DRV" value="#{rv.date}"
											styleClass="datarow">
											<f:convertDateTime pattern="dd/MM/yyyy HH:mm" type="date" />
										</h:outputText>
									</p:column>

									<p:column id="heureRV"
										style="width:120px; white-space:nowrap; text-align: center"
										sortBy="#{rv.heure}">
										<f:facet name="header">
											<h:outputText value="#{msg.RV_HEURE}" />
										</f:facet>
										<h:outputText id="output_HRV" value="#{rv.heure}"
											styleClass="datarow" />
									</p:column>

									<p:column id="motif"
										style="width:300px; white-space:nowrap; text-align: center"
										sortBy="#{rv.motif.libelle}">
										<f:facet name="header">
											<h:outputText value="#{msg.RV_MOTIF}" />
										</f:facet>
										<h:outputText id="output_Motif" value="#{rv.motif.libelle}"
											styleClass="datarow" />
									</p:column>

								</p:dataTable>

							</h:form>
							
							<h:form id="form-reprogrammerrv">
								<ui:include src="reprogrammerrv.xhtml" />
							</h:form>

							
							<h:form id="form-details3">
								<!-- Visualiser RV annulé -->
								<ui:include src="ficheRendezvousAnn.xhtml" />
							</h:form>
							

						</div>
					</div>
				</div>
			</div>
			<br />
			<div class="form-actions">

				<h:form id="rendezvou">
					<s:link view="/rendezvous/listeRendezVous.seam" value="Retour sur la liste des rendez-vous" styleClass="btn btn-primary" />
				</h:form>
				
				
				<!-- <a href="page_newpatient.html" class="btn btn-primary">#{msg.RV_FIXER_RDV}</a> -->
				<!-- <h:form id="testForm1">
					<h:commandButton action="#{factureService.insererBanq}" value="test" /> 
				</h:form> -->
				
				<h:form id="testForm1">
					<!-- <h:commandButton action="#{FactureService.save_FactureClient()}" value="test Insere" /> -->
					<!-- <h:commandButton action="#{factureService.testEnvoiMail}" value="test email" />  -->
				</h:form>

			</div>
		</div>

	</ui:define>
</ui:composition>
