<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:s="http://jboss.org/schema/seam/taglib"
	xmlns:f="http://java.sun.com/jsf/core">
	
			<p:ajaxStatus onstart="statusDialog.show();" onsuccess="statusDialog.hide();"/>  
			              
			<p:dialog modal="true" widgetVar="statusDialog" header="Veuillez patientez .."  draggable="false" closable="false" width="350">  
			    <p:graphicImage value="/img/loading2.gif" />  
			</p:dialog>
			 	
   
	
	<p:dialog header="#{msg.RENDEZ_VOUS_MODIFIER}" resizable="false"
		width="800" showEffect="clip" hideEffect="fold" id="dialog7"
		styleClass="icon-table" widgetVar="dlg2">

		<h:panelGrid id="display4" columns="2" cellpadding="4">

			<p:panel header="#{msg.RENDEZ_VOUS_INFOPATIENT}" toggleable="true" rendered="#{rendezVous.rvSelected != null}"
				toggleOrientation="horizontal" toggleSpeed="375">

				<h:panelGrid id="display5" columns="5" cellpadding="4">

					<h:outputText value="#{msg.RV_PATIENT_NOM}:" />
					<h:inputText id="nom" value="#{rendezVous.rvSelected.patient.nom}"
						style="font-weight:bold" />
													            
													            &#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;
													            &#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;
														        <h:outputText value="Sexe: " />
					<p:selectOneRadio id="sexe"
						value="#{rendezVous.rvSelected.patient.sexe}">
						<f:selectItem itemLabel="M" itemValue="M" />
						<f:selectItem itemLabel="F" itemValue="F" />
					</p:selectOneRadio>

					<h:outputText value="#{msg.RV_PATIENT_PRENOM}:" />
					<h:inputText id="prenom"
						value="#{rendezVous.rvSelected.patient.prenom}"
						style="font-weight:bold" />
													            
													            &#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;
													            &#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;
													             
					<h:outputText value="#{msg.RENDEZ_VOUS_TEL} :" />
					<h:inputText id="tel"
						value="#{rendezVous.rvSelected.patient.telephonePatient}"
						style="font-weight:bold" />


					<h:outputText value="#{msg.RENDEZ_VOUS_DATENAIS} :" />
					<!-- <h:inputText id="datenais" value="#{rendezVous.rvSelected.patient.dateNissance}" style="font-weight:bold">
													               <f:convertDateTime  pattern="dd/MM/yyyy"  type="date"/>
													            </h:inputText>  -->
					<p:calendar id="datenais"
						value="#{rendezVous.rvSelected.patient.dateNissance}"
						pattern="dd/MM/yyyy" />
													            
													            &#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;
													            &#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;
													             
					<h:outputText value="#{msg.NOUVEAU_PATIENT_EMAIL}" />
					<h:inputText id="email"
						value="#{rendezVous.rvSelected.patient.email}"
						style="font-weight:bold" />



				</h:panelGrid>

			</p:panel>
			<br />
			<p:panel header="Rendez-vous" toggleable="true"  rendered="#{rendezVous.rvSelected != null}"
				toggleOrientation="horizontal" toggleSpeed="275">

				<h:panelGrid id="display8" columns="5" cellpadding="4">

					<h:outputText value="Date :" />
					<p:calendar id="dateRV" value="#{rendezVous.rvSelected.date}"
						pattern="dd/MM/yyyy" />
													            
													            &#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;
													            &#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;
													             
					<h:outputText value="#{msg.RENDEZ_VOUS_HEUREDEB} :" />
					<h:inputText id="heureDeb" value="#{rendezVous.rvSelected.heure}"
						style="font-weight:bold" />


					<h:outputText value="#{msg.RV_MOTIF} :" />
					<h:inputText id="motif"
						value="#{rendezVous.rvSelected.motif.libelle}"
						style="font-weight:bold" />
													            
													            &#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;
													            &#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;
													             
					<h:outputText value="#{msg.RENDEZ_VOUS_SERVICE} :" />
					<h:inputText id="service"
						value="#{rendezVous.rvSelected.motif.service.libelle}" style="font-weight:bold" />

				</h:panelGrid>

			</p:panel>
			
		</h:panelGrid>
		
		<br />
       <h:panelGrid id="modif1" columns="2">
		<h:commandButton value="Enregistrer" styleClass="btn btn-primary"	action="#{rendezVous.saveAndmodifyRV}" />
		<h:commandButton value="Annuler" styleClass="btn btn-primary" type="button" onclick="dlg2.hide()" />
		

		</h:panelGrid>
	</p:dialog>

</ui:composition>