<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:s="http://jboss.org/schema/seam/taglib"
	template="../template/template.xhtml">
	  
<ui:define name="title-liste-patients"><title>Nouveau Rendez-vous</title></ui:define>	
	<ui:define name="body">
		<div class="breadcrumbs">
			<ul>
				<li><s:link view="/patient/home.seam">Accueil</s:link><i class="icon-angle-right"></i></li>
			</ul>
		</div>

		<div class="container-fluid">
			<div class="row-fluid">
				<div class="span12">
					<div class="box box-color box-bordered">
						<div class="box-title">
							<h3 style="align: center;">
								<i class="icon-table"></i>#{msg.prise_de_rendezvous}
							</h3>
						</div>
						<div class="box-content nopadding">
			<h:form id="fnewRendezvous">
				<div style="width :40%;float:left;">
				<fieldset class="ui-fieldset ui-widget ui-widget-content ui-corner-all ui-hidden-container fieldset"> 
					<legend class="ui-corner-all legend legend">#{msg.RENDEZ_VOUS_INFOPATIENT}</legend>
					<div style="width :60%;float:left;">
					<h:panelGrid columns="6">
						<p:selectOneRadio id="noupat" value="#{rendezVous.newpat}" layout="custom" >  
				            <f:selectItem itemLabel="Nouveau" itemValue="1" />  
				            <f:selectItem itemLabel="Patient" itemValue="2" />  
				            <p:ajax process="@this" event="change" listener="#{rendezVous.newPatientSelected}" update=":fnewRendezvous:pinfopatient"/>
			        	</p:selectOneRadio>
			        	<p:radioButton id="opt1n" for="noupat" itemIndex="0" />
			        	<h:outputLabel for="opt1n" value="Nouveau" />
			        	<p:radioButton id="opt2n" for="noupat" itemIndex="1"/>
			        	<h:outputLabel for="opt2n" value="Patient" />
		        	</h:panelGrid> 
				    </div>
				    <div style="width :40%;float:left;">
				    <div class="text-right">
						<h:commandLink value="Recherher" style="color :#004B8D;">
							<p:ajax oncomplete="dlgrendezvous.show()" update=":patsel:dialogrendezvous"/>
						</h:commandLink>
					</div>
					</div>
					    <h:panelGrid columns="4" cellpadding="10" rowClasses="ui-widget-content ui-datatable-odd,ui-widget-content ui-datatable-even" style="width :100%;" id="pinfopatient">  
					       <label for="textfield" class="control-label">#{msg.NOUVEAU_PATIENT_NOM}</label>
					       <h:outputText value="#{rendezVous.patientSelectioner.nom}" rendered="#{rendezVous.patientSelectioner.nom != NULL}"/>
					       <h:inputText value="#{rendezVous.patientSelectioner.nom}" rendered="#{rendezVous.patientSelectioner.nom == NULL}" />
					       <label for="textfield" class="control-label">#{msg.NOUVEAU_PATIENT_TELEPHONE}</label>
					       <h:outputText value="#{rendezVous.patientSelectioner.telephonePatient}" rendered="#{rendezVous.patientSelectioner.telephonePatient != NULL}"/>
					       <h:inputText value="#{rendezVous.patientSelectioner.telephonePatient}" rendered="#{rendezVous.patientSelectioner.telephonePatient == NULL}" />
					       <label for="textfield" class="control-label">#{msg.NOUVEAU_PATIENT_PRENOM}</label>
					       <h:outputText value="#{rendezVous.patientSelectioner.prenom}" rendered="#{rendezVous.patientSelectioner.prenom != NULL}"/>
					       <h:inputText value="#{rendezVous.patientSelectioner.prenom}" rendered="#{rendezVous.patientSelectioner.prenom == NULL}" />
					       <label for="textfield" class="control-label">#{msg.NOUVEAU_PATIENT_EMAIL}</label>
					       <h:outputText value="#{rendezVous.patientSelectioner.email}" rendered="#{rendezVous.patientSelectioner.email != NULL}" />
					       <h:inputText value="#{rendezVous.patientSelectioner.email}" rendered="#{rendezVous.patientSelectioner.email == NULL}" />
					       <label class="control-label">#{msg.NOUVEAU_PATIENT_SEXE}</label>
					       <h:panelGrid columns="5">
					       <h:outputText value="#{(rendezVous.patientSelectioner.sexe!=NULL and rendezVous.patientSelectioner.sexe == 1) ? 'Feminin' : 'Masculin' }" rendered="#{rendezVous.patientSelectioner.sexe != NULL}"/>
					       <p:selectOneRadio id="sexe" value="#{rendezVous.patientSelectioner.sexe}" rendered="#{rendezVous.patientSelectioner.sexe == NULL}"
														requiredMessage="Le champs sexe est requis" required="true" layout="custom" validatorMessage="Le champs sexe est requis">  
											            <f:selectItem itemLabel="Feminin" itemValue="1" />  
											            <f:selectItem itemLabel="Masculin" itemValue="2" />  
											        	</p:selectOneRadio>
											        	<p:radioButton id="opt1" for="sexe" itemIndex="0" />
											        	<h:outputLabel for="opt1" value="Feminin" />
											        	<p:radioButton id="opt2" for="sexe" itemIndex="1"/>
											        	<h:outputLabel for="opt2" value="Masculin" />
							</h:panelGrid>
					    </h:panelGrid>  
				</fieldset>
				<fieldset class="ui-fieldset ui-widget ui-widget-content ui-corner-all ui-hidden-container fieldset"> 
				<legend class="ui-corner-all legend legend">#{msg.RENDEZ_VOUS_INFOPARTCULIERE}</legend>
				<p:dataList value="#{rendezVous.listeExamensTypeRv.target}" var="infopart" itemType="disc" emptyMessage="Aucune Information particuliére" id="pinfo">  
				    #{infopart.indication} 
				</p:dataList>
				</fieldset>
				<h:panelGrid columns="4">
					<p:selectBooleanCheckbox value="#{rendezVousBean.rappelrendezvous}"  />
					<h:outputText value="Rappel sms RV" />
					<p:selectBooleanCheckbox value="#{rendezVousBean.rappelexamen}" />
					<h:outputText value="Rappel sms résulats" />  
				</h:panelGrid>
				<h6 style="color :red;">(SMS facturé à 100 FCFA)</h6>
			</div>
			<div style="width :60%;float:left;">
				<fieldset class="ui-fieldset ui-widget ui-widget-content ui-corner-all ui-hidden-container fieldset"> 
				<legend class="ui-corner-all legend legend">#{msg.RV_INFO}</legend>
				    <h:panelGrid columns="4" id="tabdateservice">
				    	<h:outputText value="#{msg.RENDEZ_VOUS_DATE} :" />
						<p:calendar  id="dateRv" value="#{rendezVousBean.date}"
								style="#{component.valid ? 'border-color :#CCCCCC;' : 'border-color :#CD0A0A;'};width:100%;font-weight:bold"
								pattern="MM/dd/yyyy HH:mm" styleClass="input-xlarge dateTimeField" required="true"
								validatorMessage="La date n'est pas valide"
								requiredMessage="La date est requise"/>
						<p:message for="dateRv" display="icon"/> 
						<p:watermark value="Date de rendez-vous" for="dateRv" />
				    	<h:outputText value="#{msg.RENDEZ_VOUS_SERVICE} :" />
						<p:selectOneMenu id="idservice" value="#{rendezVousBean.service.id}" required="true" valueChangeListener="#{rendezVous.chargergroupeExam}">
						  					<f:selectItem itemLabel="Selectionnez un service" itemValue=""	noSelectionOption="true" />
											<f:selectItems id="serv" value="#{rendezVous.services}" itemLabel="#{b.key}" itemValue="#{b.value}" var="b" />
											<p:ajax  event="change" update="tabgroupeExam"  /> 
						</p:selectOneMenu>
						<p:message for="idservice" display="icon"/>
				    </h:panelGrid>
				    <br />
				    <h:panelGrid columns="8" style="width :100%" id="tabgroupeExam" styleClass="ui-datalist-content ui-widget-content">
				    <c:if test="#{rendezVous.groupeExam == NULL}">
				    	<h6 style="color :red;">Pas de groupe d'examen disponible.</h6>
				    </c:if>
				    <c:if test="#{rendezVous.groupeExam.size()==0}">
				    	<h6 style="color :red;">Aucun groupe d'examen disponible pour ce service.</h6>
				    </c:if>
				     	<c:forEach var="groupeExams" items="#{rendezVous.groupeExam}">
				     		<p:selectBooleanCheckbox label="#{groupeExams.libelle}"  id="#{groupeExams.libelle}">
				     			<p:ajax update="examensPickList" listener="#{rendezVous.ongroupeSelectionner}"/>
				     		</p:selectBooleanCheckbox>
				     		<h:outputText value="#{groupeExams.libelle}" />
				     	</c:forEach>
				    </h:panelGrid>
				    <br />
				    <p:pickList id="examensPickList"
							value="#{rendezVous.listeExamensTypeRv}" var="examen"
							effect="bounce" itemValue="#{examen}"
							converter="examenConverter" itemLabel="#{examen.libelle}"
							showCheckbox="true" showSourceFilter="true"
							showTargetFilter="true" filterMatchMode="contains" >
							<p:ajax event="transfer" listener="#{rendezVous.onchoixExamen}" update="pinfo,tabexamen" />
							<f:facet name="sourceCaption">
								<h:outputText
									value="#{msg.consultation_examens_disponibles}" />
							</f:facet>
							<f:facet name="targetCaption">
								<h:outputText value="#{msg.consultation_examens_choisis}" />
							</f:facet>
							<p:column>
								<h:outputText
									value="#{examen.libelle}(#{examen.groupeExamen.libelle})" />
							</p:column>
						</p:pickList>  
				</fieldset>
			</div>
			<br/>
			<h:form id="lpinfo">
			<div class="form-actions text-right">
			<h:commandLink value="Plus d'infos" action="#{rendezVous.AfficherPlusInfos}" rendered="#{!rendezVous.plusInfos}" style="color :#004B8D;">
				<p:ajax update=":fnewRendezvous:tabexamen1,:fnewRendezvous:lpinfo,:fnewRendezvous:lpinfo1"/>
			</h:commandLink>
			</div>
			</h:form>
			<div style="width :100%;float:left;" id="divexam">
			<h:panelGrid id="tabexamen1" layout="block" style="width :100%;align :center;">
				<h:panelGroup id="tabexamen" layout="block" style="width :100%;align :center;" rendered="#{rendezVous.plusInfos}">
										<p:dataTable value="#{rendezVous.diagnosticsDataModel}"
											var="diagnostic" id="listeExamensSelectionnes"
											styleClass="table-striped" emptyMessage="La liste des examens est vide.">
											<p:column headerText="#{msg.consultation_examen}">
												<h:outputText
													value="#{diagnostic.examen.libelle}" />
											</p:column>
											<p:column headerText="#{msg.consultation_date}">
												<p:calendar value="#{diagnostic.date}"
													pattern="MM/dd/yyyy HH:mm" navigator="true" lang="fr"
													locale="fr" requiredMessage="Le champ Date est requis" />
											</p:column>
											<p:column headerText="#{msg.consultation_medecin}">
												<p:selectOneMenu value="#{diagnostic.medecin.id}" required="true" id="#{diagnostic.examen.libelle}#{'_med'}">
													<f:selectItem itemLabel="Choisissez" itemValue="0"
														noSelectionOption="true" />
													<f:selectItems
														value="#{diagnosticAction.listeMedecinsRadiologie}"
														var="medecin"
														itemLabel="#{medecin.utilisateur.prenom} #{medecin.utilisateur.nom}"
														itemValue="#{medecin.id}" />
												</p:selectOneMenu>
												<p:spacer width="20" height="10" />
											</p:column>
											<p:column headerText="#{msg.consultation_salle}">
												<p:selectOneMenu value="#{diagnostic.salle.id}" required="true">
													<f:selectItem itemLabel="Choisissez" itemValue="0"
														noSelectionOption="true" />
													<f:selectItems
														value="#{diagnosticAction.listeSallesRadiologie}"
														var="salle" itemLabel="#{salle.nom}"
														itemValue="#{salle.id}" />
												</p:selectOneMenu>
												<p:spacer width="20" height="10" />
											</p:column>
										</p:dataTable>
									</h:panelGroup>
				</h:panelGrid>
				<div class="form-actions text-right">
					<h:form id="lpinfo1">
						<h:commandLink value="Moins d'infos" action="#{rendezVous.AfficherMoinsInfos}" rendered="#{rendezVous.plusInfos}" style="color :#004B8D;">
							<p:ajax update=":fnewRendezvous:tabexamen1,:fnewRendezvous:lpinfo,:fnewRendezvous:lpinfo1"/>
						</h:commandLink>
					</h:form>
				</div>
			</div>
			<div class="form-actions text-right">
				<p:commandButton styleClass="btn btn-primary" 
					value="#{msg.NOUVEAU_PATIENT_BT_Enregister}" 
					action="#{rendezVous.enregistrerRendeVous}"
					update=":fnewRendezvous:tabdateservice,:fnewRendezvous:tabexamen1,:fnewRendezvous:pinfopatient" process="@form"/>
							&nbsp;&nbsp;&nbsp;
				<p:commandButton styleClass="btn" value="#{msg.NOUVEAU_PATIENT_BT_ANNULER}"/>
			</div>
			</h:form>
			<h:form id="patsel">
								<p:growl id="growl" showDetail="false" life="10000" />
								<p:messages id="msg" />
								<p:dialog id="dialogrendezvous" header="Liste des Patients" widgetVar="dlgrendezvous" modal="true" maximizable="false" minimizable="false" resizable="false" width="55%">
									<p:dataTable id="pat" var="patient" value="#{listepatient}"
										rowKey="#{patient.id}" paginator="true" rows="10"
										selection="#{patientAction.patientSelectioner}"
										filteredValue="#{filtrelistepatient}" selectionMode="single"
										paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
										rowsPerPageTemplate="5,10,15" paginatorPosition="bottom">
										<p:ajax event="rowDblselect" update=":fnewRendezvous:pinfopatient" oncomplete="dlgrendezvous.hide()"/>
										<f:facet name="header">
            	Liste patient
       			</f:facet>
										<p:column filterBy="#{patient.id}" sortBy="#{patient.id}">
											<f:facet name="header">#{msg.patient_num_dossier}</f:facet>
		           	 #{patient.id}
		        </p:column>
										<p:column filterBy="#{patient.nom}" sortBy="#{patient.nom}">
											<f:facet name="header">#{msg.patient_nom}</f:facet>
		             #{patient.nom}
		        </p:column>
										<p:column filterBy="#{patient.prenom}"
											sortBy="#{patient.prenom}">
											<f:facet name="header">#{msg.patient_prenom}</f:facet>
		             #{patient.prenom}
		        </p:column>
										<p:column filterBy="#{patient.dateNissance}"
											sortBy="#{patient.dateNissance}">
											<f:facet name="header"> #{msg.patient_dateNaissance}</f:facet>
											<h:outputText value=" #{patient.dateNissance}">
												<f:convertDateTime pattern="dd/MM/yyyy HH:mm" type="date" />
											</h:outputText>
										</p:column>
										<p:column>
											<f:facet name="header">#{msg.listepatient_profil}</f:facet>
		             #{patient.beneficiaire.id == NULL ? 'Particulier' : 'Assuré'}
		        </p:column>
										<p:column>
											<f:facet name="header">#{msg.listepatient_client}</f:facet>
		             #{patient.beneficiaire.id == NULL ? '...' : patient.beneficiaire.clientTaux.client.designation}
		        </p:column>
									</p:dataTable>
								</p:dialog>
								</h:form>
						</div>
					</div>
				</div>
			</div>
			<script type="text/javascript">  
				 //<![CDATA[ 
				    function handleLoginRequest(xhr, status, args) {
				        if(args.validationFailed){   
				        	document.getElementById("fnewRendezvous:dateRv_input").className = "ui-inputfield ui-widget ui-state-default ui-corner-all hasDatepicker";
				        	document.getElementsByClassName = function(className, elmt)
						    {
						    	   var selection = new Array();
						    	   var regex = new RegExp("\\b" + className + "\\b");
						    	 
						    	   // le second argument, facultatif
						    	   if(!elmt)
						    	      elmt = document;
						    	   else if(typeof elmt == "string")
						    	      elmt = document.getElementById(elmt);
						    	    
						    	   // on sélectionne les éléments ayant la bonne classe
						    	   var elmts = elmt.getElementsByTagName("*");
						    	   for(var i=0; i<elmts.length; i++)
						    	      if(regex.test(elmts[i].className))
						    	         selection.push(elmts[i]);
						    	   return selection;
						    }
				        	var doc=document.getElementsByClassName('hasDatepicker','fnewRendezvous');
					    	for(var i=0; i<doc.length; i++){
					    		$(doc[i]).removeClass('ui-state-error');
					    	}
				        }
				    }
				  //]]>  
			</script>
		</div>
	</ui:define>
</ui:composition>