<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:s="http://jboss.org/schema/seam/taglib"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j"
	>     
	
	
	<h:body  onload="accordion.unselect(0)">
	
			<p:ajaxStatus onstart="statusDialog.show();" onsuccess="statusDialog.hide();"/>  
			              
			<p:dialog modal="true" widgetVar="statusDialog" header="Veuillez patientez .."  draggable="false" closable="false">  
			    <p:graphicImage value="/img/loading3.gif" />  
			</p:dialog>
			 	
   
   
     
   
			 	 	
 	 
	<p:dialog  header="#{msg.RENDEZ_VOUS_NOUVEAU}" widgetVar="dlg4" resizable="false"
		width="950" showEffect="clip" hideEffect="fold" id="dialog77"
		 >
		
		<h:panelGrid id="display44" columns="2" cellpadding="4">
		 

			<p:panel header="#{msg.RENDEZ_VOUS_INFOPATIENT}" toggleable="true"
				toggleOrientation="horizontal" toggleSpeed="375">

				<h:panelGrid id="display55" columns="5" cellpadding="4">

					<h:outputText value="#{msg.RV_PATIENT_NOM}:" />
					<h:inputText id="nomPatient" value="#{rendezVous.nomPatient}" style="font-weight:bold"  />
													            
													            &#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;
													            &#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;
					 <h:outputText value="#{msg.patient_sexe}: " />
					<p:selectOneRadio id="sexePatient" value="#{rendezVous.sexePatient}">
						<f:selectItem itemLabel="M" itemValue="M" />
						<f:selectItem itemLabel="F" itemValue="F" />
					</p:selectOneRadio>

					<h:outputText value="#{msg.RV_PATIENT_PRENOM}:" />
					<h:inputText id="prenomPatient" value="#{rendezVous.prenomPatient}" style="font-weight:bold" />
													            
													            &#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;
													            &#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;
													             
				    <h:outputText value="#{msg.RENDEZ_VOUS_TEL} :" />
					<h:inputText id="telPatient" value="#{rendezVous.telPatient}" style="font-weight:bold" />


					<h:outputText value="#{msg.RENDEZ_VOUS_DATENAIS} :" />
					<!-- <h:inputText id="datenais" value="#{rendezVous.rvSelected.patient.dateNissance}" style="font-weight:bold">
													               <f:convertDateTime  pattern="dd/MM/yyyy"  type="date"/>
													            </h:inputText>  -->
													     
					<p:calendar id="datenaisPatient" pattern="dd/MM/yyyy"  value="#{rendezVous.dateNaissanceP}"  />
													            
													            &#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;
													            &#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;
													             
					<h:outputText value="#{msg.NOUVEAU_PATIENT_EMAIL}:" />
					<h:inputText id="emailPatient" value="#{rendezVous.emailPatient}" style="font-weight:bold" />



				</h:panelGrid>

			</p:panel>
			<br />
			<p:panel header="#{msg.RV_TITRE}" toggleable="true"
				toggleOrientation="horizontal" toggleSpeed="275">

				<h:panelGrid id="display88" columns="5" cellpadding="4">

					<h:outputText value="#{msg.rendez_vous_date} :" />

					<!-- <h:inputText id="dateRV" value="#{rendezVous.rvSelected.date}" style="font-weight:bold">
													              <f:convertDateTime pattern="dd/MM/yyyy"/>
													            </h:inputText>
													             -->
					<p:calendar id="dateRVPatient" pattern="dd/MM/yyyy" value="#{rendezVous.dateRendezvousP}" />
													            
													            &#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;
													            &#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;
													             
					<h:outputText value="#{msg.RENDEZ_VOUS_HEUREDEB} :" />
					<h:inputText id="heureDebPatient" style="font-weight:bold"  value="#{rendezVous.heureDebPatient}"/>


					<h:outputText value="#{msg.RENDEZ_VOUS_SERVICE} :" />
					<h:selectOneMenu id="servicePatient" value="#{rendezVous.servicePatient}"  valueChangeListener="#{rendezVous.chargerMotif}">
					  					<f:selectItem itemLabel="Selectionnez un service" itemValue=""	noSelectionOption="true" />
										<f:selectItems id="serv" value="#{rendezVous.services}" itemLabel="#{b.key}" itemValue="#{b.value}" var="b" />
										<p:ajax  event="change" update="motifPatient"  /> 
					</h:selectOneMenu>
					
													            
													            &#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;
													            &#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;
													             
					<h:outputText value="#{msg.RV_MOTIF} :" />
					 	   <h:selectOneMenu id="motifPatient" value="#{rendezVous.motifPatient}"  >
				         		<f:selectItem itemLabel="Selectionnez un motif" itemValue="" noSelectionOption="true" />
				         		<f:selectItems id="mot" value="#{rendezVous.listMotifParService}" itemLabel="#{c.key}" itemValue="#{c.value}" var="c"  />
			         		</h:selectOneMenu>
			         		
					 
				</h:panelGrid>
			</p:panel>
			<br />
			
						 
			    
			<p:accordionPanel widgetVar="accordion" id="accordp1">
			 		
									
			   <p:tab title="#{msg.RENDEZ_VOUS_PLUSDINFO}" >
			      <h:panelGrid id="dispInfoplus" columns="6" cellpadding="4">

					<!-- Ligne 1 -->
					<h:outputText value="#{msg.RENDEZ_VOUS_DATENAIS}" />
					<p:calendar id="dateNaiss" pattern="dd/MM/yyyy"  value="#{rendezVous.dateNaissanceP}"/>

					<h:outputText value="#{msg.NOUVEAU_PATIENT_PROFESSION} :" />
					<h:inputText id="profession" style="font-weight:bold"  value="#{rendezVous.profession}"/>

					<h:outputText value="#{msg.NOUVEAU_PATIENT_TAILLE} :" />
					<h:inputText id="tail" style="font-weight:bold" value="#{rendezVous.tail}" />

					<!-- Ligne 2 -->
					<h:outputText value="#{msg.NOUVEAU_PATIENT_CNI} :" />
					<h:inputText id="cni" style="font-weight:bold" value="#{rendezVous.cni}"/>

					<h:outputText value="#{msg.RENDEZ_VOUS_TEL}* :" />
					<h:inputText id="telp" style="font-weight:bold" value="#{rendezVous.telp}" />

					<h:outputText value="#{msg.NOUVEAU_PATIENT_POIDS} :" />
					<h:inputText id="poids2" style="font-weight:bold" value="#{rendezVous.poids2}"/>


					<!-- Ligne 3 -->
					<h:outputText value="#{msg.NOUVEAU_PATIENT_ADRESSE} :" />
					<h:inputText id="address" style="font-weight:bold" value="#{rendezVous.address}"/>

					<h:outputText value="#{msg.NOUVEAU_PATIENT_EMAIL} :" />
					<h:inputText id="email2" style="font-weight:bold" value="#{rendezVous.email2}"/>

					<h:outputText value="#{msg.NOUVEAU_PATIENT_GROUPESANGUIN} :" />
					<h:selectOneMenu id="gs" value="#{rendezVous.gs}">
						<f:selectItem id="gs1" itemLabel="O+" itemValue="1" />
						<f:selectItem id="gs2" itemLabel="A+" itemValue="2" />
						<f:selectItem id="gs3" itemLabel="B+" itemValue="3" />
						<f:selectItem id="gs4" itemLabel="O-" itemValue="4" />
						<f:selectItem id="gs5" itemLabel="A-" itemValue="5" />
						<f:selectItem id="gs6" itemLabel="AB+" itemValue="6" />
						<f:selectItem id="gs7" itemLabel="B-" itemValue="7" />
						<f:selectItem id="gs8" itemLabel="AB-" itemValue="8" />
					</h:selectOneMenu>
					
					<h:outputText value="#{msg.NOUVEAU_PATIENT_PROFIL} :" />
					<h:selectOneMenu id="profil" value="#{rendezVous.prfil}">
						<f:selectItem id="profil1" itemLabel="profil1" itemValue="p1" />
						<f:selectItem id="profil2" itemLabel="profil2" itemValue="p2" />
						<f:selectItem id="profil3" itemLabel="profil3" itemValue="p3" />
					</h:selectOneMenu>
					<h:outputText value="#{msg.RENDEZ_VOUS_SIGNESPARTICULIERS} :"  />
					<h:inputText id="signespart" style="font-weight:bold" value="#{rendezVous.signespart}" />
					
					

				</h:panelGrid>
				
			      
			      <p:panel header="#{msg.NOUVEAU_PATIENT_Affiliation}" toggleable="true" toggleOrientation="horizontal" toggleSpeed="275">
			      
					         <h:panelGrid id="affId" columns="5">
					         
							 <h:outputText value="#{msg.NOUVEAU_PATIENT_SEXE}: " />
							        &#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;
									<p:selectOneRadio id="sexeAff" value="#{rendezVous.sexeAff}">
										<f:selectItem itemLabel="Lui-meme" itemValue="A1" />
										<f:selectItem itemLabel="Enfant" itemValue="A2" />
										<f:selectItem itemLabel="Epoux" itemValue="A3" />
										<f:selectItem itemLabel="Epouse" itemValue="A4" />
									</p:selectOneRadio>
		
					         </h:panelGrid>
					         <h:panelGrid id="AffId2" columns="5">
							<h:outputText value="#{msg.RV_PATIENT_PRENOM}" />
							<h:inputText id="prenomAff" value="#{rendezVous.prenomAff}" style="font-weight:bold" />
															            
										&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;
										&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;
						    <h:outputText value="#{msg.RV_PATIENT_NOM}:" />
							<h:inputText id="nomAff" value="#{rendezVous.nomAff}" style="font-weight:bold" />
															            
							<h:outputText value="#{msg.NOUVEAU_PATIENT_matricule}:" />
							<h:inputText id="matrAff" value="#{rendezVous.matrAff}" style="font-weight:bold" />
															            
										&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;
										&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;

							<h:outputText value="#{msg.NOUVEAU_PATIENT_police}:" />
							<h:inputText id="policeAff" value="#{rendezVous.policeAff}" style="font-weight:bold" />
															            
							<h:outputText value="#{msg.NOUVEAU_PATIENT_client} : " />
									<h:selectOneMenu id="clienAff" value="#{rendezVous.clienAff}" required="true" requiredMessage="Vous devez Choisir un client" >
										<f:selectItem itemLabel="-------------------" itemValue=""	noSelectionOption="true" />
										<f:selectItems id="b1" value="#{rendezVous.clientAssureurs}" itemLabel="#{b.key}" itemValue="#{b.value}" var="b" />
									</h:selectOneMenu>
									
										&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;
										&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;
																						            
							<h:outputText value="#{msg.NOUVEAU_PATIENT_tauxparticiation} : " />
									<h:selectOneMenu id="tauxAff" value="#{rendezVous.tauxAff}" required="true" requiredMessage="Vous devez Choisir un taux">
										<f:selectItem itemLabel="-------------------" itemValue=""	noSelectionOption="true" />
										<f:selectItems value="#{rendezVous.tauxAssurances}" itemLabel="#{t.key}" itemValue="#{t.value}" var="t" />
									</h:selectOneMenu>
									

							<h:outputText value="#{msg.NOUVEAU_PATIENT_TELEPHONE}" />
							<h:inputText id="telAff" value="#{rendezVous.telAff}" style="font-weight:bold" />
									 
										&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;
										&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;
										
							<h:outputText value="#{msg.NOUVEAU_PATIENT_EMAIL}" />
							<h:inputText id="emailAff" value="#{rendezVous.emailAff}" style="font-weight:bold" />
							
											            					         
					         </h:panelGrid>
			         
				  </p:panel>
			      
			   </p:tab>
			
			</p:accordionPanel>
			

		</h:panelGrid>
		<br />
	 <h:form id="insert">
		<h:panelGrid id="displayAct" columns="2" cellpadding="4">
			<p:commandButton value="Enregistrer" styleClass="btn btn-primary"  action="#{rendezVous.save_Rendezvous}"  oncomplete="dlg4.hide()" update=":form1:rdv"/>
			<p:commandButton value="Annuler" styleClass="btn btn-primary" type="button" onclick="dlg4.hide()" />
		</h:panelGrid>
    </h:form>
	</p:dialog>
 </h:body>
</ui:composition>  
