<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:s="http://jboss.org/schema/seam/taglib"
	xmlns:f="http://java.sun.com/jsf/core">

    <p:growl id="messages" showDetail="true" /> 
    
<p:dialog         header="Confirmation" 
					   widgetVar="dlgRepro" 
					   resizable="false" 
					   width="500" 
					   showEffect="clip" 
					   hideEffect="fold" 
					   id="dialogRe" 
					   >
		
<h:panelGrid id="displayRe" >
	   
	   <h:outputLabel value="Etes vous sur de reprogrammer ce RV ?"  style="text-align:center; white-space:nowrap"/>
    
       <br />
        <h:panelGrid id="btn1" columns="2"  style="text-align:center; white-space:nowrap">			
              <h:outputText value="Date reprogrammee" escape="false"/>
		      <p:calendar  id="dateRepro" value="#{rendezVous.dateRepro}" style="#{component.valid ? 'border-color :#CCCCCC;' : 'border-color :#CD0A0A;'};width:100%;font-weight:bold"
													pattern="dd/MM/yyyy" styleClass="input-xlarge" required="true" 
													validatorMessage="La date n'est pas valide"
													requiredMessage="La date est requise"/>
			<br/>
									   
         </h:panelGrid>
         
         <br/>
         
            <h:panelGrid id="btn2" columns="3"  style="text-align:center; white-space:nowrap">
            
                           <p:spacer width="70"/>
                           
                           <p:commandButton value="Oui"  
                				 styleClass="ui-confirmdialog-yes" 
	                			 icon="ui-icon-check"
	                			 actionListener="#{rendezVous.confirmeReprogrammationRV}"
	                			 oncomplete="dlgRepro.hide()" 
	                			 update=":form3:rdvann"	        
	                			 
                				 />
            				 
			    		 <p:commandButton value="Non" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" onclick="dlgRepro.hide()"/>       
		    </h:panelGrid>
  
 	</h:panelGrid>
	
 </p:dialog>
</ui:composition>