<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:s="http://jboss.org/schema/seam/taglib">
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport"
		content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
	<link href="../css/bootstrap.min.css" rel="stylesheet" type="text/css" />
	<link href="../css/bootstrap-responsive.min.css" rel="stylesheet"
		type="text/css" />
	<link href="../css/plugins/icheck/all.css" rel="stylesheet"
		type="text/css" />
	<link href="../css/style.css" rel="stylesheet" type="text/css" />
	<link href="../css/themes.css" rel="stylesheet" type="text/css" />
	<link href="/showcase/images/favicon.png" type="image/png" rel="shortcut icon"/>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.1/css/font-awesome.css" rel="stylesheet" />
</h:head>
<h:body>

	<div id="navigation">
		<div class="container-fluid">
			<a href="#" id="brand"></a> <a href="#" class="toggle-nav"
				rel="tooltip" data-placement="bottom"
				title="Afficher sous une autre vue"><i class="icon-reorder"></i></a>
			<ul class='main-nav'>
				<li><s:link view="/patient/home.seam"><span>Accueil</span></s:link></li>
			</ul>
			<div class="user">
				<ul class="icon-nav">
					<li class="dropdown sett"><a href="#" class='dropdown-toggle'
						data-toggle="dropdown"><i class="icon-cog"></i></a>
						<ul class="dropdown-menu pull-right theme-settings">
							<li><span>Largeur de la page</span>
								<div class="version-toggle">
									<a href="#" class='set-fixed'>Fixé</a> <a href="#"
										class="active set-fluid">Par défaut</a>
								</div></li>
							<li><span>Barre supérieure</span>
								<div class="topbar-toggle">
									<a href="#" class='set-topbar-fixed'>Fixé</a> <a href="#"
										class="active set-topbar-default">Par défaut</a>
								</div></li>
							<li><span>Sidebar</span>
								<div class="sidebar-toggle">
									<a href="#" class='set-sidebar-fixed'>Fixé</a> <a href="#"
										class="active set-sidebar-default">Par défaut</a>
								</div></li>
						</ul></li>
				</ul>
				<div class="dropdown">
					<a href="#" class='dropdown-toggle' data-toggle="dropdown">Bel'low
						Junior SALIF</a>
					<ul class="dropdown-menu pull-right">
						<li><a href="#.html">Editer votre profil</a></li>
						<li><a href="login.html">Déconnexion</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="container-fluid" id="content">
		<div id="left">
			<div class="subnav">
				<div class="subnav-title">
					<a href="#" class='toggle-subnav'><i class="icon-angle-down"></i><span>Patients</span></a>
				</div>
				<ul class="subnav-menu">
					<li><s:link view="/patient/home.seam">Consulter liste patients</s:link></li>
					<li><s:link view="/patient/nouveaupatient.seam">Créer dossier patient</s:link></li>
				</ul>
			</div>
			<div class="subnav">
				<div class="subnav-title">
					<a href="#" class='toggle-subnav'><i class="icon-angle-down"></i><span>Rendez-vous</span></a>
				</div>
				<ul class="subnav-menu">
					<li><h:outputLink value="Consulter liste RV" onclick="dlg4.show()" ></h:outputLink></li>
					<li><s:link onclick="addRendezvous:dlg4.show()" >Prise RV</s:link></li>
					<li class='dropdown'><a href="#" data-toggle="dropdown">Fiche
							RV</a>
						<ul class="dropdown-menu">
							<li><a href="#" data-toggle="modal" data-target="#myModal2">Consulter
									RV</a></li>
							<li><a href="#" data-toggle="modal" data-target="#myModal1">Modifier
									RV</a></li>
						</ul></li>
				</ul>
			</div>
			<div class="subnav">
				<div class="subnav-title">
					<a href="#" class='toggle-subnav'><i class="icon-angle-down"></i><span>Facturation</span></a>
				</div>
				<ul class="subnav-menu">
					<li><a href="page_facturation.html">Consulter liste factures</a></li>
					<li class='dropdown'><a href="#">Paiement facture</a></li>
				</ul>
			</div>
		</div>
		<div id="main">
			<ui:insert name="body" />			
		</div>
	</div>


</h:body>
</html>
