<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<f:view contentType="text/html" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:s="http://jboss.org/schema/seam/taglib"
	xmlns:p="http://primefaces.org/ui">
	<html>
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport"
		content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		
    <ui:insert name="title-liste-rendezvous" />
    <ui:insert name="title-liste-rendezvousannule" />
    <ui:insert name="title-liste-rendezvousconf" />
    <ui:insert name="title-liste-patients" />
    <ui:insert name="title-liste-patientsArchives" />
    <ui:insert name="title-nouveaupatient" />
    <ui:insert name="title-dossierpatient" />
    <ui:insert name="title-factureclient" />
    <ui:insert name="title-facturepatient" />
    <ui:insert name="title-nouvelExamen" />
    <ui:insert name="title-radiologie" />
    
	<!-- Apple devices fullscreen -->
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<!-- Apple devices fullscreen -->
	<meta name="apple-mobile-web-app-status-bar-style"
		content="black-translucent" />
	<meta name="viewport"
		content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
	<link rel="shortcut icon" href="#{applicationPath}/img/demo/favicon.ico" type="image/x-icon" /> 
	<link href="#{applicationPath}/css/bootstrap.min.css" rel="stylesheet"
		type="text/css" />
	<link href="#{applicationPath}/css/bootstrap-responsive.min.css"
		rel="stylesheet" type="text/css" />
	<link href="#{applicationPath}/css/plugins/icheck/all.css"
		rel="stylesheet" type="text/css" />
	<link href="#{applicationPath}/css/style.css" rel="stylesheet"
		type="text/css" />
	<link href="#{applicationPath}/css/themes.css" rel="stylesheet"
		type="text/css" />
	<link href="#{applicationPath}/css/font-awesome.css" rel="stylesheet" />
	<link
		href="//netdna.bootstrapcdn.com/font-awesome/4.0.1/css/font-awesome.css"
		rel="stylesheet" />
	<script src="#{applicationPath}/js/application.min.js"></script>
	<script src="#{applicationPath}/js/bootstrap.min.js"></script>
	<script src="#{applicationPath}/js/medicis.js"></script>
</h:head>
<body>
	<div id="navigation">
		<div class="container-fluid">
			<a href="#" id="brand"><img
				src="#{applicationPath}/img/logo-medicis1.png" alt=""
				style="margin-top: -10px" /></a> <a href="#" id="brand"></a> <a
				href="#" class="toggle-nav" rel="tooltip" data-placement="bottom"
				title="Afficher sous une autre vue"><i class="icon-reorder"></i></a>
			<ul class='main-nav'>
				<li><s:link view="/patient/home.seam">
						<span>Accueil</span>
					</s:link></li>
			</ul>
			<div class="user">
				<ul class="icon-nav">
					<li class="dropdown sett"><a href="#" class='dropdown-toggle'
						data-toggle="dropdown"><i class="icon-cog"></i></a>
						<ul class="dropdown-menu pull-right theme-settings">
							<li><span>Largeur de la page</span>
								<div class="version-toggle">
									<a href="#" class='set-fixed'>Fixé</a> <a href="#"
										class="active set-fluid">Par défaut</a>
								</div></li>
							<li><span>Barre supérieure</span>
								<div class="topbar-toggle">
									<a href="#" class='set-topbar-fixed'>Fixé</a> <a href="#"
										class="active set-topbar-default">Par défaut</a>
								</div></li>
							<li><span>Sidebar</span>
								<div class="sidebar-toggle">
									<a href="#" class='set-sidebar-fixed'>Fixé</a> <a href="#"
										class="active set-sidebar-default">Par défaut</a>
								</div></li>
						</ul></li>
				</ul>
				<div class="dropdown">
					<a href="#" class='dropdown-toggle' data-toggle="dropdown">#{userconnecte.prenom}
						#{userconnecte.nom} </a>
					<ul class="dropdown-menu pull-right">
						<li><a href="#.html">Editer votre profil</a></li>
						<li><s:link view="/home.seam" action="#{identity.logout}">Déconnexion</s:link></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid" id="content">
		<div id="rigth">
			<h:form action="#" styleClass="search-form">
				<div class="search-pane">
					<p:inputText id="search" name="search">
						<p:watermark for="search" value="Recherche..." />
					</p:inputText>
					<button type="submit">
						<i class="icon-search"></i>
					</button>
				</div>
			</h:form>
			<div class="subnav">
				<div class="subnav-title">
					<a href="#" class='toggle-subnav'><i class="icon-angle-down"></i><span>Patients</span></a>
				</div>
				<ul class="subnav-menu">
					<li><s:link view="/patient/home.seam">Liste patients</s:link></li>
					<li><s:link view="/patient/liste_patient_archiver.seam">Liste patients Archivé</s:link></li>
					<li><s:link view="/patient/nouveaupatient.seam">Créer dossier patient</s:link></li>
				</ul>
			</div>
			<h:form id="priserdv">
			<div class="subnav">
				<div class="subnav-title">
					<a href="#" class='toggle-subnav'><i class="icon-angle-down"></i><span>Rendez-vous</span></a>
				</div>
				<ul class="subnav-menu">
					<li><s:link view="/rendezvous/listeRendezVous.seam" action="#{rendezVous.getAllRendezvous()}">liste Rendez-Vous</s:link></li>
					<li><s:link view="/rendezvous/listeRendezvousConfirmes.seam" action="#{rendezVous.getRendezvousConfirmes()}">Rendez-Vous confirmé(s))</s:link></li>
					<li><s:link view="/rendezvous/listeRendezvousAnnules.seam" action="#{rendezVous.getRendezvousAnnules()}">Rendez-Vous annulé(s)</s:link></li>
					<li><p:commandLink onclick="dlgrendezvous.show()" value="Prise RV"/></li>
					<!-- <li><s:link view="/rendezvous/nouveauRendezvous.seam">Prise RV</s:link> </li> -->
				</ul>
			</div>
			</h:form>
			<div class="subnav">
				<div class="subnav-title">
					<a href="#" class='toggle-subnav'><i class="icon-angle-down"></i><span>Facturation</span></a>
				</div>
				<ul class="subnav-menu">
					<li class='dropdown'><a href="#" data-toggle="dropdown">Consulter liste factures</a>
						<ul class="dropdown-menu">
							<li><s:link view="/patient/facture/list.seam">Patients</s:link>
							</li>
							<li><s:link view="/patient/facture/listFactureClient.seam" action="#{factureAction.listFacturesClient}">Clients</s:link></li>
						</ul></li>
				</ul>
			</div>
		</div>
		<div id="main">
			<ui:insert name="body" />
			<h:form id="form-ajax-status">
				<p:dialog widgetVar="status" modal="true" closable="false" styleClass="ajax-status" resizable="false"
					header="#{msg.LOADING_HEADER}">
					<h:panelGrid columns="2">
						<p:graphicImage value="/img/gif-load.gif" />
						<h:outputText value="#{msg.LOADING_MESSAGE}" />
					</h:panelGrid>
				</p:dialog>
				<p:ajaxStatus onstart="PF('status').show();"
					oncomplete="PF('status').hide();" />
			</h:form>
		</div>
	</div>
</body>
	</html>
</f:view>
